<ion-header>
    <ion-navbar hideBackButton>
        <ion-row>
            <ion-col class="header-col" width-10>
                <button ion-button clear>
                 <ion-icon class="cancel-font" name="cancel" color="secondary" ios="ios-arrow-round-back" md="md-arrow-back" (click)="back()"></ion-icon>
                </button>
            </ion-col>
            <ion-col width-80>
                <h3>{{chatWith}}</h3>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content id="content1">
    <!--<ion-scroll scrollY="true">-->
    <div class="chat-content">
        <ion-item text-wrap>
            <ion-label>
                This is private discussion with {{chatWith}} created by <span ion-text color="secondary">You</span> on {{discussion.createdDate |
                amCalendar}}.No one else can view this discussion.
            </ion-label>
        </ion-item>
        <ion-list>
            <ion-item *ngFor="let msg of discussion.messages" text-wrap>
                <ion-avatar item-left>
                    <img [src]="msg.user_avatar" *ngIf="msg.user_avatar">
                    <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!msg.user_avatar" />
                </ion-avatar>
                <h2>{{msg.user_firstname}} {{msg.user_lastname}}</h2>
                <p>{{msg.timestamp | amCalendar}}</p>
                <p>{{msg.text}}</p>
            </ion-item>
        </ion-list>
    </div>
    <!--</ion-scroll>-->
</ion-content>
<ion-footer>
     <ion-label class="typings-label" color="secondary" *ngIf="discussion.typings">{{discussion.typings.replace(', '+ this.user.firstname + ' is typing..', '').replace(this.user.firstname + ' is typing..', '')}}</ion-label>
    <ion-row>
        <ion-col width-80>
            <ion-input type="text" id="msgFld" placeholder="Write a message..." [(ngModel)]="msg" (focus)="focusIn()" (focusout)="focusOut()"></ion-input>
        </ion-col>
        <ion-col width-20>
            <button ion-button color="secondary" clear (click)="send()">Send</button>
        </ion-col>
    </ion-row>
</ion-footer>