open-private-discussion-page {
    .ion-ios-arrow-round-back {
        font-size: 300% !important;
    }
    .ion-md-arrow-back {
        position: absolute;
        top: 15px;
    }
    ion-header .button-ios {
        margin: 0;
        padding: 0;
        height: inherit;
    }
    ion-header .button-md {
        margin: 0;
        height: inherit;
    }
    ion-footer .button-md,
    ion-footer .button-ios {
        padding: 0;
    }
    .chat-content {
        position: absolute;
        max-height: 100%;
        bottom: 0;
    }
    .typings-label{
       position: fixed;
        z-index: 99;
        color: #a9aaac !important;
        background: #fff;
        width: 100%;
        margin: 0;
        padding-left: 16px;
        //  bottom: 11%;
    }
    .msg-sendername{
        display: inline-block;
    }
    .msg-status-icon{
        position: absolute;
        right: 0;
        padding-right: 10pt;
        font-size: 200%;
    }
     .font1{
        font-family: Bernina-Regular, sans-serif;
        font-size: 17px !important;
        color: #a9aaac !important;
    }
    .font2{
        font-family: 'Bernina-Regular', sans-serif;
        font-size: 13px;
        color: #a9aaac;
    }
    .line-height{
        line-height: 24px;
        white-space: normal;
    }
    .font3{
        font-family: Bernina-Regular, sans-serif;
        font-size: 17px !important;
        color: #35373a !important;
    }
    .font4{
        font-family: Bernina-semibold, sans-serif;
        font-size: 17px !important;
        color: #35373a !important;
    }
    .font5{
        font-family: Bernina-Regular, sans-serif;
        font-size: 17px !important;
        color: #35373a !important;
    }
    .read-status{
        // color:#478aff;
        color:#32b38a;
    }
    .item-block{
        align-items: flex-start;
    }
    .councils-icon__checkmark{
        // position: absolute;
        // right: 16px;
        font-size: 8px;
    }
    .councils-icon__double_checkmark{
        // position: absolute;
        // right: 16px;
        font-size: 8px;
    }
    .right-align{
        position: absolute;
        right: 16px;
        font-size: 12px;
    }
    ion-item h2{
        display: inline-block;
    }
    .msg-col{
        border-right: 1px solid lightgray;
    }
    ion-list{
        margin-bottom: 0 !important;
    }
     ion-content{
        background: #FAFAFA !important;
    }
    .description{
         background: #FAFAFA !important;
         padding-bottom:15px;
         border-bottom: none;
    }
    .text-input-ios,.text-input-md,.text-input-wp{
        margin: 5px 0 0 0 !important;
    }
    ion-footer .button-ios,ion-footer .button-md,ion-footer .button-wp{
        height: 1.5em;
    }
     .description.item-ios,.description.item-md{
        border-bottom: 2px solid #E8E9EB;
    }
     ion-footer ion-textarea{
        padding-left: 16px !important;
    }
    .typings-label1{
        padding-top:10px !important;
    }
}