<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
      <ion-icon class="menuicon" name="menu" color="secondary"></ion-icon>
    </button>
    </ion-buttons>
    <h4 text-center><b>Council Assignments</b></h4>
    <ion-buttons end>
      <button ion-button>
      <ion-icon class="notificationsicon" name="notifications-outline" color="secondary"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>

  <ion-list inset>
    <ng-container *ngIf="councilAssignmentsArray.length">
      <ion-item (click)="assignmentSelected(item, i)" *ngFor="let item of councilAssignmentsArray; let i = index" [attr.data-index]="i">
        <ion-icon name="radio-button-off" color="secondary" item-left [ngClass]="{'active': selectedIdx == i}"></ion-icon>
        <ion-icon name="radio-button-on" color="secondary" item-left [ngClass]="{'active': selectedIdx != i}"></ion-icon>
        <h3>{{item.description}}</h3>
        <p><span>{{item.councilname}}</span><span style="position: absolute;right: 0">{{item.assigneddate | amCalendar}}</span>
        </p>
      </ion-item>
    </ng-container>
    <ng-container *ngIf="!councilAssignmentsArray.length">
      <p class="text-content">There are no council assignments</p>
    </ng-container>
  </ion-list>

</ion-content>