page-about {
    p {
        text-align: justify;
        text-justify: inter-word;
        font-size:15px;
        font-family: Bernina-Regular;
    }

    h5 {
        font-family: Bernina-SemiBold;
        font-size: 17px;
    }
}


