page-about {
    p {
        text-align: left;
        text-justify: inter-word;
        font-size: 17px;
        font-family: Bernina-Regular;
    }
    h3 {
        text-align: left;
        text-justify: inter-word;
        font-size: 17px;
        font-family: Bernina-Regular;
    }
    h5 {
        font-family: Bernina-SemiBold;
        font-size: 17px;
    }
    span.li {
        display: list-item;
        margin-left: 2em
    }
    td,
    th {
        padding: 0;
        font-size: 17px;
        font-family: Bernina-Regular;
    }
}