forgot-pwd {
ion-input{
    padding-bottom:10px;
}
.createBtn{
    margin-top: 20px;
}
.createBtn button:disabled{
color:#222;
}
.cancelBtn{
    font-size: 17px;
}
ion-list ion-item .mainheading{
    margin-top: 50px;
    font-size:15px;
}
ion-list ion-item .subtext1{
    margin-top:10px;
    font-size:12px;

}
ion-list ion-item .subtext2{
    font-size:12px;

}
ion-content ion-item ion-label{
    color:#a9aaad;
}
ion-list ion-item{
    border-bottom-color: #f4f4f4;

}
.inputtype {
    margin-top: 80px !important;
}
   .create-title {
        font-family: Gotham-Medium, sans-serif;
        font-size: 28px;
        color: #35373A;
    }
    .create-header {
        display: block;
        margin-top: 74px;
        text-align: center;
    }
    .create-subheader {
        font-family: Bernina-Regular !important;
        display: block;
        position: relative;
        margin-top: 14px;
        text-align: center;
        font-size: 17px;
    }
}