<ion-content has-footer="true">
	<div class="login-header">

		<span class="login-title">Log In</span>
		<div class="login-subheader">
			Log in to your Councils account
		</div>
		<!--<p class="subtext2">to create your Councils account</p>-->

	</div>
	<form class="formcontent" #loginForm="ngForm">
		<ion-item [class.invalid]="showInValidEml" class="input-item">
			<ion-label class="inputtype" floating> Email</ion-label>
			<ion-input type="email" name="email" id="email" [(ngModel)]="loginCredentials.email" (keyup)="keypresssed($event)" required></ion-input>
		</ion-item>
		<ion-label class="error-msg" *ngIf="showInValidEml">Invalid email</ion-label>

		<ion-item [class.invalid]="showInValidPwd" class="input-item">
			<ion-label class="inputtype" floating> Password</ion-label>
			<ion-input type="password" id="password" name="password" minLength='6' [(ngModel)]="loginCredentials.password" (keyup)="pwdChange($event)"></ion-input>
		</ion-item>
		<ion-label class="error-msg" *ngIf="showInValidPwd">Invalid password</ion-label>

		<div class="login-button-container">			
			<council-spinner *ngIf="show"></council-spinner>
			<button color="secondary" ion-button clear class="button button-clik" name="loginbtn" *ngIf="!show" id="loginbtn" type="submit"
			    [disabled]="!isValidEmail || !isValidPwd" text-capitalize (click)="validateUser(loginForm.value)">Log In</button>
		</div>
	</form>
</ion-content>

<ion-footer>
	<button ion-button clear color="secondary" class="button button-clik forgotPasswordstyles" name="forgotPassword" block text-capitalize
	    (click)="forgotPassword()">Forgot password?</button>
	<button ion-button clear color="secondary" class="button button-clik" name="noAccount" block text-capitalize (click)="noAccount()">Don't have an account?</button>
</ion-footer>