<ion-content has-footer="true">
    <div class="login-header">

        <span class="login-title">Log In</span>
        <div class="login-subheader">
            Log in to your Councils account
        </div>
        <!--<p class="subtext2">to create your Councils account</p>-->

    </div>

    <form class="formcontent" (ngSubmit)="login()" #loginForm="ngForm" novalidate>
        <ion-item class="input-item">
            <ion-label class="inputtype" floating> Email</ion-label>
            <ion-input type="email" name="email" id="email" [(ngModel)]="loginCredentials.email" required></ion-input>
        </ion-item>
        <ion-item class="input-item">
            <ion-label class="inputtype" floating> Password</ion-label>
            <ion-input type="password" id="password" name="password" [(ngModel)]="loginCredentials.password" required></ion-input>
        </ion-item>

        <div class="login-button-container">
            <ion-spinner name="dots" *ngIf="show" color="primary" ></ion-spinner>
            <button color="secondary" ion-button clear class="button button-clik" name="loginbtn" *ngIf="!show" id="loginbtn" type="submit" [disabled]="!loginForm.form.valid" text-capitalize>Log In</button>
        </div>
    </form>
</ion-content>

<ion-footer>
        <button ion-button clear color="secondary" class="button button-clik forgotPasswordstyles"  name="forgotPassword" block text-capitalize (click)="forgotPassword()">Forgot password?</button>
        <button ion-button clear color="secondary" class="button button-clik"  name="noAccount" block text-capitalize (click)="noAccount()">Don't have an account?</button>
</ion-footer>