page-login {
    .login-title {
        font-family: Gotham-Medium, sans-serif;
        font-size: 28px;
        color: #35373A;
    }
    .login-header {
        display: block;
        margin-top: 74px;
        text-align: center;
    }
    .login-subheader {
        font-family: Bernina-Regular;
        color:#35373A;
        display: block;
        position: relative;
        margin-top: 14px;
        text-align: center;
        font-size: 17px;
        margin-bottom:35px;
    }
    .login-button-container {
        padding-top: 12px;
        text-align: center;
        margin: auto;
    }
    .login-button {
        width: 160px;
        height: 72px;
        margin: auto;
    }
    .login-button:disabled,
    .login-button button:disabled {
        color: #222;
    }
    .item-md,
    .item-ios {
        padding: 0 16px !important;
    }
    ion-content ion-item ion-label {
        color: #a9aaad;
    }
    ion-list ion-item {
        border-bottom-color: #f4f4f4;
    }
    .inputtype {
        font-family: "Bernina-Regular", sans-serif;
        font-size: 17px;
    }
    span.button-inner {
        text-transform: none;
    }
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .list-md .item-input.input-has-focus:last-child {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .list-md .item-input.input-has-focus:last-child .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .forgotPasswordstyles{
        padding-top: 15px !important;
    }
}