<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-row>
            <ion-col class="header-col">
                <ion-icon class="councils-icon__back menu-icon" name="cancel" item-left color="secondary" (click)="back()"></ion-icon>
            </ion-col>
            <ion-col width-80 class="header-col2">
                <ion-title text-center>Edit Members</ion-title>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let user of users" (click)="editMember(user)">
            <ion-avatar item-left>
                <img [src]="(user)?.avatar" class="avatarImage" *ngIf="(user)?.avatar && (user)?.avatar !== 'avatar'" />
                <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!(user)?.avatar || (user)?.avatar === 'avatar'" />
            </ion-avatar>
            <h3>{{user.firstname}} {{user.lastname}}</h3>
            <p><span>{{user.councilnames}}</span></p>

            <button ion-button item-right clear>   
             <ion-icon class="councils-icon__chevron_right fwd-arrow-grey" ></ion-icon>

            </button>
        </ion-item>
    </ion-list>
</ion-content>