memberslist-page{
    ion-list{
        border-bottom: 1px solid lightgray;
    }
    .font1{
        font-family: Bernina-Regular, sans-serif;
        font-size: 17px !important;
        color: #35373a !important;
    }
    .font2{
        font-family: 'Bernina-Regular', sans-serif;
        font-size: 15px;
        color: #a9aaac;
    }
}