<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-row>
            <ion-col class="header-col">
                <button ion-button item-right clear class="button button-clik" (click)="back()">   
                <ion-icon class="councils-icon__back menu-icon" name="cancel" item-left color="secondary"></ion-icon>
                                </button>
            </ion-col>
            <ion-col width-80 class="header-col2">
                <ion-title text-center>Edit Members</ion-title>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item [ngClass]="i===0?'ion-item-first':(i===users.length - 1? 'ion-item-last': 'ion-item-middle')" (click)="editMember(user)"
            *ngFor="let user of users; let i = index" [attr.data-index]="i">
            <!--<ion-item [ngClass]="i===0?'ion-item-first':(i===users.length - 1? 'ion-item-last': 'ion-item-middle')" *ngFor="let user of users; let i = index" [attr.data-index]="i" (click)="editMember(user)">-->
            <ion-avatar item-left>
                <img [src]="(user)?.avatar" class="avatarImage" *ngIf="(user)?.avatar && (user)?.avatar !== 'avatar'" />
                <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!(user)?.avatar || (user)?.avatar === 'avatar'" />
            </ion-avatar>
            <h3 class="font1">{{user.firstname}} {{user.lastname}}</h3>
            <!--<p><span class="font2">{{user.councilnames}}</span></p>-->
            <svg height="8" width="8">
                <circle cx="4" cy="4" r="4" [attr.fill]='user.status' />
            </svg>
            <button class="button button-clik" ion-button item-right clear>   
             <ion-icon class="councils-icon__chevron_right fwd-arrow-grey" ></ion-icon>

            </button>
        </ion-item>
    </ion-list>
</ion-content>