agenda-lite-edit{
    .item-styles {
        font-family: Bernina-Regular !important;
        font-size: 13pt !important;
        color: #35373a !important;
    }
    .label-styles{
        font-family: Bernina-Regular !important;     
        font-size: 10pt !important;           
        color:#3cb18a !important;
        padding-left:5%;
    }
}