page-display-first{
    
    
    .notificationsicon {
        color: #32b38a;
        margin-left: 10px;
        font-size: 24px;
        position: relative;
        font-weight: bold;
    }
    .moreicon {
        color: #32b38a;
    }

    .content {
        text-align: center;
    }
    .welcome-label{
        font-family: Gotham-Medium;
        font-size: 28px;
        color:#35373a;
    }
    .intro-text{
        font-family: Bernina-Regular;
        font-size: 17px;
        color:#35373a;
    }
    ion-content div{
        position: relative;
        top:30%;
    }
 
}