page-donations-welcome {
   ion-content{
        background-color:#FAFAFA !important;
    }
    ion-label{
        white-space: pre-wrap;
        text-align: center;
        overflow: visible;
        margin: 0 !important;
    }
    .donations-container{
        position: absolute;
        top:30%;
        margin:0 23px;
    }
    .main-text{
        font-family: Bernina-semibold, sans-serif;
        font-size: 24px !important;
        color: #35373a !important;
    }
    .sub-text{
        font-family: Bernina-Regular, sans-serif;
        font-size: 17px !important;
        color: #35373a !important;
        line-height: 24px;
        padding-top:10px;
    }
    .donation-btn{
        margin-top: 50px;
    }
}
