<ion-header>
    <ion-title>@Mentions</ion-title>
</ion-header>

<ion-content>
    <ion-item *ngFor="let activity of activities" text-wrap (click)="showActivity(activity)">
        <!--<ion-avatar item-left>
            <img [src]="activity.createdUserAvatar" class="avatarImage" *ngIf="activity.createdUserAvatar && activity.createdUserAvatar !== 'avatar'"
            />
            <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!activity.createdUserAvatar || activity.createdUserAvatar === 'avatar'"
            />
        </ion-avatar>-->
        <!--<h3 class="name">{{activity.createdUserName}}</h3>-->
        <p class="text-content" *ngIf="activity.entity === 'Agenda'"><span class="username">@{{user.firstname + user.lastname}}</span> you’ve been invited to give the {{activity.action}}</p>
        <p class="text-content" *ngIf="activity.entity === 'Assignment'"><span class="username">@{{user.firstname + user.lastname}}</span> has been asked to {{activity.entityDescription}}</p>
        <p class="text-content" *ngIf="activity.entity === 'Discussion'"><span class="username">@{{user.firstname + user.lastname}}</span> Your name has been mentioned in a discussion</p>
        <p class="timestamp">{{activity.timestamp | customdateformat}}</p>
        <p class="timestamp">{{activity.councilname}} {{activity.entity}}</p>
    </ion-item>
</ion-content>
<ion-footer>
</ion-footer>
<!--</div>-->