<div class="heading">
    <ion-title>@Mentions</ion-title>
</div>
<!--<div class="content">-->
<ion-content>
    <ion-item *ngFor="let activity of activities" text-wrap (click)="showActivity(activity)">
        <ion-avatar item-left>
            <img [src]="activity.createdUserAvatar" class="avatarImage" *ngIf="activity.createdUserAvatar && activity.createdUserAvatar !== 'avatar'"
            />
            <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!activity.createdUserAvatar || activity.createdUserAvatar === 'avatar'"
            />
        </ion-avatar>
        <h3 class="name">{{activity.createdUserName}}</h3>
        <p class="text-content" *ngIf="activity.entity !== 'Discussion'">{{activity.entity}} has been {{activity.action}}</p>
        <p class="text-content" *ngIf="activity.entity === 'Discussion'">Your name has been mentioned in a discussion</p>
        <p class="timestamp">{{activity.timestamp | customdateformat}}</p>
        <p class="timestamp">{{activity.entity}}</p>
    </ion-item>
</ion-content>
<ion-footer>
</ion-footer>
<!--</div>-->