<ion-header>
    <ion-navbar hideBackButton>
        <ion-row>
            <ion-col class="header-col">
                <button ion-button clear class="button button-clik" (click)="cancel()">   
                <ion-icon class="councils-icon__close menu-icon" name="cancel" item-left color="secondary"></ion-icon>
                                </button>
            </ion-col>
            <ion-col width-80 class="header-col2">
                <ion-title text-center>@Mentions</ion-title>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="activities && activities.length">
        <ion-item *ngFor="let activity of activities" text-wrap (click)="showActivity(activity)">
            <!--<ion-avatar item-left>
            <img [src]="activity.createdUserAvatar" class="avatarImage" *ngIf="activity.createdUserAvatar && activity.createdUserAvatar !== 'avatar'"
            />
            <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!activity.createdUserAvatar || activity.createdUserAvatar === 'avatar'"
            />
        </ion-avatar>-->
            <!--<h3 class="name">{{activity.createdUserName}}</h3>-->
            <p class="text-content" *ngIf="activity.entity === 'Agenda'"><span class="username">@{{user.firstname + user.lastname}}</span> you’ve been invited to give the {{activity.action}}</p>
            <p class="text-content" *ngIf="activity.entity === 'Assignment'"><span class="username">@{{user.firstname + user.lastname}}</span> has been asked to "{{activity.entityDescription}}"</p>
            <p class="text-content" *ngIf="activity.entity === 'Discussion'" [innerHTML]="activity.entityDescription | addtagcolor"></p>
            <p class="timestamp">{{activity.timestamp | customdateformat}}</p>
            <p class="timestamp" *ngIf="activity.entity !== 'Discussion'">{{activity.councilname}} {{activity.entity}}</p>
            <p class="timestamp" *ngIf="activity.entity === 'Discussion'">{{activity.createdUserName}} {{activity.entity}}</p>
        </ion-item>
    </ng-container>
    <ng-container *ngIf="!activities || !activities.length">
        <ion-label text-center class="center-align font1">There are no <b>@mentions</b></ion-label>
    </ng-container>
</ion-content>
<ion-footer>
</ion-footer>
<!--</div>-->