.row1 {
    margin-top: 20pt;
    margin-bottom: 14pt;
}

.row5 {
    border-bottom: 1px solid #e8e9eb;
    margin-bottom: 20pt;
}

.row6 {
    border-top: 1px solid #e8e9eb;
}

textarea {
    resize: both;
}