submit-feedback {
.row1 {
    padding-top: 20px;
    background: #fafafa;
    display: table;
}

.row5 {
    border-bottom: 1px solid #e8e9eb;
    
}

.row4 {
    display: table;
    width: 100%;
    text-align: center;
    background: #fafafa;
    padding-bottom: 20px;
}

.row6 {
    border-top: 1px solid #e8e9eb;
    position: relative;
}

.item-md.item-block .item-inner,
.item-ios.item-block .item-inner {
    border: none !important;
}

textarea {
    resize: both;
    line-height: 2.4rem;
    min-height: 15rem;
}

.border-top {
    border-top:1px solid #e8e9eb;
    border-bottom:1px solid #e8e9eb;
}

.text-area-bottom {
    height: 2.8rem;
    background: #fafafa !important;
    border: none !important;
}

form {
        display: flex;
    flex-direction: column;
    min-height: 100%;
}
.bottom-padding{
    padding-bottom: 10px !important;
}
.text-input-md, .text-input-ios{
    margin-top: none !important;
}

}