<ion-header>
    <ion-navbar hideBackButton>

        <ion-row>
            <ion-col class="header-col">
                <button ion-button item-right clear class="button button-clik" (click)="close()">   
                <ion-icon name="cancel" class="councils-icon__back menu-icon" item-left color="secondary"></ion-icon>
                                </button>
            </ion-col>
            <ion-col width-80 class="header-col2">
                <ion-title text-center>
                    Invite Member
                </ion-title>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content>
    <form (ngSubmit)="inviteMember()" #InviteMemberForm="ngForm">
        <ion-item-group>
            <ion-item-divider class="empty-light"></ion-item-divider>
            <ion-item [class.invalid]="emailErr">
                <ion-label floating>Email</ion-label>
                <ion-input class="council-styles" type="email" name="email" [(ngModel)]="invite.email" (keyup)="keypresssed($event)" required></ion-input>
            </ion-item>
            <ion-label class="error-msg" *ngIf="emailErr">Email taken</ion-label>
            <ion-item>
                <ion-label floating>First Name</ion-label>
                <ion-input class="council-styles" type="text" name="firstname" [(ngModel)]="invite.firstname" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Last Name</ion-label>
                <ion-input class="council-styles" type="text" name="lastname" [(ngModel)]="invite.lastname" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Calling</ion-label>
                <ion-input class="council-styles" type="text" spellcheck="true" name="calling" [(ngModel)]="invite.calling" required></ion-input>
            </ion-item>

            <ion-item-divider class="list-title-divider">Which councils can they access</ion-item-divider>

            <ion-item *ngFor="let c of council; let i = index" [ngClass]="council.length === 1 ? 'ion-idv-item' : (i === 0 ? 'ion-item-first' : (i === council.length - 1 ? 'ion-item-last' : 'ion-item-middle'))">
                <ion-label color="dark">{{c.council}}</ion-label>
                <ion-checkbox [(ngModel)]="c.selected" (ionChange)="itemChanged()" color="secondary" name="checkbox" item-right [name]="c.council"></ion-checkbox>
            </ion-item>

        </ion-item-group>
    </form>
</ion-content>
<ion-footer>
    <button ion-button type="submit" class="button button-clik" (click)="inviteMember()" name="Invitebtn" clear block color="secondary"
        text-capitalize [disabled]="!isValidEmail || !councilsLength || !InviteMemberForm.form.valid" text-capitalize>Invite</button>
</ion-footer>