invite-page{
  button:disabled{
        color:#222;
    }
    .color {
        color:#A9AAAC !important;
    }
    .council-styles {
        font-family: Bernina-Regular !important;
        font-size: 17px !important;
        color: #35373a !important;
    }
}