page-success{

.message{
    // position: relative;
    // top:30%;
    // margin:auto
     padding-top:50% !important;

}
.title-styles{
    font-family:Gotham-Medium !important;
    font-size: 28px !important;
    color: #35373a !important;
}
.content-styles{
    font-family:Gotham-Medium !important;
    font-size: 17px !important;
    color: #35373a !important;
}
}