change-password{
.invalid ion-input{
        border-bottom: 1px solid #F13822;
    }
    .invalid ion-label{
        color:#F13822 !important;
    }

     .error-msg{
        padding-left:16px;
        color:#F13822 !important;
        font-size: 15px !important;
                         margin:0px;

    }

}