<ion-header text-center>
    <ion-navbar hideBackButton="true">
        <ion-row>
            <ion-col class="header-col">
                <button ion-button item-right clear class="button button-clik" (click)="cancel()">   
                <ion-icon class="councils-icon__back menu-icon" name="cancel" item-left color="secondary"></ion-icon>
                        </button>
            </ion-col>
            <ion-col width-80 class="header-col2">
                <ion-title text-center>
                    Change Password
                </ion-title>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePasswordForm.value">
        <ion-item class="input-item">
            <ion-label floating>Old Password</ion-label>
            <ion-input type="password" name="oldpassword" [(ngModel)]="password.oldpassword" formControlName="oldpassword"></ion-input>
        </ion-item>
      
        <ion-item [class.invalid]="!changePasswordForm.controls.newpassword.valid && changePasswordForm.controls.newpassword.dirty" class="input-item">
            <ion-label floating>New Password</ion-label>
            <ion-input type="password" name="newpassword" [(ngModel)]="password.newpassword" formControlName="newpassword" validate-onblur></ion-input>
        </ion-item>
           <p class="error-container"><ion-label class="error-msg" *ngIf="!changePasswordForm.controls.newpassword.valid && changePasswordForm.controls.newpassword.dirty">6 characters required</ion-label></p>

        <ion-item [class.invalid]="!changePasswordForm.controls.confirmnewpassword.valid && changePasswordForm.controls.confirmnewpassword.dirty" class="input-item">
            <ion-label floating>Confirm New Password</ion-label>
            <ion-input type="password" name="confirmnewpassword" [(ngModel)]="password.confirmnewpassword" formControlName="confirmnewpassword" validate-onblur></ion-input>
        </ion-item>
           <p class="error-container"><ion-label class="error-msg" *ngIf="!changePasswordForm.controls.confirmnewpassword.valid && changePasswordForm.controls.confirmnewpassword.dirty">6 characters required</ion-label></p>
        
        <ion-footer text-center>
            <button ion-button color="secondary" class="saveBtn" class="button button-clik" [disabled]="!changePasswordForm.valid" clear
                text-capitalize (click)="changePassword()">
                Save
                </button>
        </ion-footer>
    </form>
</ion-content>