 // .item-md.item-block .item-inner{
//     border-bottom:none !important;
// }
edit-profile {
    .cameraBtn {
        width: 112px;
        height: 112px;
        border-radius: 112px;
        background-color: #fafafa;
        border: 1px solid #e8e9eb;
        margin: auto;
        margin-top: 20px;
    }
    .changepassword {
        color: #35373A;
        font-family: 'Bernina-Regular', 'sans-serif';
        font-size: 17px;
        // padding-left: 12px;
    }
    .actionsheet-items {
        color: #3cb18a !important;
        font-family: Bernina-Regular !important;
        font-size: 17px !important;
    }
    .actionsheet-cancel {
        color: #35373A !important;
        font-family: Bernina-Regular !important;
        font-size: 17px !important;
    }
    .photo-col {
        margin-left: 16px;
        padding: 0;
        max-width: 114px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    // .username-col {
    //     margin-left:20px;
    //     padding:0;
    // }
    .username-col ion-item {
        padding: 0;
        margin: 0;
        border: none;
    }
    .div-img {
        display: flex;
    }
    .empty {
        background: #fff !important;
    }
}