// .item-md.item-block .item-inner{
//     border-bottom:none !important;
// }
.item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: #DEDEDE !important;
    box-shadow: none !important;
}

.cameraBtn {
    margin-top: 10pt;
    margin-left: 5pt;
    width: 70%;
    height: 75%;
    border-radius: 112pt;
    background-color: #fafafa;
    border: 1px solid #e8e9eb;
}

.changepassword {
    color: #35373A;
    font-family: 'Bernina-Regular', 'sans-serif';
    font-size: 100%;
}

.forwardBtn {
    background-color: white;
    color: #e8e9eb;
    font-size: 160%;
    margin-right: 2%;
}

.actionsheet-items {
    color: #3cb18a !important;
    font-family: Bernina-Regular !important;
    font-size: 145% !important;
}

.actionsheet-cancel {
    color: #35373A !important;
    font-family: Bernina-Regular !important;
    font-size: 145% !important;
}

.empty {
    height: 28pt;
}