editmember-page {
    .councilname {
        font-family: Bernina-Regular !important;
        font-size: 17px !important;
        color: #35373a !important;
    }
     ion-list{
        border-bottom: 1px solid lightgray;
    }
    .checkbox-icon .checkbox-checked::before{
        content: "\e914" !important;
    }
}