<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-row>
            <ion-col class="header-col">
                <button ion-button item-right clear class="button button-clik" (click)="back()">   
                <ion-icon class="councils-icon__back menu-icon" name="cancel" item-left color="secondary"></ion-icon>
                                </button>
            </ion-col>
            <ion-col width-80 class="header-col2">
                <ion-title text-center>{{selectedUser.firstname}} {{selectedUser.lastname}}</ion-title>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-item-divider class="empty"></ion-item-divider>
    <ion-list class='ionlist'>
        <!--<ion-item class="ion-item-middle" *ngFor="let councilObj of councilsObj">
            <ion-label class="councilname">{{councilObj.councilName}}</ion-label>
            <ion-checkbox [(ngModel)]="councilObj.isMemberCouncil" (click)="enableSaveBtn()" color="secondary" item-right clear></ion-checkbox>
        </ion-item>-->

        <ion-item *ngIf="(areaCouncils.length)" class="unittype">Area</ion-item>
        <ion-item [ngClass]="areaCouncils.length === 1 ? 'ion-idv-item' : (i === 0 ? 'ion-item-first' : (i === areaCouncils.length - 1? 'ion-item-last' : 'ion-item-middle'))"
            *ngFor="let councilObj of areaCouncils; let i = index">
            <ion-label class="councilname">{{councilObj.councilName}}</ion-label>
            <ion-checkbox [(ngModel)]="councilObj.isMemberCouncil" (click)="enableSaveBtn()" color="secondary" item-right clear></ion-checkbox>
        </ion-item>

        <ion-item *ngIf="(stakeCouncils.length)" class="unittype">Stake</ion-item>
        <ion-item [ngClass]="stakeCouncils.length === 1 ? 'ion-idv-item' : (i === 0 ? 'ion-item-first' : (i === stakeCouncils.length - 1? 'ion-item-last' : 'ion-item-middle'))"
            *ngFor="let councilObj of stakeCouncils; let i = index">
            <ion-label class="councilname">{{councilObj.councilName}}</ion-label>
            <ion-checkbox [(ngModel)]="councilObj.isMemberCouncil" (click)="enableSaveBtn()" color="secondary" item-right clear></ion-checkbox>
        </ion-item>

        <ion-item *ngIf="(wardCouncils.length)" class="unittype">Ward</ion-item>
        <ion-item [ngClass]="wardCouncils.length === 1 ? 'ion-idv-item' : (i === 0 ? 'ion-item-first' : (i === wardCouncils.length - 1? 'ion-item-last' : 'ion-item-middle'))"
            *ngFor="let councilObj of wardCouncils; let i = index">
            <ion-label class="councilname">{{councilObj.councilName}}</ion-label>
            <ion-checkbox [(ngModel)]="councilObj.isMemberCouncil" (click)="enableSaveBtn()" color="secondary" item-right clear></ion-checkbox>
        </ion-item>

        <ion-item *ngIf="(addedCouncils.length)" class="unittype">Added</ion-item>
        <ion-item [ngClass]="addedCouncils.length === 1 ? 'ion-idv-item' : (i === 0 ? 'ion-item-first' : (i === addedCouncils.length - 1? 'ion-item-last' : 'ion-item-middle'))"
            *ngFor="let councilObj of addedCouncils; let i = index">
            <ion-label class="councilname">{{councilObj.councilName}}</ion-label>
            <ion-checkbox [(ngModel)]="councilObj.isMemberCouncil" (click)="enableSaveBtn()" color="secondary" item-right clear></ion-checkbox>
        </ion-item>

    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar class="createbtn" text-center>
        <button ion-button clear color="secondary" class="button button-clik" type="submit" (click)="updateCouncils()" [disabled]="!enableBtn">Save</button>
    </ion-toolbar>
</ion-footer>