editmember-page {
    .councilname {
        font-family: Bernina-Regular !important;
        font-size: 17px !important;
        color: #35373a !important;
    }
    ion-list {
        border-bottom: 1px solid lightgray;
    }
    .checkbox-icon .checkbox-checked::before {
        content: "\e914" !important;
    }
    .unittype {
        background: #FAFAFA !important;
        border-bottom: none !important;
        text-transform: uppercase;
    }
    .unittype ion-label {
        font-family: Bernina-semibold, sans-serif;
        font-size: 13px !important;
        color: #35373a !important;
    }
}