page-donations-send {
    ion-content{
        background-color:#FAFAFA !important;
    }
    ion-content form{
        margin-top:28px;
    }
    .period-list{
        margin-bottom: 0;
    }
    .period-list .item-inner{
       background: #FAFAFA !important;
    }
    .sub-heading{
        font-family: Bernina-semibold, sans-serif;
        font-size: 13px !important;
        color: #35373a !important;
        margin: 0;
        padding: 11px 8px 11px 16px;
        background-color:#FAFAFA !important;
    }
     ion-icon.active{
        display: none;
    }
    .list-md[no-lines] .item .item-inner{
        margin-left: 10px !important;
    }
    .top-border{
        border-top: 1px solid #E8E9EB !important;
    }
}
