directory-page {
    ion-list {
        border-bottom: 1px solid lightgray;
    }
    .font1 {
        font-family: Bernina-Regular, sans-serif;
        font-size: 17px !important;
        color: #35373a !important;
        flex: 1;
    }
    .font2 {
        font-family: 'Bernina-Regular', sans-serif;
        font-size: 17px;
        color: #a9aaac;
    }
    .ion-item-last {
        border-bottom: none !important;
    }
    .item-ios {
        border-bottom: none !important;
    }
    .item-md {
        border-bottom: none !important;
    }
    ion-label {
        display: flex;
        align-items: center;
    }
    ion-searchbar {
        background: #FAFAFA !important;
    }   
}