<ion-header>
    <ion-navbar>
        <ion-buttons class="menu-button" left>
            <button ion-button menuToggle>
      <ion-icon class="councils-icon__close menu-icon" name="menu" ></ion-icon>
    </button>
        </ion-buttons>
        <ion-title>Directory</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-searchbar (ionInput)="searchFn($event)" class="font1" placeholder="Enter name to search"></ion-searchbar>
    <ion-list>
        <ion-item [ngClass]="i===0?'ion-item-first':(i===users.length - 1? 'ion-item-last': 'ion-item-middle')" *ngFor="let user of users | search:term:'username'; let i = index"
            [attr.data-index]="i">
            <ion-avatar item-left>
                <img [src]="(user)?.avatar" class="avatarImage" *ngIf="(user)?.avatar && (user)?.avatar !== 'avatar'" />
                <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!(user)?.avatar || (user)?.avatar === 'avatar'" />
            </ion-avatar>
            <h3 class="font1">{{user.firstname}} {{user.lastname}}</h3>
            <p class="font2">{{user.councilnames}}</p>
            <svg height="8" width="8" item-right>
                <circle cx="4" cy="4" r="4" [attr.fill]='user.status' />
            </svg>
        </ion-item>
    </ion-list>
</ion-content>