reactivatemembers-page{
    .background-styles{
        background: #fafafa;
    }
    
    .font1{
        font-family: Bernina-Regular, sans-serif;
        font-size: 17px !important;
        color: #35373a !important;
    }
    .font2{
        font-family: 'Bernina-Regular', sans-serif;
        font-size: 17px;
        color: #a9aaac;
    }
}