reactivatemembers-page{
    .background-styles{
        background: #fafafa;
    }
    
    .font1{
        font-family: Bernina-Regular, sans-serif;
        font-size: 17px !important;
        color: #35373a !important;
    }
    .font2{
        font-family: 'Bernina-Regular', sans-serif;
        font-size: 17px;
        color: #a9aaac;
    }
    .bg-styles{
        background: #ffffff;
        
    }
     ion-avatar,
    ion-avatar img {
        height: 36px !important;
        width: 36px !important;
        min-width: 36px !important;
        min-height: 36px !important;
    }
    .input-wrapper{
        position:relative !important;
    }
    .status, svg{
        position: absolute;
        right:0px;
        top:22px;
    }
}