<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-row>
            <ion-col class="header-col">
                <ion-icon class="councils-icon__back menu-icon" name="cancel" item-left color="secondary" (click)="cancel()"></ion-icon>
            </ion-col>
            <ion-col width-80 class="header-col2">
                <ion-title text-center>Standard</ion-title>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content>

    <form [formGroup]="newagendaForm" (ngSubmit)="newagendaForm.value">
        <ion-item>
            <ion-label floating>Council</ion-label>
            <ion-input type="text" readonly (touchstart)="showCouncilsModal($event, newagendaForm.value)" formControlName="assignedcouncil"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Date & Time</ion-label>
            <ion-datetime displayFormat="DDDD, MMM D, YYYY, h:mm a" pickerFormat="DDD MMM D YYYY, h, mm, A" name="assigneddate" formControlName="assigneddate"
                minuteValues="00,05,10,15,20,25,30,35,40,45,50,55"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label floating>Opening Hymn</ion-label>
            <ion-input type="text" name="openinghymn" formControlName="openinghymn" maxlength="500"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Opening Prayer</ion-label>
            <ion-input type="text" (focus)="showList($event)" (input)="showList($event)" formControlName="openingprayer"></ion-input>
        </ion-item>
        <div *ngIf="showlist" class="assignto-list">
            <ng-container *ngFor="let user of users | search:term:'username'">
                <ion-item class="list-item" *ngIf="user.$key!==uid" (click)="bindAssignto(user)">
                    <ion-avatar item-left>
                        <img [src]="(user)?.avatar" class="avatarImage" *ngIf="(user)?.avatar && (user)?.avatar !== 'avatar'" />
                        <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!(user)?.avatar || (user)?.avatar === 'avatar'" />
                    </ion-avatar>
                    <h4 class="council-styles">{{user.firstname}} {{user.lastname}}</h4>
                    <svg height="8" width="8">
                        <circle cx="4" cy="4" r="4" [attr.fill]='user.status' />
                    </svg>
                </ion-item>
            </ng-container>
        </div>

        <ion-item>
            <ion-label floating>Spiritual Thought</ion-label>
            <ion-input type="text" (focus)="showList1($event)" (input)="showList1($event)" formControlName="spiritualthought"></ion-input>
        </ion-item>
        <div *ngIf="showlist1" class="assignto-list">
            <ng-container *ngFor="let user of users | search:term:'username'">
                <ion-item class="list-item" *ngIf="user.$key!==uid" (click)="bindAssignto1(user)">
                    <ion-avatar item-left>
                        <img [src]="(user)?.avatar" class="avatarImage" *ngIf="(user)?.avatar && (user)?.avatar !== 'avatar'" />
                        <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!(user)?.avatar || (user)?.avatar === 'avatar'" />
                    </ion-avatar>
                    <h4 class="council-styles">{{user.firstname}} {{user.lastname}}</h4>
                    <svg height="8" width="8">
                        <circle cx="4" cy="4" r="4" [attr.fill]='user.status' />
                    </svg>
                </ion-item>
            </ng-container>
        </div>

        <ion-list>
            <ion-label *ngIf="!shownGroup" class="assignment-styles" (click)="toggleGroup()">
                Assignments
            </ion-label>
            <ion-label *ngIf="shownGroup" class="assignment-styles1" (click)="toggleGroup()">
                Assignments
            </ion-label>
            <ion-item class="ion-item-middle" *ngFor="let assignment of assignmentslist" text-wrap [ngClass]="{inactive: !shownGroup}">
                <ion-label class="desc-styles">{{assignment.description}}</ion-label>
            </ion-item>
            <ion-item-divider></ion-item-divider>
        </ion-list>

        <ion-list>
            <ion-label *ngIf="!shownGroup1" class="assignment-styles" (click)="toggleGroup1()">
                Completed Assignments
            </ion-label>
            <ion-label *ngIf="shownGroup1" class="assignment-styles1" (click)="toggleGroup1()">
                Completed Assignments
            </ion-label>
            <ion-item class="ion-item-middle" *ngFor="let completedassignment of completedassignmentslist" text-wrap [ngClass]="{inactive: !shownGroup1}">
                <div class="desc-styles">{{completedassignment.description}}</div>
            </ion-item>
            <ion-item-divider></ion-item-divider>
        </ion-list>

        <ion-item>
            <ion-label *ngIf="!spiritualwelfare">Spiritual Welfare</ion-label>
            <ion-label floating color="secondary" *ngIf="spiritualwelfare">Spiritual Welfare</ion-label>
            <ion-textarea type="text" wrap="off" (focus)="spiritualfocus()" elastic id="spiritualwelfare" name="spiritualwelfare" [(ngModel)]="spiritualwelfare"
                formControlName="spiritualwelfare" maxlength="500" (keyup)="spiritualkey($event)">
                </ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label *ngIf="!temporalwelfare">Temporal Welfare</ion-label>
            <ion-label floating color="secondary" *ngIf="temporalwelfare">Temporal Welfare</ion-label>
            <ion-textarea type="text" wrap="off" (focus)="temporalfocus()" elastic id="temporalwelfare" name="temporalwelfare" [(ngModel)]="temporalwelfare"
                formControlName="temporalwelfare" maxlength="500" (keyup)="temporalkey($event)">
                </ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label *ngIf="!fellowshipitems">Fellowship Items</ion-label>
            <ion-label floating color="secondary" *ngIf="fellowshipitems">Fellowship Items</ion-label>
            <ion-textarea type="text" wrap="off" (focus)="fellowshipfocus()" elastic id="fellowshipitems" name="fellowshipitems" [(ngModel)]="fellowshipitems"
                formControlName="fellowshipitems" maxlength="500" (keyup)="fellowshipkey($event)">
                </ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label *ngIf="!missionaryitems">Missionary Items</ion-label>
            <ion-label floating color="secondary" *ngIf="missionaryitems">Missionary Items</ion-label>
            <ion-textarea type="text" wrap="off" (focus)="missionaryfocus()" elastic id="missionaryitems" name="missionaryitems" [(ngModel)]="missionaryitems"
                formControlName="missionaryitems" maxlength="500" (keyup)="missionarykey($event)">
                </ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label *ngIf="!event">Events</ion-label>
            <ion-label floating color="secondary" *ngIf="event">Events</ion-label>
            <ion-textarea type="text" wrap="off" (focus)="eventfocus()" elastic id="event" name="event" [(ngModel)]="event" formControlName="event"
                maxlength="500" (keyup)="eventkey($event)">
                </ion-textarea>
        </ion-item>

        <div *ngIf="showlist2" class="assignto-list">
            <ng-container *ngFor="let user of users | search:term:'username'">
                <ion-item class="list-item" *ngIf="user.$key!==uid" (click)="bindAssignto2(user)">
                    <ion-avatar item-left>
                        <img [src]="(user)?.avatar" class="avatarImage" *ngIf="(user)?.avatar && (user)?.avatar !== 'avatar'" />
                        <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!(user)?.avatar || (user)?.avatar === 'avatar'" />
                    </ion-avatar>
                    <h4 class="council-styles">{{user.firstname}} {{user.lastname}}</h4>
                    <svg height="8" width="8">
                        <circle cx="4" cy="4" r="4" [attr.fill]='user.status' />
                    </svg>
                </ion-item>
            </ng-container>
        </div>
        <ion-item>
            <ion-label floating>Closing Prayer</ion-label>
            <ion-input type="text" (focus)="showList2($event)" (input)="showList2($event)" formControlName="closingprayer"></ion-input>
        </ion-item>

    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button ion-button clear block color="secondary" (click)="createagenda(newagendaForm.value)" text-capitalize [disabled]="!newagendaForm.valid">Create</button>
    </ion-toolbar>
</ion-footer>