<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-row>
            <ion-col class="header-col">
                <button ion-button item-right clear class="button button-clik" (click)="cancel()">   
                <ion-icon class="councils-icon__back menu-icon" name="cancel" item-left color="secondary"></ion-icon>
                				</button>
            </ion-col>
            <ion-col width-80 class="header-col2">
                <ion-title text-center>Standard</ion-title>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content>

    <form [formGroup]="newagendaForm" (ngSubmit)="newagendaForm.value">
        <ion-item class="input-item">
            <ion-label floating>Council</ion-label>
            <ion-input type="text" readonly (click)="showCouncilsModal($event, newagendaForm.value)" formControlName="assignedcouncil"></ion-input>
        </ion-item>

        <ion-item [class.invalid]="dateErr" class="input-item">
            <ion-label floating>Date & Time</ion-label>
            <ion-datetime displayFormat="DDDD, MMM D, YYYY, h:mm a" pickerFormat="DDDD, MMM, D, YYYY, h, mm, A" ng-model="datetime" name="assigneddate"
                formControlName="assigneddate" validate-onblur [max]="2500" minuteValues="00,05,10,15,20,25,30,35,40,45,50,55"
                (ionChange)="onChange($event)"></ion-datetime>
        </ion-item>

        <ion-label class="error-msg" *ngIf="dateErr">Invalid date</ion-label>


        <ion-item class="input-item">
            <ion-label floating>Opening Hymn</ion-label>
            <ion-input type="text" spellautocomplete name="openinghymn" formControlName="openinghymn" maxlength="500"></ion-input>
        </ion-item>

        <ion-item class="input-item">
            <ion-label floating>Opening Prayer</ion-label>
            <ion-input type="text" (focus)="showList($event)" (input)="showList($event)" formControlName="openingprayer"></ion-input>
        </ion-item>
        <div *ngIf="showlist" class="assignto-list">
            <ng-container *ngFor="let user of users | search:term:'username'">
                <ion-item class="list-item" *ngIf="user.$key!==uid" (click)="bindAssignto(user)">
                    <ion-avatar item-left>
                        <img [src]="(user)?.avatar" class="avatarImage" *ngIf="(user)?.avatar && (user)?.avatar !== 'avatar'" />
                        <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!(user)?.avatar || (user)?.avatar === 'avatar'" />
                    </ion-avatar>
                    <h4 class="council-styles">{{user.firstname}} {{user.lastname}}</h4>
                    <svg height="8" width="8">
                        <circle cx="4" cy="4" r="4" [attr.fill]='user.status' />
                    </svg>
                </ion-item>
            </ng-container>
        </div>

        <ion-item class="input-item">
            <ion-label floating>Spiritual Thought</ion-label>
            <ion-input type="text" (focus)="showList1($event)" (input)="showList1($event)" formControlName="spiritualthought"></ion-input>
        </ion-item>
        <div *ngIf="showlist1" class="assignto-list">
            <ng-container *ngFor="let user of users | search:term:'username'">
                <ion-item class="list-item" *ngIf="user.$key!==uid" (click)="bindAssignto1(user)">
                    <ion-avatar item-left>
                        <img [src]="(user)?.avatar" class="avatarImage" *ngIf="(user)?.avatar && (user)?.avatar !== 'avatar'" />
                        <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!(user)?.avatar || (user)?.avatar === 'avatar'" />
                    </ion-avatar>
                    <h4 class="council-styles">{{user.firstname}} {{user.lastname}}</h4>
                    <svg height="8" width="8">
                        <circle cx="4" cy="4" r="4" [attr.fill]='user.status' />
                    </svg>
                </ion-item>
            </ng-container>
        </div>

        <ion-item (click)="toggleGroup()" class="height-prop input-item icon-line">
            <ion-label *ngIf="!shownGroup" class="assignment-styles">
                Assignments
                </ion-label>
                <ion-label *ngIf="shownGroup" class="assignment-styles1">
                    Assignments
                    </ion-label>
                    <button color="secondary"  class="no-padding button button-clik"  name="councilsPage" ion-button icon-only clear item-right>
                        <ion-icon name="councilscircle"  [ngClass]="shownGroup? 'councils-icon__arrow_collapse icon-size' : 'councils-icon__arrow_expand icon-size'"
                             item-right></ion-icon>
                            </button>
        </ion-item>
        <ion-item class="ion-item-middle" *ngFor="let assignment of assignmentslist" text-wrap [ngClass]="{inactive: !shownGroup}">
            <ion-label class="desc-styles">{{assignment.description}}</ion-label>
        </ion-item>

        <ion-item (click)="toggleGroup1()" class="height-prop input-item icon-line">
            <ion-label *ngIf="!shownGroup1" class="assignment-styles">
                Completed Assignments
            </ion-label>
            <ion-label *ngIf="shownGroup1" class="assignment-styles1">
                Completed Assignments
            </ion-label>
            <button color="secondary" class="no-padding button button-clik" name="councilsPage" ion-button icon-only clear item-right>
                <ion-icon name="councilscircle"  [ngClass]="shownGroup1? 'councils-icon__arrow_collapse icon-size' : 'councils-icon__arrow_expand icon-size'"
                     item-right></ion-icon>
                    </button>
        </ion-item>
        <ion-item class="ion-item-middle" *ngFor="let completedassignment of completedassignmentslist" text-wrap [ngClass]="{inactive: !shownGroup1}">
            <div class="desc-styles">{{completedassignment.description}}</div>
        </ion-item>

        <ion-item class="input-item flex-direction">
            <ion-label floating>Spiritual Welfare</ion-label>
            <ion-textarea rows="1" spellautocomplete wrap="off" (focus)="spiritualfocus()" elastic id="spiritualwelfare" name="spiritualwelfare"
                formControlName="spiritualwelfare" maxlength="500" (keyup)="spiritualkey($event)">
            </ion-textarea>
        </ion-item>

        <ion-item class="input-item flex-direction">
            <ion-label floating>Temporal Welfare</ion-label>
            <ion-textarea rows="1" wrap="off" spellautocomplete (focus)="temporalfocus()" elastic id="temporalwelfare" name="temporalwelfare"
                formControlName="temporalwelfare" maxlength="500" (keyup)="temporalkey($event)">
            </ion-textarea>
        </ion-item>

        <ion-item class="input-item flex-direction">
            <ion-label floating>Fellowship Items</ion-label>
            <ion-textarea rows="1" wrap="off" spellautocomplete (focus)="fellowshipfocus()" elastic id="fellowshipitems" name="fellowshipitems"
                formControlName="fellowshipitems" maxlength="500" (keyup)="fellowshipkey($event)">
            </ion-textarea>
        </ion-item>

        <ion-item class="input-item flex-direction">
            <ion-label floating>Missionary Items</ion-label>
            <ion-textarea rows="1" wrap="off" spellautocomplete (focus)="missionaryfocus()" elastic id="missionaryitems" name="missionaryitems"
                formControlName="missionaryitems" maxlength="500" (keyup)="missionarykey($event)">
            </ion-textarea>
        </ion-item>

        <ion-item class="input-item flex-direction">
            <ion-label floating>Events</ion-label>
            <ion-textarea rows="1" wrap="off" spellautocomplete (focus)="eventfocus()" elastic id="event" name="event" formControlName="event"
                maxlength="500" (keyup)="eventkey($event)">
            </ion-textarea>
        </ion-item>

        <div *ngIf="showlist2" class="assignto-list">
            <ng-container *ngFor="let user of users | search:term:'username'">
                <ion-item class="list-item" *ngIf="user.$key!==uid" (click)="bindAssignto2(user)">
                    <ion-avatar item-left>
                        <img [src]="(user)?.avatar" class="avatarImage" *ngIf="(user)?.avatar && (user)?.avatar !== 'avatar'" />
                        <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!(user)?.avatar || (user)?.avatar === 'avatar'" />
                    </ion-avatar>
                    <h4 class="council-styles">{{user.firstname}} {{user.lastname}}</h4>
                    <svg height="8" width="8">
                        <circle cx="4" cy="4" r="4" [attr.fill]='user.status' />
                    </svg>
                </ion-item>
            </ng-container>
        </div>
        <ion-item class="input-item">
            <ion-label floating>Closing Prayer</ion-label>
            <ion-input type="text" (focus)="showList2($event)" (input)="showList2($event)" formControlName="closingprayer"></ion-input>
        </ion-item>

    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button ion-button clear block color="secondary" class="button button-clik" (click)="createagenda(newagendaForm.value)" text-capitalize
            [disabled]="!newagendaForm.valid">Create</button>
    </ion-toolbar>
</ion-footer>