assignments-list{
    ion-icon.active{
        display: none;
    }
    .list-md[inset],.list-ios[inset],.list-wp[inset]{
        margin:0 16px 0 0;
    }
    .item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input,
    .item-ios ion-icon[item-left] + .item-inner, .item-ios ion-icon[item-left] + .item-input,
    .item-wp ion-icon[item-left] + .item-inner, .item-wp ion-icon[item-left] + .item-input{
        margin-left:5px;
    }
    .text-content{
       position:absolute;
       top:45%;
       width: 100%;
       margin:auto;
    }
    .icon-style{
        color:#A9AAAC;
        width: 8px;
        height: 13px;
    }
    .font1{
        font-family: Bernina-Regular, sans-serif;
        font-size: 17px !important;
        color: #a9aaac !important;
    }
    .font2{
        font-family: 'Bernina-Regular', sans-serif;
        font-size: 13px;
        color: #a9aaac;
    }
    .inline-block{
        display: inline-block;
    }
    .right-align{
        position: absolute;
        right: 10px;
    }
    .divider{
        background: #FAFAFA !important;
       border-bottom: none !important;

    }
    .divider ion-label{
        font-family: Bernina-semibold, sans-serif;
        font-size: 13px !important;
        color: #35373a !important;
    }
    ion-list{
        border-bottom: 1px solid #E8E9EB;
        border-top: 2px solid #E8E9EB;
        margin-bottom: 0 !important;
    }
    .list-md{
         border-top: 2px solid #E8E9EB;
    }
    .chat-icon{
        font-size:12px !important;
    }

    .ion-item-middle.item-ios.item-block:last-child .item-inner,
    .ion-item-middle.item-md.item-block:last-child .item-inner{
        border-bottom: none !important;
    }
    .noborder.list.list-ios{
        border:none !important;
    }
}