slide1 {
    .menu-icon {
        margin-right: 12px !important;
    }

    
    
     .button-inner {
        justify-content: flex-start;
    }

    .button-md {
        height: 44px;
        padding-left: 16px !important;
        padding-right: 16px !important;
        margin: 0px;
    }
    .button-ios {
        height: 44px;
        padding-left: 16px !important;
        padding-right: 16px !important;
        margin: 0px;
    }
    .button-md.activated {
        color: #FFFFFF;
    }
    .button-ios.activated {
        color: #FFFFFF;
    }
    
    .item-md ion-avatar ion-img,
    .item-md ion-avatar img {
        width: 44px;
        height: 44px;
    }
    .item-ios ion-avatar ion-img,
    .item-ios ion-avatar img {
        width: 44px;
        height: 44px;
    }

ion-avatar {
    background: #F4F6FA;
    width: 44px !important;
    height: 44px !important;
    border-radius: 50% !important;
}

ion-avatar img, ion-thumbnail img{
 width: 44px !important;
        height: 44px !important;
        
}

    .item-md ion-avatar[item-left],
    .item-md ion-thumbnail[item-left] {
        margin: 0;
    }
    .item-ios ion-avatar[item-left],
    .item-ios ion-thumbnail[item-left] {
        margin: 0;
    }
    .item-md {
        padding-left: 16px;
    }
    .item-ios {
        padding-left: 16px;
    }
    .user1 {
        font-family: Bernina-Bold;
        font-size: 17px;
        color: #35373a !important;
        margin-bottom: 3px;
        padding-left: 7px !important;
        white-space: pre;
        line-height: 17px;
        white-space: pre;
    }
    .user2 {
        margin:0;
        padding:0;
        font-family: Bernina-Regular;
        font-size: 15px;
        padding-left: 7px !important;        
        color: #a9aaac !important;
        white-space: pre;
    }

    .menu-avatar-col {
        padding:0 !important;
        
        max-width: 44px !important;       
    }

    .menu-user-col {
        padding:0 !important;
            margin-left: 5px !important;
            text-align: left;

    }
    .menu-user-col ion-row, .menu-user-col ion-row ion-col, .menu-user-col ion-row ion-col {
        padding: 0 !important;

    } 
    .user-admin-icon {
        font-size: 17px !important;
    }

.list-md {
    margin: 7px 0 16px 0;
}

.list-ios {
    margin: 22px 0 32px 0;
}

.name-board{
    padding: 0px 16px 5px !important;
     border-bottom: 1px solid #e8e9eb !important;
     display: flex;
     justify-content: center;
     align-content: center;
     align-items: center;
     align-self: center;
margin-bottom: 10px !important;

}
.list-ios .name-board {
    padding: 0px 16px 4px !important;
}
.list-md .name-board {
    padding: 0px 16px 4px !important;
}
    .user-admin-col {
        padding:0;
        margin-right:6px;
    }

    .user-admin-col ion-row span {
        padding:0;
        margin:0;
    }
    .no-padding{
        padding: 0 !important;
    }

}