slide1 {
    .menu-icon {
        margin-left: 12px;
    }

    .menu-icon img {
        width: 24px;
        height: 24px;
    }

    .settings-button {
        height: 62px !important;
        padding: 0;
        margin: 0;
    }

}