<ion-list no-lines>
    <div class="name-board">
        <div class="menu-avatar-col">
            <ion-avatar>
                <img [src]="(userObj)?.avatar" class="avatarImage" *ngIf="(userObj)?.avatar && (userObj)?.avatar !== 'avatar'" />
                <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!(userObj)?.avatar || (userObj)?.avatar === 'avatar'" />
            </ion-avatar>
        </div>
        <div class="menu-user-col">
            <!--<ion-row item-center>
                    <ion-col *ngIf=isAdmin class="user-admin-col">
                    <span><ion-icon class="icon councils-icon__admin user-admin-icon" color="primary"></ion-icon></span>
                </ion-col>
                    <ion-col>
                        <ion-row>-->
            <span class="user1">{{(userObj)?.firstname}} {{(userObj)?.lastname}}</span><br>
            <!--</ion-row>
                        <ion-row >-->
            <span class="user2">@{{(userObj)?.ldsusername}}</span>
            <!--</ion-row>
                    </ion-col>
                </ion-row>-->
        </div>
    </div>

    <button *ngIf=isAdmin clear menuToggle ion-button id="adminPage" name="AdminPage" block (click)="adminPage('adminPage')"
        text-capitalize>Admin</button>

    <button clear menuToggle ion-button name="settingsPage" id="settingsPage" block (click)="settingsPage('settingsPage')" text-capitalize>
                Settings
                </button>

    <button clear menuToggle ion-button name="directoryPage" id="directoryPage" block (click)="directoryPage('directoryPage')"
        text-capitalize>
                Directory
                </button>

    <button clear ion-button menuToggle name="DonationsPage" id="donationsPage" block (click)="donationsPage('donationsPage')"
        text-capitalize>
                        Subscriptions
               </button>





</ion-list>