slide1 {
    .menu-icon {
        margin-right: 12px !important;
    }

     .list {
        margin-top: 16px;
    }
    
    

    .settings-button {
        height: 64px !important;
        padding: 0;
        margin: 0;
    }

     .button-inner {
        justify-content: flex-start;
    }

    .button-md {
        height: 44px;
        padding-left: 16px !important;
        padding-right: 16px !important;
        margin: 0px;
    }
    .button-ios {
        height: 44px;
        padding-left: 16px !important;
        padding-right: 16px !important;
        margin: 0px;
    }
    .button-md.activated {
        color: #FFFFFF;
    }
    .button-ios.activated {
        color: #FFFFFF;
    }

}