notifications-page {
    // .list-page .scroll-content {
    //     padding-top: 20px !important;
    // }
    .list-page .scroll-content {
        padding-top: 0px !important;
    }
    ion-list {
        margin-top: 28px !important;
    }
    .list-page ion-item {
        height: auto;
    }
    .notification-txt-lbl {
        display: inline;
        font-family: Bernina-Regular, sans-serif !important;
        font-size: 17px !important;
        color: #35373a !important;
    }
    .createddate-lbl {
        font-family: 'Bernina-Regular', sans-serif;
        font-size: 13px;
        color: #a9aaac;
    }
    .nottxt-lbl {
        color: #3CB18A !important
    }
    .toolbar-title {
        padding: 0px !important;
    }
    .toolbar-title-ios {
        margin: 0px 0px 23px 0px !important;
    }
    .toolbar-title-md {
        margin: 0px 20px 3px 0px !important;
    }
    .text-content {
        font-family: Bernina-Regular, sans-serif;
        font-size: 15px !important;
        color: #35373a !important;
        line-height: 20px;
        margin-bottom: 8px;
    }
    .text-content-bold {
        font-family: Bernina-Regular, sans-serif;
        font-size: 15px !important;
        color: #35373a !important;
        line-height: 20px;
        margin-bottom: 8px;
        font-weight: bolder;
    }
    .timestamp {
        font-family: Bernina-Regular, sans-serif;
        font-size: 13px !important;
        color: #a9aaac !important;
        line-height: 17px
    }
    .timestamp-bold {
        font-family: Bernina-Regular, sans-serif;
        font-size: 13px !important;
        color: #a9aaac !important;
        line-height: 17px;
        font-weight: bolder;
    }
    .username {
        color: #32b38a;
    }
}