page-display{
.menuicon{
    color: #32b38a;
}
.notificationsicon{
    color: #32b38a;
    margin-left: 10px;
}
.moreicon{
    color:#32b38a;
}
.welcometext{
    text-align: center;
}
.image{
       
    width:239pt;
    height: 203pt;
}
.content{
    text-align: center;

}
.welcometext{
     text-align: center;
}
.henry {
    
    font-size:10 pt; 
    color: #a9aaac;
     font-family:Bernina-Regular; 
}

.least{
        font-size:14pt;
        color:#35373a; 
        font-family:Bernina-Regular;    
}
.matt{
    font-size:13pt;
     color: #a9aaac;

}


}