page-display{
.menuicon{
    color: #32b38a;
}
.notificationsicon{
    color: #32b38a;
    margin-left: 10px;
}
.moreicon{
    color:#32b38a;
}
.welcometext{
    text-align: center;
}
.image{
       
    width:239pt;
    height: 203pt;
}
.content{
    text-align: center;

}
.welcometext{
     text-align: center;
}
.henry {
    
    font-size:10 pt; 
    color: #a9aaac;
}


}