 inactivatemembers-page {
     .actionsheet-items {
         color: #3cb18a !important;
         font-family: Bernina-Regular !important;
         font-size: 1.7rem !important;
     }
     .actionsheet-cancel {
         color: #35373A !important;
         font-family: Bernina-Regular !important;
         font-size: 17px !important;
     }
.font1{
        font-family: Bernina-Regular, sans-serif;
        font-size: 17px !important;
        color: #35373a !important;
    }
     .council-names {
         font-family: Bernina-Regular !important;         
         color: #a9aaac;
         font-size: 17px !important;
     }
 }