 inactivatemembers-page {
     .actionsheet-items {
         color: #3cb18a !important;
         font-family: Bernina-Regular !important;
         font-size: 1.42em !important;
     }
     .actionsheet-cancel {
         color: #35373A !important;
         font-family: Bernina-Regular !important;
         font-size: 1.42em !important;
     }
 }