<ion-header>
    <ion-navbar hideBackButton>
        <ion-row>
            <ion-col class="header-col" width-10>
                <button ion-button clear>
                 <ion-icon class="cancel-font" name="cancel" color="secondary" ios="ios-arrow-round-back" md="md-arrow-back" (click)="back()"></ion-icon>
                </button>
            </ion-col>
            <ion-col width-80>
                <h3>{{file.councilname}}</h3>
            </ion-col>
            <ion-col width-10>
            <button color="secondary" clear block>Edit</button>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content id="content1">
    <ion-item-divider class="empty"></ion-item-divider>
    <ion-row>
        <ion-col width-10>
            <img src='{{file.images}}' />
        </ion-col>
        <ion-col width-70>            
        </ion-col>
    </ion-row>
    <!--<ion-list>
            <ion-item *ngFor="let img of file.images">
                <ion-avatar item-left>
                    <img [src]="img" *ngIf="file.images">                    
                </ion-avatar>                
            </ion-item>
        </ion-list>-->    
</ion-content>
<ion-footer>
    <button ion-button color="secondary" clear block>Add File</button>
</ion-footer>