<ion-header>
    <ion-navbar hideBackButton>
        <ion-row class="bgcolor">
            <ion-col class="header-col" width-10>
                <button ion-button clear>
                 <ion-icon class="cancel-font" name="cancel" color="secondary" ios="ios-arrow-round-back" md="md-arrow-back" (click)="back()"></ion-icon>
                </button>
            </ion-col>
            <ion-col class="header-col" width-80>
                <h3>{{value.councilname}}</h3>
            </ion-col>
            <ion-col width-10>
                <ng-container *ngIf="!deleteflag && filesArray.length">
                    <button color="secondary" class="editbtn" clear block>Edit</button>
                </ng-container>
                <ng-container *ngIf="deleteflag">
                    <button color="secondary" class="editbtn" clear block>Done</button>
                </ng-container>
            </ion-col>
        </ion-row>
    </ion-navbar>
    <ion-item-divider class="empty"></ion-item-divider>
</ion-header>
<ion-content id="content1">
    <ion-item>
        <ng-container *ngIf="!listdisplayflag">
            <ion-row class="row" *ngFor="let file of filesArray">
                <ion-col width-10>
                    <ion-icon class="document" name="document" color="secondary"></ion-icon>
                </ion-col>
                <ion-col width-80>
                    <p>by <span ion-text color="secondary">{{file1.createdUser}}</span></p>
                    <p>
                        {{file.size}}b {{file.contentType}} file
                    </p>
                    <p class="agendadate-styles">{{file.createdDate | customdateformat}}</p>
                </ion-col>
                <ion-col width-10>
                    <ng-container *ngIf="deleteflag">
                        <button color="secondary" id="councilsPage" name="councilsPage" ion-button icon-only clear item-right>
                            <ion-icon class="document" name="close-circle" color="secondary" item-right></ion-icon>
                            </button>
                    </ng-container>
                </ion-col>
            </ion-row>
        </ng-container>
    </ion-item>
</ion-content>
<ion-footer>
    <ng-container *ngIf="!deleteflag">
        <button ion-button color="secondary" clear block (click)="addFileActionsPage(value)">Add File</button>
    </ng-container>
    <ng-container *ngIf="deleteflag">
        <button ion-button class="deletebtn" clear block>Delete All</button>
    </ng-container>
</ion-footer>