open-council-file-page {
    .ion-ios-arrow-round-back {
        font-size: 300% !important;
    }
    .ion-md-arrow-back {
        position: absolute;
        top: 15px;
    }
    ion-header .button-ios {
        margin: 0;
        padding: 0;
        height: inherit;
    }
    ion-header .button-md {
        margin: 0;
        height: inherit;
    }
    ion-footer .button-md,
    ion-footer .button-ios {
        padding: 0;
    }
    .image-content {
        position: absolute;
        bottom: 0;
    }
    .empty{    
    height: 20pt;
    border-top: 1px solid #dedede;    
}
.editbtn{
    background-color: #FFFFFF !important;
}
.deletebtn{
    color:#F13822 !important;
}
.header-col{
    font-size: 1.42em !important;
}
.bgcolor{
    background-color: #FFFFFF !important;
}
.document{
    font-size: 24pt;
}
.toolbar-background-md,.toolbar-background-ios{
    background: none !important;
}
.agendadate-styles{
        font-family: Bernina-Regular !important;
        font-size: 1.08em !important;
        color:#a9aaac !important;
        text-align: right;        
    }
}