open-council-file-page {
    .ion-ios-arrow-round-back {
        font-size: 300% !important;
    }
    .ion-md-arrow-back {
        position: absolute;
        top: 15px;
    }
    .row{
    border-bottom:1px solid #DEDEDE !important;
    }
    ion-header .button-ios {
        margin: 0;
        padding: 0;
        height: inherit;
    }
    ion-header .button-md {
        margin: 0;
        height: inherit;
    }
    ion-footer .button-md,
    ion-footer .button-ios {
        padding: 0;
    }
    .council-styles{
        font-family:Bernina-SemiBold !important;
        font-size: 17px !important;
        color:#35373A !important;
    }
.item-md,.item-ios{
    border-bottom: none !important;
}
    .empty{    
    height: 20px;
    border-top: 1px solid #e8e9eb;
    border-bottom: 1px solid #e8e9eb !important;    
}
.item-md.item-block .item-inner{
        border-bottom: none !important;
}
.editbtn{
    background-color: #FFFFFF !important;
}
.deletebtn{
    color:#F13822 !important;
}
.header-col{
    font-size: 1.42em !important;
    margin-right: 16px;
}
.bgcolor{
    background-color: #FFFFFF !important;
}
.councils-icon__file{
    margin-top: 20px !important;
}
.toolbar-background-md,.toolbar-background-ios{
    background: none !important;
}
.agendadate-styles{
        font-family: Bernina-Regular !important;
        color:#a9aaac !important;
        // margin-left: 20px;   
    }
    .delete-styles{
        margin: 9px 16px 9px 0px;
    }
}