<ion-header>
    <ion-navbar hideBackButton>
        <ion-row>
            <ion-col class="header-col">

                <ion-icon class="councils-icon__back menu-icon" name="cancel" color="secondary" (click)="back()"></ion-icon>

            </ion-col>
            <ion-col width-70>
                <h3>{{value.councilname}}</h3>
            </ion-col>
            <ion-col class="header-col">
                <ng-container *ngIf="!deleteflag && filesArray.length">
                    <button color="secondary" class="editbtn" clear block (click)="edit()">Edit</button>
                </ng-container>
                <ng-container *ngIf="deleteflag">
                    <button color="secondary" class="editbtn" clear block (click)="done()">Done</button>
                </ng-container>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content id="content1">
    <ion-item-divider class="empty"></ion-item-divider>
    <ion-item>
        <ng-container *ngIf="!listdisplayflag">
            <ion-row class="row" *ngFor="let file of filesArray">
                <ion-col width-10>
                    <ion-icon class="councils-icon__file menu-icon" name="document" color="secondary"></ion-icon>
                </ion-col>
                <ion-col width-70>
                    <p><span class="council-styles">{{file.name}}</span></p>
                    <p>by <span ion-text color="secondary">{{value.createdUser}}</span></p>
                    <p>
                        {{file.size}} {{file.type}} file
                    </p>
                    <p class="agendadate-styles">{{file.createdDate | customdateformat}}</p>
                </ion-col>
                <ion-col width-10>
                    <ng-container *ngIf="deleteflag">
                        <button color="secondary" id="councilsPage" name="councilsPage" ion-button icon-only clear item-right (click)="delete(file)">
                            <ion-icon class="councils-icon__inactivate menu-icon" name="close-circle" color="secondary" item-right></ion-icon>
                            </button>
                    </ng-container>
                </ion-col>
            </ion-row>
        </ng-container>
    </ion-item>
</ion-content>
<ion-footer>
    <ng-container *ngIf="!deleteflag">
        <button ion-button color="secondary" clear block (click)="addFileActionsPage(value)">Add File</button>
    </ng-container>
    <ng-container *ngIf="deleteflag">
        <button ion-button class="deletebtn" clear block (click)="deleteFiles(filesArray)">Delete All</button>
    </ng-container>
</ion-footer>