invite-admin-page {
    button:disabled {
        color: #222;
    }
    .color {
        color: #A9AAAC !important;
    }
    .council-styles {
        font-family: Bernina-Regular !important;
        font-size: 17px !important;
        color: #35373a !important;
    }
    .item-md {
        border-bottom: 1px solid #E8E9EB;
    }
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: #E8E9EB !important;
        box-shadow: none !important;
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color: none !important;
        box-shadow: none !important;
    }
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: none !important;
    }
    .item-ios {
        border-bottom: 1px solid #E8E9EB;
    }
    .item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: #E8E9EB !important;
        box-shadow: none !important;
    }
    .item-ios.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color: none !important;
        box-shadow: none !important;
    }
    .item-ios.item-block .item-inner {
        padding-right: 8px;
        border-bottom: none !important;
    }
    .empty-light {
        // border-bottom: 1px solid #e8e9eb !important;
        background: #fff !important;
    }
    .list-title-divider {
        background: #fff !important;
        height: 60px;
        border-bottom: 1px solid #e8e9eb !important;
         transform: none !important;
        -webkit-transform: none !important;
    }
    .unittype {
        background: #FAFAFA !important;
        border-bottom: none !important;
        text-transform: uppercase;
    }
    .unittype ion-label {
        font-family: Bernina-semibold, sans-serif;
        font-size: 13px !important;
        color: #35373a !important;
    }
    .unittype1 {
        background: #FAFAFA !important;
        border-bottom: none !important;
        text-transform: uppercase;
    }
    .unittype1 ion-label {
        font-family: Bernina-semibold, sans-serif;
        font-size: 13px !important;
        color: #35373a !important;
        padding-top: 22px !important;
    }

    .label-ios[floating],
    .label-md[floating] {
        transform: none !important;
        -webkit-transform: none !important;
        position: relative;
        top: 15px !important;
    }
    
    .input-has-focus .label-md[floating],
    .input-has-value .label-md[floating] {
        color: #3CB18A;
        transform: none !important;
        -webkit-transform: none !important;
        font-size: 1.36rem;
        transition: top .25s ease-in-out;
        top: 3px !important;

    }
    
    .input-has-focus .label-ios[floating],
    .input-has-value .label-ios[floating] {
        color: #3CB18A;
        transform: none !important;
        -webkit-transform: none !important;
        font-size: 1.36rem;
        transition: top .25s ease-in-out;
        top: 3px !important;
    }
    .councils-list{
        margin-bottom: 500px !important;
    }
    .unittype {
        background: #FAFAFA !important;
        // border-bottom: none !important;
        border-bottom: 1px solid #e8e9eb !important;
        border-top:none !important;
        text-transform: uppercase;
    }
    .unittype ion-label {
        font-family: Bernina-semibold, sans-serif;
        font-size: 13px !important;
        color: #35373a !important;
    }
    .paddingtop ion-label{
        padding-top:16px;
    }
   
}