<ion-header>
	<ion-navbar hideBackButton>
		<ion-row>
			<ion-col class="header-col">
				<button ion-button item-right clear class="button button-clik" (click)="close()">   
                <ion-icon name="cancel" class="councils-icon__back menu-icon" item-left color="secondary"></ion-icon>
                                </button>
			</ion-col>
			<ion-col width-80 class="header-col2">
				<ion-title text-center>
					{{heading}}
				</ion-title>
			</ion-col>
		</ion-row>
	</ion-navbar>
</ion-header>
<ion-content>
	<form [formGroup]="inviteadminForm">
		<ion-item-group class="ionlist">
			<ion-item class="input-item" [class.invalid]="!inviteadminForm.controls.email.valid && inviteadminForm.controls.email.dirty">
				<ion-label floating>Email</ion-label>
				<ion-input class="council-styles" type="email" name="email" validate-onblur [(ngModel)]="invite.email" formControlName="email"
				    required></ion-input>
			</ion-item>
			<ion-label class="error-msg" *ngIf="!inviteadminForm.controls.email.valid && inviteadminForm.controls.email.dirty">Invalid email</ion-label>

			<ion-item class="input-item" [class.invalid]="!inviteadminForm.controls.firstname.valid && (inviteadminForm.controls.firstname.dirty || inviteadminForm.controls.firstname.touched)">
				<ion-label floating>First Name</ion-label>
				<ion-input class="council-styles" type="text" id="firstnamefield" name="firstname" [(ngModel)]="invite.firstname" formControlName="firstname"
				    required></ion-input>
			</ion-item>
			<ion-label class="error-msg" *ngIf="!inviteadminForm.controls.firstname.valid && (inviteadminForm.controls.firstname.dirty || inviteadminForm.controls.firstname.touched)">First Name required</ion-label>

			<ion-item class="input-item" [class.invalid]="!inviteadminForm.controls.lastname.valid && (inviteadminForm.controls.lastname.dirty || inviteadminForm.controls.lastname.touched)">
				<ion-label floating>Last Name</ion-label>
				<ion-input class="council-styles" type="text" id="lastnamefield" name="lastname" [(ngModel)]="invite.lastname" formControlName="lastname"
				    required></ion-input>
			</ion-item>
			<ion-label class="error-msg" *ngIf="!inviteadminForm.controls.lastname.valid && (inviteadminForm.controls.lastname.dirty || inviteadminForm.controls.lastname.touched)">Last Name required</ion-label>

			<ion-item-divider class="list-title-divider">Which councils can they access</ion-item-divider>

			<ion-list class="councils-list" radio-group id="council" name="council" (change)="radioSelected=$event.target.value" formControlName="radioSelected">
				<ng-container *ngIf="unitType === 'Area'">
					<ion-item class="unittype">Stake</ion-item>
					<ion-item [ngClass]='ion-idv-item'>
						<ion-label color="dark">Stake President</ion-label>
						<ion-radio value="areastakepresidents" [checked]="radioSelected=='areastakepresidents'" color="secondary" item-right></ion-radio>
					</ion-item>
				</ng-container>

				<ng-container *ngIf="unitType === 'Stake'">
					<ion-item class="unittype">Area</ion-item>
					<ion-item [ngClass]='ion-idv-item'>
						<ion-label color="dark">Area President</ion-label>
						<ion-radio value="stakestakepresidents" [checked]="radioSelected=='stakestakepresidents'" color="secondary" item-right></ion-radio>
					</ion-item>

					<ion-item class="unittype">Ward</ion-item>
					<ion-item [ngClass]='ion-idv-item'>
						<ion-label color="dark">Bishop</ion-label>
						<ion-radio value="stakebishops" [checked]="radioSelected=='stakebishops'" color="secondary" item-right></ion-radio>
					</ion-item>
				</ng-container>

				<ng-container *ngIf="unitType === 'Ward'">
					<ion-item class="unittype">Stake</ion-item>
					<ion-item [ngClass]='ion-idv-item'>
						<ion-label color="dark">Stake President</ion-label>
						<ion-radio value="wardbishops" [checked]="radioSelected=='wardbishops'" color="secondary" item-right></ion-radio>
					</ion-item>
				</ng-container>

			</ion-list>
		</ion-item-group>
	</form>
</ion-content>
<ion-footer>
	<button ion-button type="submit" class="button button-clik" (click)="inviteMember(inviteadminForm.value)" name="Invitebtn"
	    clear block color="secondary" text-capitalize [disabled]="!inviteadminForm.valid" text-capitalize>Invite</button>
</ion-footer>