new-createcouncil{
.createbtn button:disabled{
  color:#222;    
}
.username-styles{
    font-family: Bernina-Regular !important;
    font-size: 120% !important;
    color: #35373a !important;
}
.font1{
        font-family: Bernina-Regular, sans-serif;
        font-size: 17px !important;
        color: #a9aaac !important;
    }
    .font2{
        font-family: 'Bernina-Regular', sans-serif;
        font-size: 13px;
        color: #a9aaac;
    }
    .line-height{
        line-height: 24px;
        white-space: normal;
    }
    .text-input-md{
        margin-left:0px !important;
    }
      ion-list{
        // border-bottom: 1px solid lightgray;
        border-top: 1px solid lightgray;
        //  margin-bottom: 0 !important;
    }
}