new-createcouncil{
.createbtn button:disabled{
  color:#222;    
}
.username-styles{
    font-family: Bernina-Regular !important;
    font-size: 120% !important;
    color: #35373a !important;
}
.font1{
        font-family: Bernina-Regular, sans-serif;
        font-size: 17px !important;
        color: #a9aaac !important;
    }
    .font2{
        font-family: 'Bernina-Regular', sans-serif;
        font-size: 15px;
        color: #a9aaac;
    }
    .line-height{
        line-height: 24px;
        white-space: normal;
    }
    .text-input-md{
        margin-left:0px !important;
    }
    .top-padding{
        padding-top:8px !important;
    }
    .text-input-md, .text-input-ios{
    margin-top: 10px !important;
}
     ion-avatar,
    ion-avatar img {
        height: 36px !important;
        width: 36px !important;
        min-width: 36px !important;
        min-height: 36px !important;
    }
    .input-wrapper{
        position:relative !important;
    }
    .status, svg{
        position: absolute;
        right:0px;
        top:18px;
    }
    ion-checkbox{
        margin-top:18px !important;
    }
   
}