<ion-header>
	<ion-navbar hideBackButton="true">
		<ion-row>
			<ion-col class="header-col">
				<ion-icon class="councils-icon__back menu-icon" name="cancel" item-left color="secondary" (click)="cancel()"></ion-icon>
			</ion-col>
			<ion-col width-80 class="header-col2">
				<ion-title text-center>
					New Council
				</ion-title>
			</ion-col>
		</ion-row>
	</ion-navbar>
</ion-header>

<ion-content>
	<form (ngSubmit)="createCouncil()" #newCouncilForm="ngForm">
		<ion-item-group>
			<ion-item-divider>
				<ion-label class="font1">Choose a name for your council:</ion-label>
			</ion-item-divider>

			<ion-item>
				<ion-input type="text" id="council" name="council" maxlength="25" [(ngModel)]="newCouncil.council" placeholder="Council Name"
					clearInput required></ion-input>
			</ion-item>
			<ion-item-divider>
				<ion-label class="font2">
					Must be 25 characters or less
				</ion-label>
			</ion-item-divider>
			<ion-item-divider item-wrap>
				<ion-label class="font1 line-height">Who do you want to add to this council?</ion-label>
			</ion-item-divider>

			<!--<div *ngFor="let user of users">-->
			<ion-list>
				<ng-container *ngFor="let user of users; let i = index">
						<ion-item *ngIf="!(user.isadmin)" [ngClass]="i===0?'ion-item-first':(i===users.length - 1? 'ion-item-last': 'ion-item-middle')"
							[attr.data-index]="i ">
							<ion-avatar item-left>
								<img [src]="(user)?.avatar " class="avatarImage " *ngIf="(user)?.avatar && (user)?.avatar !=='avatar' " />
								<img src="assets/icon/noavatar.png " class="avatarImage " *ngIf="!(user)?.avatar || (user)?.avatar==='avatar' " />
							</ion-avatar>
							<ion-label>
								<h4 class="username-styles ">{{user.firstname}} {{user.lastname}}</h4>
								<p>{{user.councilnames}}</p>
							</ion-label>
							<ion-checkbox required [(ngModel)]="user.selected " color="secondary " name="checkbox " item-right name="selectedUser "></ion-checkbox>
					</ion-item>
				</ng-container>
			</ion-list>
		</ion-item-group>
	</form>
</ion-content>

<ion-footer>
	<ion-toolbar class="createbtn " text-center>
		<button ion-button clear color="secondary " name="Create " type="submit " (click)="createCouncil() " [disabled]="!newCouncilForm.form.valid ">Create</button>
	</ion-toolbar>
</ion-footer>