<ion-header>
     <ion-navbar>
    <ion-buttons class="menu-button" left>
      <button ion-button menuToggle >
      <ion-icon class="icon councils-icon__left_menu menu-icon" name="menu" ></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>Council Discussions</ion-title>
    <ion-buttons class="menu-button" end>
      <button ion-button (click)="notificationsPage()"  >
     <ion-icon class="icon councils-icon__notifications menu-icon">
         <ion-badge item-right class="notification-badge"  color='danger' *ngIf="notificationsCount">{{notificationsCount}}</ion-badge>
      </ion-icon> 
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>
    <ion-item-group>
        <ng-container *ngIf="discussions.length">
            <ion-item-divider></ion-item-divider>
            <ion-item (click)="openDiscussion(item.$key)" *ngFor="let item of discussions">
                <h3 class="topic">{{item.topic}}</h3><span class="right-align"><ion-icon class="councils-icon__chevron_right fwd-arrow-grey"></ion-icon></span>
                <p>{{item.lastMsg}}</p>
                <span> {{item.councilname}}</span><span class="right-align">{{item.createdDate | customdateformat}}</span>
            </ion-item>
        </ng-container>
        <ng-container *ngIf="isListEmpty">
            <p class="text-content">There are no discussions</p>
        </ng-container>
    </ion-item-group>
</ion-content>