<ion-header>
    <ion-navbar hideBackButton>
        <!--<ion-buttons left>
            <button ion-button menuToggle>
      <ion-icon class="menuicon" name="menu" color="secondary"></ion-icon>
    </button>
        </ion-buttons>-->
    <ion-row>
        <ion-col class="header-col" width-10>
            <ion-icon class="ion-md-arrow-back cancel-button" name="cancel" item-left color="secondary"
                (click)="cancel()"></ion-icon>
        </ion-col>
        <ion-col width-80>
            <h4 text-center>Council Discussions</h4>
        </ion-col>
    </ion-row>
   
    <ion-buttons end>
        <button ion-button>
      <ion-icon class="notificationsicon" name="notifications-outline" color="secondary"></ion-icon>
    </button>
    </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content>
    <ion-item-group>
        <ng-container *ngIf="discussions.length">
            <ion-item-divider></ion-item-divider>
            <ion-item (click)="openDiscussion(item.$key)" *ngFor="let item of discussions">
                <h3 class="topic">{{item.topic}}</h3><span class="right-align"><ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon></span>
                <p>{{item.lastMsg}}</p>
                <span> {{item.councilname}}</span><span class="right-align">{{item.createdDate | customdateformat}}</span>
            </ion-item>
        </ng-container>
        <ng-container *ngIf="isListEmpty">
            <p class="text-content">There are no discussions</p>
        </ng-container>
    </ion-item-group>
</ion-content>