council-discussions-list-page{
    .right-align{
        position: absolute;
        right: 0;
    }
    .item-md,.item-ios,.item-wp{
        padding-right:16px;
        position: relative;
    }
    .topic{
        display: inline;
    }
}