<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-row>
      <ion-col class="header-col" width-10>
        <ion-icon class="ion-md-arrow-back cancel-button" name="cancel" item-left color="secondary" (click)="cancel()"></ion-icon>
      </ion-col>
      <ion-col width-80>
        <ion-title text-center>Notes</ion-title>
      </ion-col>
    </ion-row>
    <ion-buttons end>
      <button ion-button>
      <ion-icon class="notificationsicon" name="notifications-outline" color="secondary"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ng-container *ngIf="notesArray.length">
      <ion-item-divider></ion-item-divider>
      <ion-item (click)="notesSelected(item)" *ngFor="let item of notesArray">
        <h3 class="title">{{item.title}}</h3><span class="right-align"><ion-icon item-right ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon></span>
        <p>{{item.note}}</p>
        <span>{{item.createddate | customdateformat}}</span>
      </ion-item>
    </ng-container>
    <ng-container *ngIf="!notesArray.length">
      <div class="nocontent-message">
        <p>There are no notes</p>
      </div>
    </ng-container>
  </ion-item-group>
</ion-content>