page-councilusersmodal {
    ion-content {
        position: fixed;
        bottom: 0%;
        height: auto;
    }
    .council-styles {
        font-family: Bernina-Regular !important;
        font-size: 120% !important;
        color: #35373a !important;
    }
    ion-label{
        display: flex;
        align-items: center;
    }
    ion-label h4{
        flex: 1;
    }

    ion-avatar img,
ion-thumbnail img {
    display: block;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50% !important;
}

ion-avatar {
    background: #F4F6FA;
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
    min-height: 30px !important;
    border-radius: 50% !important;
}
 .font4{
        font-family: Bernina-Regular, sans-serif;
        font-size: 15px !important;
        color: #35373a !important;
    }
}