settings-page {
    
    

    .menuicon {
        color: #32b38a;
    }
    .admintext {
        text-align: center;
    }
    .notificationsicon {
        color: #32b38a;
        margin-left: 10px;
    }
    .icon-style {
        color: #A9AAAC !important;
        width: 8px;
        height: 13px;
    }
    .label-styles {
        font-family: Bernina-Regular !important;
        font-size: 17px !important;
        color: #35373a !important;
    }
    .signout {
        font-family: Bernina-Regular !important;
        font-size: 17px !important;
        color: #F13822 !important;
        text-align: center;
    }
    .empty {
        height: 28px;
        background-color: #f7f7f7;
        border-top: 1px solid #e8e9eb !important;
        border-bottom: 1px solid #e8e9eb !important;
    }

    .item-noborder.div {
        border: none !important;
    }

    .item-md.item-block .item-inner,
.item-ios.item-block .item-inner {
    border: none !important;
}

.bordered-item.item-ios.item-block .item-inner,
.bordered-item.item-md.item-block .item-inner {
border-bottom: 1px solid #e8e9eb !important;
}
}