my-assignments{
    ion-icon.active{
        display: none;
    }

    .list-md[inset],.list-ios[inset],.list-wp[inset]{
        margin:0 16px 0 0;
    }
    .item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input,
    .item-ios ion-icon[item-left] + .item-inner, .item-ios ion-icon[item-left] + .item-input,
    .item-wp ion-icon[item-left] + .item-inner, .item-wp ion-icon[item-left] + .item-input{
        margin-left:5px;
    }

    .item-md,.item-ios ,.item-wp{
        padding-left:0;
    }
}
