<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
      <ion-icon class="menuicon" name="menu" color="secondary"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title class="welcometext"><b>Assignments</b></ion-title>
    <ion-buttons end>
      <button ion-button>
      <ion-icon class="notificationsicon" name="notifications-outline" color="secondary"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding center text-center>
  <ng-container *ngIf="!myAssignments.length">
    <ion-list inset>
      <ion-item (click)="assignmentSelected(item, i)" *ngFor="let item of myAssignments | async; let i = index" [attr.data-index]="i">
        <ion-icon name="radio-button-off" color="secondary" item-left [ngClass]="{'active': selectedIdx == i}"></ion-icon>
        <ion-icon name="radio-button-on" color="secondary" item-left [ngClass]="{'active': selectedIdx != i}"></ion-icon>
        <h1>{{item.description}}</h1>
        <p><span>{{item.councilname}}</span><span style="position: absolute;right: 0">{{item.assigneddate | amCalendar}}</span>
        </p>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-container *ngIf="!myAssignments.length">
    <p class="text-content">There are no assignments</p>
  </ng-container>
</ion-content>