open-council-discussion-page {
    .ion-ios-arrow-round-back {
        font-size: 300% !important;
    }
    .ion-md-arrow-back {
        position: absolute;
        top: 15px;
    }
    ion-header .button-ios {
        margin: 0;
        padding: 0;
        height: inherit;
    }
    ion-header .button-md {
        margin: 0;
        height: inherit;
    }
    ion-footer .button-md,
    ion-footer .button-ios {
        padding: 0;
    }
    .chat-content {
        bottom: 0;
    }
    ion-modal {
        position: absolute;
        top: 60%;
        bottom: 11%;
        height: auto;
    }
    .typings-label{
        position: fixed;
        z-index: 99;
        bottom: 11%;
    }
}