<ion-header>
    <ion-navbar hideBackButton>
        <ion-row>
            <ion-col class="header-col">
                <button ion-button item-right clear class="button button-clik" (click)="back()">  
                <ion-icon class="councils-icon__back menu-icon" name="cancel" color="secondary"></ion-icon>
                				</button>
            </ion-col>
            <ion-col width-80 class="header-col2">
                <ion-title text-center>{{discussion.topic}}</ion-title>
            </ion-col>
        </ion-row>
    </ion-navbar>

</ion-header>
<ion-content id="content1">
    <!--<ion-scroll scrollY="true" class="messages">-->
    <div class="chat-content">
        <ion-item text-wrap class="description">
            <ion-label class="font1 line-height">
                This discussion was created by <span ion-text color="secondary">{{user.$key===discussion.createdBy?'You':discussion.createdUser}}</span>                on {{discussion.createdDate | customdateformat}}. There are {{activeusersCount}} active participants from
                the <span ion-text color="secondary">{{discussion.councilname}}</span>.
            </ion-label>
        </ion-item>
        <ion-list no-lines>
            <ion-item *ngFor="let msg of discussion.messages" text-wrap>
                <!--<ion-avatar item-left>
                    <img [src]="msg.user_avatar" *ngIf="msg.user_avatar">
                    <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!msg.user_avatar" />
                </ion-avatar>-->
                <ion-avatar item-left>
                    <img [src]="(msg)?.user_avatar" class="avatarImage" *ngIf="(msg)?.user_avatar && (msg)?.user_avatar !== 'avatar'" />
                    <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!(msg)?.user_avatar || (msg)?.user_avatar === 'avatar'" />
                </ion-avatar>
                <h2 class="font4">{{msg.user_firstname}} {{msg.user_lastname}}</h2>
                <ion-icon class="councils-icon__checkmark" *ngIf="msg.userId === user.$key && msg.status === 'sent'" ios="ios-checkmark"
                    md="ios-checkmark"></ion-icon>
                    <p class="font2">{{msg.timestamp | customdateformat}}</p>
                    <p class="font5 line-height">{{msg.text}}</p>
            </ion-item>
        </ion-list>
    </div>
    <!--</ion-scroll>-->
</ion-content>
<ion-footer>
    <ion-label class="typings-label" color="secondary" *ngIf="discussion.typings.replace(', '+ this.user.firstname + ' is typing..', '').replace(this.user.firstname + ' is typing..',
        '')">{{discussion.typings.replace(', '+ this.user.firstname + ' is typing..', '').replace(this.user.firstname + ' is typing..',
        '')}}
        </ion-label>
        <!--<ion-row>
            <ion-col width-80 class="msg-col">
                <ion-textarea type="text" rows="1" elastic id="msgFld" spellcheck="true" placeholder="Write a message..." [(ngModel)]="msg" (focus)="focusIn()" (focusout)="focusOut()"
                    (keyup)="keypresssed($event)"></ion-textarea>
            </ion-col>
            <ion-col width-20 text-center>
                <button ion-button color="secondary" clear (click)="send()" [disabled]="!msg">Send</button>
            </ion-col>
        </ion-row>-->
        <ion-textarea type="text" rows="1" elastic id="msgFld" spellcheck="true" placeholder="Write a message..." [(ngModel)]="msg"
            (focus)="focusIn()" (focusout)="focusOut()" (keyup)="keypresssed($event)"></ion-textarea>
            <ion-row>
                <ion-col width-80>
                </ion-col>
                <ion-col width-20>
                    <button ion-button color="secondary" class="button button-clik" clear (click)="send()" [disabled]="!msg">Send</button>
                </ion-col>
            </ion-row>
</ion-footer>