open-council-discussion-page {
    .ion-ios-arrow-round-back {
        font-size: 300% !important;
    }
    .ion-md-arrow-back {
        position: absolute;
        top: 15px;
    }
    ion-header .button-ios {
        margin: 0;
        padding: 0;
        height: inherit;
    }
    ion-header .button-md {
        margin: 0;
        height: inherit;
    }
    ion-footer .button-md,
    ion-footer .button-ios {
        padding: 0;
    }
    .chat-content {
        bottom: 0;
    }
    ion-modal {
        position: absolute;
        top: 60%;
        bottom: 11%;
        height: auto;
    }
    .typings-label{
       // position: fixed;
        z-index: 99;
       // bottom: 11%;
    }
    .msg-sendername{
        display: inline-block;
    }
    .msg-status-icon{
        position: absolute;
        right: 0;
        padding-right: 10pt;
        font-size: 200%;
    }
    .font1{
        font-family: Bernina-Regular, sans-serif;
        font-size: 17px !important;
        color: #a9aaac !important;
    }
    .font2{
        font-family: 'Bernina-Regular', sans-serif;
        font-size: 13px;
        color: #a9aaac;
    }
    .line-height{
        line-height: 24px;
        white-space: normal;
    }
    .font3{
        font-family: Bernina-Regular, sans-serif;
        font-size: 17px !important;
        color: #35373a !important;
    }
    .font4{
        font-family: Bernina-semibold, sans-serif;
        font-size: 17px !important;
        color: #35373a !important;
    }
    .font5{
        font-family: Bernina-Regular, sans-serif;
        font-size: 17px !important;
        color: #35373a !important;
    }
}