<ion-header>
    <ion-navbar hideBackButton>
        <ion-row>
            <ion-col class="header-col">
                <button ion-button item-right clear class="button button-clik" (click)="back()">   
                <ion-icon class="councils-icon__back menu-icon" name="cancel" color="secondary"></ion-icon>
                </button>
            </ion-col>
            <ion-col width-60 class="header-col2">
                <ion-title text-center>{{councilName}}</ion-title>
            </ion-col>
            <ion-col class="header-col">
                <ng-container *ngIf="!deleteflag && filesArray.length">
                    <button color="secondary" class="editbtn" clear block (click)="edit()">Edit</button>
                </ng-container>
                <ng-container *ngIf="deleteflag">
                    <button color="secondary" class="editbtn" clear block (click)="done()">Done</button>
                </ng-container>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content id="content1" class="list-page">
    <ng-container *ngIf="!listdisplayflag">
        <ion-list>
            <ion-item [ngClass]="i === 0 ? 'ion-item-first': (i === filesArray.length-1 ? 'ion-item-last' : 'ion-item-middle')" *ngFor="let file of filesArray; let i = index"
                text-wrap>
                <ion-icon item-left class="councils-icon__file menu-icon" name="document" color="secondary" (click)="downloadFile(file)"></ion-icon>
                <ion-row>
                    <ion-col (click)="downloadFile(file)">
                        <p><span class="council-styles">{{file.filename}}</span></p>
                        <p class="font4">by <span ion-text color="secondary">{{file.createdUser}}</span></p>
                        <p class="font4">
                            {{file.filesize || size}} {{file.type || file.filetype}} file
                            <span class="agendadate-styles">{{file.createdDate | customdateformat}}</span></p>
                    </ion-col>
                    <ion-col width-20>
                        <ng-container *ngIf="deleteflag">
                            <ion-icon class="councils-icon__inactivate menu-icon right-align" name="close-circle" color="secondary" (click)="delete(file)"></ion-icon>
                        </ng-container>
                    </ion-col>
                </ion-row>
                </ion-item>
        </ion-list>
    </ng-container>
</ion-content>
<ion-footer>
    <ng-container *ngIf="!deleteflag">
        <button ion-button color="secondary" class="button button-clik" clear block (click)="addFileActionsPage(value)">Add File</button>
    </ng-container>
    <ng-container *ngIf="deleteflag">
        <button ion-button color="danger" class="button button-clik" clear block (click)="deleteFiles(filesArray)">Delete All</button>
    </ng-container>
</ion-footer>