 // http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: "Gotham-Medium";
    src: url('../assets/fonts/GOTHMMED.eot');
    src: url('../assets/fonts/GOTHMMED.eot') format('embedded-opentype'), url('../assets/fonts/GOTHMMED.woff') format('woff'), url('../assets/fonts/GOTHMMED.ttf') format('truetype'), url('../assets/fonts/GOTHMMED.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bernina-Regular";
    src: url('../assets/fonts/BerninaSans-Regular.eot');
    src: url('../assets/fonts/BerninaSans-Regular.eot') format('embedded-opentype'), url('../assets/fonts/BerninaSans-Regular.woff') format('woff'), url('../assets/fonts/BerninaSans-Regular.ttf') format('truetype'), url('../assets/fonts/BerninaSans-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bernina-SemiBold";
    src: url('../assets/fonts/BerninaSans-Semibold.eot');
    src: url('../assets/fonts/BerninaSans-Semibold.eot') format('embedded-opentype'), url('../assets/fonts/BerninaSans-Semibold.woff') format('woff'), url('../assets/fonts/BerninaSans-Semibold.ttf') format('truetype'), url('../assets/fonts/BerninaSans-Semibold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Bernina-Bold";
    src: url('../assets/fonts/BerninaSans-Semibold.eot');
    src: url('../assets/fonts/BerninaSans-Semibold.eot') format('embedded-opentype'), url('../assets/fonts/BerninaSans-Semibold.woff') format('woff'), url('../assets/fonts/BerninaSans-Semibold.ttf') format('truetype'), url('../assets/fonts/BerninaSans-Semibold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

/************************************ Icons **************************************/

@font-face {
  font-family: 'councils-icons';
  src:  url('../assets/fonts/councils-icons.eot?1p3suo');
  src:  url('../assets/fonts/councils-icons.eot?1p3suo#iefix') format('embedded-opentype'),
    url('../assets/fonts/councils-icons.ttf?1p3suo') format('truetype'),
    url('../assets/fonts/councils-icons.woff?1p3suo') format('woff'),
    url('../assets/fonts/councils-icons.svg?1p3suo#councils-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'councils-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.councils-icon__add:before {
  content: "\e900";
}
.councils-icon__admin:before {
  content: "\e901";
}
.councils-icon__agenda:before {
  content: "\e902";
}
.councils-icon__back:before {
  content: "\e903";
}
.councils-icon__chevron_right:before {
  content: "\e904";
}
.councils-icon__close:before {
  content: "\e905";
}
.councils-icon__donations:before {
  content: "\e906";
}
.councils-icon__file:before {
  content: "\e907";
}
.councils-icon__inactivate:before {
  content: "\e908";
}
.councils-icon__left_menu:before {
  content: "\e909";
}
.councils-icon__notifications:before {
  content: "\e90a";
}
.councils-icon__photo:before {
  content: "\e90b";
}
.councils-icon__radio_1:before {
  content: "\e90c";
}
.councils-icon__radio_2:before {
  content: "\e90d";
}
.councils-icon__reactivate:before {
  content: "\e90e";
}
.councils-icon__search:before {
  content: "\e90f";
}
.councils-icon__settings:before {
  content: "\e910";
}
.councils-icon__share:before {
  content: "\e911";
}
.councils-icon__checkmark:before {
  content: "\e912";
}
.councils-icon__double_checkmark:before {
  content: "\e913";
}
/*************************************************************************************/

html {
    font-size: 62.5%;
    /* [1] */
}

@function parseInt($n) {
    /* [2] */
    @return $n / ($n * 0+1);
}

@mixin rem($property,
$values) {
    $px: ();
    /* [3] */
    $rem: ();
    /* [3] */
    @each $value in $values {
        /* [4] */
        @if $value==0 or $value==auto {
            /* [5] */
            $px: append($px, $value);
            $rem: append($rem, $value);
        }
        @else {
            $unit: unit($value);
            /* [6] */
            $val: parseInt($value);
            /* [6] */
            @if $unit=="px" {
                /* [7] */
                $px: append($px, $value);
                $rem: append($rem, ($val / 10 * 1rem));
            }
            @if $unit=="rem" {
                /* [7] */
                $px: append($px, ($val * 10 * 1px));
                $rem: append($rem, $value);
            }
        }
    }
    #{$property}: $px;
    /* [8] */
    #{$property}: $rem;
    /* [8] */
}

body {
    @include rem(font-size,
    1.6rem);
    font-family: Bernina-Regular, sans-serif;
}

input,
textarea {
    font-family: 'Bernina-Regular', sans-serif !important;
    font-size: 1.7rem !important;
}

.toolbar-ios, .toolbar-md {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right:0;
}

.toolbar-title {
    overflow: visible !important;
}

.toolbar-title-md,
.toolbar-title-ios {
    font-family: "Bernina-Bold", sans-serif;
    font-size: 1.7rem !important;
    color: #35373A !important;
}

.title-ios {
    padding: 25px 40px 1px !important;
}

.nocontent-message {
    display: table;
    height: 100%;
    width: 100%;
    background: #fafafa;
    padding: -16px;
}

.nocontent-message p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    vertical-align: center;
    font-family: Bernina-Regular !important;
    font-size: 1.7rem !important;
    color: #a9aaac;
    width: 100%;
}

.header-md,
.header-ios {
    display: block;
    text-align: center;
    background: #FFFFFF;
    border-bottom: 1px solid #dcd9d8 !important;
}

h1 {
    font-family: Gotham-Medium, sans-serif;
    font-size: 2.8rem !important;
    color: #35373a !important;
}

.row2 {
    font-family: Gotham-Medium;
    font-size: 2.8rem;
    color: #35373a !important;
}

.row4 {
    font-family: Bernina-Regular;
    font-size: 1.7rem;
    color: #35373a !important;
}

h3 {
    font-family: Bernina-Regular, sans-serif;
    font-size: 1.7rem !important;
    color: #35373a !important;
}

.subtitle {
    font-family: Bernina-Regular, sans-serif;
    font-size: 1.7rem !important;
    color: #35373a !important;
}

.footer-md,
.footer-ios {
    background: #FFFFFF;
    border-top: 1px solid #dcd9d8;
}

button,
.button-md,
.button-ios {
    font-family: "Bernina-Regular", sans-serif;
    font-size: 1.7rem;
    text-transform: capitalize !important;
    color: #3CB18A;
}

.content-center {
    height: 100%;
    /* Or 100vh */
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-button-container {
    display: block;
    position: relative;
    padding-top: 12.8rem;
    margin: auto;
}

p {
    font-family: Bernina-Regular, sans-serif;
}

.cancel-font {
    font-size: 2.4rem;
}

.ion-md-close {
    font-size: 2.4rem;
    position: absolute;
    top: 1.5rem;
}

ion-header ion-col {
    padding: 0;
}

.header-col {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    align-items: center;
    min-width: 44px;
    max-width: 44px;
    min-height: 44px;
    max-height: 44px;
}

.header-left-icon {
    font-size: 24px;
}

ion-header ion-col h3 {
    font-weight: bold;
    font-family: "Bernina-Bold", sans-serif;
    font-size: 1.7rem !important;
    color: #35373A !important;
}

.picker-opt {
    text-overflow: initial !important;
}

.picker-md .picker-toolbar-cancel {
    flex: 1 !important;
}

.picker-md .picker-button,
.picker-md .picker-button.activated {
    color: #3CB18A!important;
}

.picker-ios .picker-button,
.picker-ios .picker-button.activated {
    color: #3CB18A!important;
}

.picker-md .picker-prefix,
.picker-md .picker-suffix,
.picker-md .picker-opt.picker-opt-selected {
    color: #3CB18A!important;
}

.input-has-focus .label-md[floating],
.input-has-value .label-md[floating] {
    color: #3CB18A;
}

.input-has-focus .label-ios[floating],
.input-has-value .label-ios[floating] {
    color: #3CB18A;
}

.scroll-content {
    overflow-y: auto !important
}

button:disabled {
    color: #222;
}

.item-divider-ios,
.item-divider-md,
.item-divider-wp {
    color: #35373A;
    background-color: #f7f7f7
}

.header-md::after,
.tabs-md[tabsPlacement="top"]>.tabbar::after,
.footer-md::before,
.tabs-md[tabsPlacement="bottom"]>.tabbar::before {
    background-image: none;
}

.footer-md::before,
.tabs-md[tabsPlacement="bottom"]>.tabbar::before {
    top: 0px;
    bottom: 0px;
    height: 0px;
    background-position: 0 0;
}

.toolbar-background {
    background: #FFFFFF !important;
}

.slide-zoom {
    height: 100% !important;
}

.empty {
    height: 28px;
    background-color: #fafafa !important;
    border-top: 1px solid #e8e9eb !important;
    border-bottom: 1px solid #e8e9eb !important;
}

ion-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

ion-content .page-blank-area {
    align-items: stretch;
}

.page-blank-area {
    flex: 1;
    background-color: #fafafa !important;
    height: 100%;
}

.item-inner {
    font-family: Bernina-Regular !important;
}

.bordered-item.item-ios.item-block .item-inner,
.bordered-item.item-md.item-block .item-inner {
    border-bottom: 1px solid #e8e9eb !important;
}

.item-noborder.div {
    border: none !important;
}

.menu-button {
        margin: 0 !important;
        padding: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
    }

    .menu-icon {
        color: #32b38a;
        font-size: 24px !important;
    }

    .bar-button-menutoggle-md {
        margin:0 !important;
        padding: 0 !important;
    }

    .bar-button-menutoggle-md ion-icon {
        padding-left: 10px !important;
    }


/****************************** Action Sheet Styles **********************************/

.action-sheet-ios .action-sheet-button {
    height: 4.1rem !important;
    min-height: 4.1rem !important;
    font-size: 1.7rem !important;
    border-radius: 0;
}

.action-sheet-md .action-sheet-button {
    height: 4.1rem !important;
    min-height: 4.1rem !important;
    font-family: Bernina-Regular;
    font-size: 1.7rem !important;
    border-radius: 0;
    text-align: center;
    border-bottom: 1px solid #d6d6da;
}

.action-sheet-ios .action-sheet-title {
    font-family: Bernina-SemiBold !important;
    font-size: 1.3rem !important;
    color: #35373A !important;
    height: 3.2rem !important;
    display: flex;
    text-align: center !important;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 0;
}

.action-sheet-md .action-sheet-title {
    font-family: Bernina-SemiBold !important;
    font-size: 1.3rem !important;
    color: #35373A !important;
    height: 3.2rem !important;
    display: flex;
    text-align: center !important;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid #d6d6da;
}

.action-sheet-container {
    padding: 0 !important;
    border-radius: 0;
    background: rgba(256, 256, 256, .9) !important;
    opacity: .9;
    margin-bottom: 0;
}

.action-sheet-group {
    background: rgba(256, 256, 256, .9) !important;
    opacity: .9;
    border-radius: 0;
    margin-bottom: 0;
}

.action-sheet-ios .action-sheet-group {
    border-radius: 0;
}

.action-sheet-ios .action-sheet-group:last-child {
    margin-bottom: 0;
}

.action-sheet-ios .action-sheet-group .button-inner {
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    border-radius: 0 !important;
    margin-bottom: 0;
    background: rgba(256, 256, 256, .9);
}

.action-sheet-md .action-sheet-group .button-inner {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: center;
}

.action-sheet-md .action-sheet-title {
    text-align: center !important;
    font-size: 1.3rem !important;
    border-radius: 0;
}

.actionsheet-items {
    color: #3cb18a !important;
    font-family: Bernina-Regular !important;
    font-size: 1.7rem !important;
    background: rgba(256, 256, 256, .9);
    border-radius: 0;
}

.actionsheet-cancel {
    color: #35373A !important;
    font-family: Bernina-Regular !important;
    font-size: 17px !important;
}

.item-radio-checked {
    background: #f4f6fa;
}


/*************************** End - AcionSheet Styles ******************************/

// uncomment below media query if you need to grayout the modal backdrop.
@media not all and (min-height: 600px) and (min-width: 768px) {
    ion-modal ion-backdrop {
        visibility: visible;
        opacity: 0 !important;
    }
}

.modal-wrapper {
    position: absolute;
    width: 100%;
    height: 40%;
    top: 50%;
}

ion-avatar img,
ion-thumbnail img {
    display: block;
    width: 48px !important;
    height: 48px !important;
    border-radius: 50% !important;
}

ion-avatar {
    background: #F4F6FA;
    width: 48px !important;
    height: 48px !important;
    border-radius: 50% !important;
}

.fwd-arrow-grey {
    color: #a9aaac !important;
    font-size: 13px !important;
     
}

.cancel-button {
    font-size: 24px !important;
}

.item-checkbox-checked {
    background: #f4f6fa;
        
    }


.item-md{
        border-bottom: 1px solid #E8E9EB;
    }
     .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: #E8E9EB !important;
    box-shadow: none !important;
}
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
    border-bottom-color: none !important;
    box-shadow: none !important;
}
.item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: none !important;
}
    .item-ios{
        border-bottom: 1px solid #E8E9EB;
    }
    .item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: #E8E9EB !important;
    box-shadow: none !important;
}
.item-ios.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
    border-bottom-color: none !important;
    box-shadow: none !important;
}
.item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .list-md .item-input.input-has-focus:last-child {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .list-md .item-input.input-has-focus:last-child .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .item-md.item-block .item-inner,
    .item-ios.item-block .item-inner,
    .item-ios.item-block .item-inner {
        border-bottom: none !important;
    }
    
.item-ios.item-block .item-inner {
    padding-right: 8px;
    border-bottom: none !important;
}

    .notification-badge {
        position:absolute; 
        font-weight: bold; 
        top:-5px; 
        left:9px; 
        font-size:9px
    }
    ion-title{
        height:100%;
        text-align: center;
    }

    
    

    /***************************** List Page Styles **********************************************/

     .list-page .scroll-content {
        background: #fafafa;
        padding-top: 28px !important;
    }

    


    .list-page ion-item {
        height: 48px;
        
    }

    .list-page .ion-idv-item {
         border-top: 1px solid #e8e9eb !important;
        border-bottom: 1px solid #e8e9eb !important;
    }

    


    .ion-item-first {
        border-top:1px solid #e8e9eb !important;
        border-bottom: none !important;
    }
    
    .ion-item-middle {
        border: none  !important;
    }

    .ion-item-last {
        border-bottom: 1px solid #e8e9eb !important;
        border-top: none !important;
    }    

    .ion-item-first.item-md.item-block .item-inner,
    .ion-item-first.item-ios.item-block .item-inner {
        border-bottom: 1px solid #e8e9eb  !important;
    }

    .ion-item-middle.item-md.item-block .item-inner,
    .ion-item-middle.item-ios.item-block .item-inner {
        border-bottom: 1px solid #e8e9eb  !important;
    }

    .ion-item-last .item-inner {
        border: none !important;
    }

    .empty {
        border:none !important;
        height: 28px;
    }

    
    

    .label-styles {
        font-family: Bernina-Regular !important;
        font-size: 17px !important;
        color: #35373a !important;
    }

    

    


/************************ Form-Page Styles ************************************************/

.form-page ion-item {
        border-top: none !important;
        border-bottom: 1px solid #e8e9eb !important;
    }

    ion-item.form-item-first {
        border-top: 1px solid #e8e9eb !important;
        border-bottom: 1px solid #e8e9eb !important;
    }

    ion-item.form-item-first .item-inner {
        border: none !important;
    }


 
