// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: "Gotham-Medium";
    src: url('../assets/fonts/GOTHMMED.eot');
    src: url('../assets/fonts/GOTHMMED.eot') format('embedded-opentype'), url('../assets/fonts/GOTHMMED.woff') format('woff'), url('../assets/fonts/GOTHMMED.ttf') format('truetype'), url('../assets/fonts/GOTHMMED.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bernina-Regular";
    src: url('../assets/fonts/BerninaSans-Regular.eot');
    src: url('../assets/fonts/BerninaSans-Regular.eot') format('embedded-opentype'), url('../assets/fonts/BerninaSans-Regular.woff') format('woff'), url('../assets/fonts/BerninaSans-Regular.ttf') format('truetype'), url('../assets/fonts/BerninaSans-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bernina-SemiBold";
    src: url('../assets/fonts/BerninaSans-SemiBold.eot');
    src: url('../assets/fonts/BerninaSans-SemiBold.eot') format('embedded-opentype'), url('../assets/fonts/BerninaSans-SemiBold.woff') format('woff'), url('../assets/fonts/BerninaSans-SemiBold.ttf') format('truetype'), url('../assets/fonts/BerninaSans-SemiBold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Bernina-Bold";
    src: url('../assets/fonts/BerninaSans-SemiBold.eot');
    src: url('../assets/fonts/BerninaSans-SemiBold.eot') format('embedded-opentype'), url('../assets/fonts/BerninaSans-SemiBold.woff') format('woff'), url('../assets/fonts/BerninaSans-SemiBold.ttf') format('truetype'), url('../assets/fonts/BerninaSans-SemiBold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

html {
	font-size: 62.5%; /* [1] */
}

@function parseInt($n) { /* [2] */
  @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
  $px : (); /* [3] */
  $rem: (); /* [3] */
  
  @each $value in $values { /* [4] */
   
    @if $value == 0 or $value == auto { /* [5] */
      $px : append($px , $value);
      $rem: append($rem, $value);
    }
    
    @else { 
      $unit: unit($value); /* [6] */
      $val: parseInt($value); /* [6] */
      
      @if $unit == "px" { /* [7] */
        $px : append($px,  $value);
        $rem: append($rem, ($val / 10 * 1rem));
      }
      
      @if $unit == "rem" { /* [7] */
        $px : append($px,  ($val * 10 * 1px));
        $rem: append($rem, $value);
      }
    }
  }
  
  #{$property}: $px;  /* [8] */
  #{$property}: $rem; /* [8] */
}

body {
  @include rem(font-size, 1.6rem);
  font-family: Bernina-Regular, sans-serif;
  
}

input {
    font-family: 'Bernina-Regular', sans-serif;
}

.toolbar-title-md,
.toolbar-title-ios {
    font-family: "Bernina-Bold", sans-serif;
    font-size: 1.7rem !important;
    color: #35373A !important;
}

.nocontent-message {
    
        display: table;
        height: 100%;
        width: 100%;
        background: #fafafa;
        padding: -16px;
    }
    .nocontent-message p {
       position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
        text-align: center;
        vertical-align: center;
        
        font-family: Bernina-Regular !important;
        font-size:1.7rem !important;
        
        color: #a9aaac;
        width:100%;
    }

.header-md,
.header-ios {
    display: block;
    text-align: center;
    background: #FFFFFF;
    border-bottom: 1px solid #dcd9d8 !important;
}

h1 {
    font-family: Gotham-Medium, sans-serif;
    font-size: 2.8rem !important;
    color: #35373a !important;
}

.row2 {
    font-family: Gotham-Medium;
    font-size: 2.8rem;
    color: #35373a !important;
}

.row4 {
    font-family: Bernina-Regular;
    font-size: 1.7rem;
    color: #35373a !important;
}

h3 {
    font-family: Bernina-Regular, sans-serif;
    font-size: 1.7rem !important;
    color: #35373a !important;
}

.subtitle {
    font-family: Bernina-Regular, sans-serif;
    font-size: 1.7rem !important;
    color: #35373a !important;
}

.footer-md,
.footer-ios {
    background: #FFFFFF;
}

button,
.button-md,
.button-ios {
    font-family: "Bernina-Regular", sans-serif;
    font-size: 1.7rem;
    text-transform: capitalize !important;
    color: #3CB18A;
}

.content-center {
    height: 100%;
    /* Or 100vh */
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-button-container {
    display: block;
    position: relative;
    padding-top: 12.8rem;
    margin: auto;
}



p {
    font-family: Bernina-Regular, sans-serif;
}

.cancel-font {
    font-size: 2.4rem;
}

.ion-md-close {
    font-size: 2.4rem;
    position: absolute;
    top: 1.5rem;
}

ion-header ion-col {
    padding: 0;
}

.header-col {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

ion-header ion-col h3 {
    font-weight: bold;
    font-family: "Bernina-Bold", sans-serif;
    font-size: 1.7rem !important;
    color: #35373A !important;
}



.picker-opt {
    text-overflow: initial !important;
}

.picker-md .picker-toolbar-cancel {
    flex: 1 !important;
}

.picker-md .picker-button,
.picker-md .picker-button.activated {
    color: #3CB18A!important;
}

.picker-ios .picker-button,
.picker-ios .picker-button.activated {
    color: #3CB18A!important;
}

.picker-md .picker-prefix,
.picker-md .picker-suffix,
.picker-md .picker-opt.picker-opt-selected {
    color: #3CB18A!important;
}

.input-has-focus .label-md[floating],
.input-has-value .label-md[floating] {
    color: #3CB18A;
}

.input-has-focus .label-ios[floating],
.input-has-value .label-ios[floating] {
    color: #3CB18A;
}

.scroll-content {
    overflow-y: auto !important
}

button:disabled {
    color: #222;
}

.item-divider-ios,
.item-divider-md,
.item-divider-wp {
    color: #35373A;
    background-color: #f7f7f7
}

.header-md,
.header-ios {
    border-bottom: none;
}

.header-md::after,
.tabs-md[tabsPlacement="top"]>.tabbar::after,
.footer-md::before,
.tabs-md[tabsPlacement="bottom"]>.tabbar::before {
    background-image: none;
}

.footer-md::before,
.tabs-md[tabsPlacement="bottom"]>.tabbar::before {
    top: 0px;
    bottom: 0px;
    height: 0px;
    background-position: 0 0;
}

.toolbar-background {
    background: #FFFFFF !important;
}



.slide-zoom {
    height: 100% !important;
}

/****************************** Action Sheet Styles **********************************/

.action-sheet-ios .action-sheet-button {
    height: 4.1rem !important;
    min-height: 4.1rem !important;
    font-size: 1.7rem !important;
    border-radius: 0;
    
}

.action-sheet-md .action-sheet-button {
    height: 4.1rem !important;
    min-height: 4.1rem !important;
    font-family: Bernina-Regular;
    font-size: 1.7rem !important;
    border-radius: 0;
    text-align: center;
    border-bottom: 1px solid #d6d6da;
}

.action-sheet-ios .action-sheet-title {
    font-family: Bernina-SemiBold !important;
    font-size: 1.3rem !important;
    color: #35373A !important;
    height: 3.2rem !important;
    display: flex;
    text-align: center !important;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 0;
}

.action-sheet-md .action-sheet-title {
    font-family: Bernina-SemiBold !important;
    font-size: 1.3rem !important;
    color: #35373A !important;
    height: 3.2rem !important;
    display: flex;
    text-align: center !important;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid #d6d6da;
}

.action-sheet-container {
    padding: 0 !important;
    border-radius: 0;
    background:rgba(256,256,256,.9) !important;
   opacity: .9;
   margin-bottom: 0;
}

.action-sheet-group {
   background:rgba(256,256,256,.9) !important;
   opacity: .9;
   border-radius: 0;
   margin-bottom: 0;
}

.action-sheet-ios .action-sheet-group {
    border-radius: 0;
}

.action-sheet-ios .action-sheet-group:last-child {
    margin-bottom: 0;
}

.action-sheet-ios .action-sheet-group .button-inner {
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    border-radius: 0 !important;
    margin-bottom: 0;
    background:rgba(256,256,256,.9);
}

.action-sheet-md .action-sheet-group .button-inner {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: center;
}

.action-sheet-md .action-sheet-title {
    text-align: center !important;
    font-size: 1.3rem !important;
    border-radius: 0;

}

.actionsheet-items {
    color: #3cb18a !important;
    font-family: Bernina-Regular !important;
    font-size: 1.7rem !important;
    background:rgba(256,256,256,.9);
    border-radius: 0;
}

.actionsheet-cancel {
    color: #35373A !important;
    font-family: Bernina-Regular !important;

    font-size: 17px !important;
}
.item-radio-checked {
    background: #f4f6fa;
}

// uncomment below media query if you need to grayout the modal backdrop.

@media not all and (min-height: 600px) and (min-width: 768px) {
  ion-modal ion-backdrop {
    visibility: visible;
    opacity: 0 !important;
  }
}

.modal-wrapper {
    position: absolute;
    width: 100%;
    height: 40%; 
    top: 50%;

}

ion-avatar img, ion-thumbnail img {
    display: block;
    width: 48px !important;
    height: 48px  !important;
    border-radius:50%  !important;
}

ion-avatar {
        background: #F4F6FA;
        width: 48px !important;
    height: 48px  !important;
    border-radius:50%  !important;
    }