<ion-header>
    <ion-navbar hideBackButton>
        <!--<ion-buttons left>
            <button ion-button menuToggle>
      <ion-icon class="menuicon" name="menu" color="secondary"></ion-icon>
    </button>
        </ion-buttons>-->
        <ion-row>
            <ion-col class="header-col">
                <ion-icon class="councils-icon__close menu-icon" name="cancel" item-left color="secondary" (click)="cancel()"></ion-icon>
            </ion-col>
            <ion-col width-80>
                <ion-title text-center>Private Discussions</ion-title>
            </ion-col>
        </ion-row>
        <ion-buttons end>
            <button ion-button>
      <ion-icon class="notificationsicon" name="notifications-outline" color="secondary"></ion-icon>
    </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content>

    <ng-container *ngIf="discussions.length">
        <ion-item (click)="openDiscussion(item.$key)" *ngFor="let item of discussions">
            <ion-avatar item-left *ngIf="uid === item.createdUserId">
                <img [src]="item.otherUserAvatar" *ngIf="item.otherUserAvatar">
                <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!item.otherUserAvatar" />
            </ion-avatar>
            <h3 class="topic" *ngIf="uid === item.createdUserId">{{item.otherUserName}}</h3>
            <ion-avatar item-left *ngIf="uid !== item.createdUserId">
                <img [src]="item.createdUserAvatar" *ngIf="item.createdUserAvatar">
                <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!item.createdUserAvatar" />
            </ion-avatar>
            <h3 class="topic" *ngIf="uid !== item.createdUserId">{{item.createdUserName}}</h3>
            <span class="right-align"><ion-icon class="councils-icon__chevron_right fwd-arrow-grey"></ion-icon></span>
            <p>{{item.lastMsg.text}}</p>
            <p class="font2">{{item.lastMsg.timestamp | customdateformat}}</p>
        </ion-item>
    </ng-container>
    <ng-container *ngIf="isListEmpty">
        <p class="text-content">There are no discussions</p>
    </ng-container>

</ion-content>