<ion-header>
     <ion-navbar>
    <ion-buttons class="menu-button" left>
      <button ion-button menuToggle >
      <ion-icon class="icon councils-icon__left_menu menu-icon" name="menu" ></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>Private Discussions</ion-title>
    <ion-buttons class="menu-button" end>
      <button ion-button (click)="notificationsPage()"  >
     <ion-icon class="icon councils-icon__notifications menu-icon">
         <ion-badge item-right class="notification-badge"  color='danger' *ngIf="notificationsCount">{{notificationsCount}}</ion-badge>
      </ion-icon> 
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>

    <ng-container *ngIf="discussions.length">
        <ion-item (click)="openDiscussion(item.$key)" *ngFor="let item of discussions">
            <ion-avatar item-left *ngIf="uid === item.createdUserId">
                <img [src]="item.otherUserAvatar" *ngIf="item.otherUserAvatar">
                <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!item.otherUserAvatar" />
            </ion-avatar>
            <h3 class="topic" *ngIf="uid === item.createdUserId">{{item.otherUserName}}</h3>
            <ion-avatar item-left *ngIf="uid !== item.createdUserId">
                <img [src]="item.createdUserAvatar" *ngIf="item.createdUserAvatar">
                <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!item.createdUserAvatar" />
            </ion-avatar>
            <h3 class="topic" *ngIf="uid !== item.createdUserId">{{item.createdUserName}}</h3>
            <span class="right-align"><ion-icon class="councils-icon__chevron_right fwd-arrow-grey"></ion-icon></span>
            <p>{{item.lastMsg.text}}</p>
            <p class="font2">{{item.lastMsg.timestamp | customdateformat}}</p>
        </ion-item>
    </ng-container>
    <ng-container *ngIf="isListEmpty">
        <p class="text-content">There are no discussions</p>
    </ng-container>

</ion-content>