<ion-header>
  <ion-title>Select Council</ion-title>
</ion-header>
<ion-content>
  <!--<ion-searchbar (ionInput)="searchFn($event)" *ngIf="fromPage" class="font1" placeholder="For which council is this assignment?"></ion-searchbar>
  <ion-searchbar (ionInput)="searchFn($event)" *ngIf="!fromPage" class="font1" placeholder="Which council will see this agenda?"></ion-searchbar>-->
  <ion-list radio-group>
    <ion-item class="ion-item-middle" *ngFor="let council of councils | search:term:'council'">
      <ion-label color="dark">{{council.council}}</ion-label>
      <ion-radio [checked]="council.isActCouncil" (click)="dismiss(council)"></ion-radio>
    </ion-item>
  </ion-list>
</ion-content>
<!--<ion-footer>
  <button ion-button clear block color="secondary" [disabled]="!selectedCouncil" (click)="dismiss(selectedCouncil)">Done</button>
</ion-footer>-->