new-council-discussion-page {
    .ion-ios-close {
        font-size: 300% !important;
    }
    .text-input-md {
        margin: 13px 8px 13px 0 !important;
    }
    .font1{
        font-family: Bernina-Regular, sans-serif;
        font-size: 17px !important;
        color: #a9aaac !important;
    }
    .font2{
        font-family: 'Bernina-Regular', sans-serif;
        font-size: 13px;
        color: #a9aaac;
    }
    .line-height{
        line-height: 24px;
        white-space: normal;
    }
    .font3{
        font-family: Bernina-Regular, sans-serif;
        font-size: 17px !important;
        color: #35373a !important;
    }
    .item-radio-checked{
        background: #f4f6fa;
    }
}