slide2 {
    .menu-title {
        font-size: 13px !important;
        color: #35373A !important;
        font-family: "Bernina-SemiBold" !important;
        padding-left: 16px;
        text-align: left;
    }

    .add-icon {
        font-size: 24px !important;
    }
}