
slide2 {
.menu-title {
    font-size: 13pt !important;
        color: #35373A !important;
        font-family: Bernina-SemiBold !important;
        padding-left: 16pt;
        text-align: left;
    
}

}