page-welcome{
.noborder {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

.listbtn1{
font-size: 1.08em !important;
color:#35373A !important;
font-family:Bernina-SemiBold !important;
margin-left: 7%;

}

.listbtn2{
font-size: 1.42em !important;
font-family:Bernina-regular !important;
color:#3cb18a !important;
}

b{
    color:#35373a !important;
    font-size: 13pt !important;
    font-family: Bernina-Semibold, sans-serif;
}
.signOutbtn{
    color:red;
    font-size: 15pt;
}
.count{
     color:#a9aaac;
    margin-left:13px;
}

// .title-ios{
//     position: absolute;
//     top: 15pt;
// }


}//page-welcome