.noborder {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

.listbtn1{
font-size: 13pt !important;
color:#35373A !important;
}

.listbtn2{
font-size: 17pt !important;
color:#3cb18a !important;
}

.classcolor{
    color: #3cb18a !important;
}

.cancelcolor{
    color:#35373A !important;
}

.signOutbtn{
    color:red;
    font-size: 15pt;
}