<ion-menu name="menu" id="menu" [content]="content" type="overlay">
	<ion-header>
		<ion-navbar hideBackButton="true">
			<ion-item style="border: none !important">
				<ion-avatar item-left>
					<img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="(userObj | async)?.avatar" />
					<img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!(userObj | async)?.avatar" />
				</ion-avatar>
				<h2>{{(userObj | async)?.firstname}}</h2>
				<p>{{(userObj | async)?.calling}} - {{(userObj | async)?.unitnumber}}</p>
			</ion-item>
		</ion-navbar>
	</ion-header>

	<ion-content>
		<ion-list no-lines>
			<ion-item>
				<ion-label class="listbtn1">Councils</ion-label>
				<button color="secondary" name="councilsPage" *ngIf="(userObj | async)?.isadmin" ion-button icon-only clear item-right (click)="councilsPage()">

         <ion-icon id="councilscircle" name="councilscircle" ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>   
        </button>
			</ion-item>

			<ion-item>
				<button ion-button color="secondary" class="listbtn2" name="activePage" clear menuToggle (click)="activePage()" text-capitalize>
           Active <span class="count">{{activeCouncilsCount | async}}</span>
        </button>
			</ion-item>

			<ion-item>
				<button ion-button color="secondary" name="notesPage" class="listbtn2" clear (click)="notesPage()" text-capitalize>
           Notes
        </button>
			</ion-item>

			<ion-item>
				<ion-label class="listbtn1">Agendas</ion-label>
				<button color="secondary" ion-button icon-only clear item-right menuToggle (click)="agendasPage()">
         <ion-icon id="agendascircle" ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
        </button>
			</ion-item>

			<ion-item>
				<button ion-button color="secondary" class="listbtn2" clear (click)="upcomingPage()" text-capitalize>
         Upcoming
        </button>
			</ion-item>

			<ion-item>
				<button ion-button color="secondary" class="listbtn2" clear (click)="pastPage()" text-capitalize>
         Past
        </button>
			</ion-item>

			<ion-item>
				<ion-label class="listbtn1">Discussions</ion-label>

				<button color="secondary" ion-button icon-only clear item-right (click)="discussionsPage()">
         <ion-icon id="discussionscircle" ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
        </button>
			</ion-item>

			<ion-item>
				<button ion-button color="secondary" class="listbtn2" clear text-capitalize>
         Council
        </button>
			</ion-item>

			<ion-item>
				<button ion-button color="secondary" class="listbtn2" clear (click)="privatePage()" text-capitalize>
         Private
        </button>
			</ion-item>

			<ion-item>
				<ion-label class="listbtn1">Assignments</ion-label>
				<button color="secondary" name="assignmentsPage" ion-button icon-only clear item-right (click)="assignmentsPage()">

         <ion-icon id="assignmentscircle" name="assignmentscircle" ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
        </button>
			</ion-item>

			<ion-item>
				<button ion-button color="secondary" class="listbtn2" clear menuToggle name="viewCouncilAssignments" (click)="viewCouncilAssignments()"
					text-capitalize>
					Council <span class="count">{{councilAssignmentsCount | async}}</span>
					</button>
			</ion-item>

			<ion-item>
				<ion-label class="listbtn1">Settings</ion-label>
			</ion-item>

			<ion-item>
				<button ion-button color="secondary" class="listbtn2" clear menuToggle text-capitalize (click)="viewEditProfilePage()">
         Edit Profile
        </button>
			</ion-item>

			<ion-item>
				<button ion-button color="secondary" class="listbtn2" clear menuToggle text-capitalize (click)="viewSubmitFeedbackPage()">				
         Submit Feedback
        </button>
			</ion-item>

			<ion-item>
				<button ion-button color="secondary" name="About" class="listbtn2" clear menuToggle text-capitalize (click)="viewAboutPage()">
         About
        </button>
			</ion-item>

		</ion-list>
	</ion-content>

	<ion-footer text-center>
		<button ion-button class="signOutbtn" name="SignOut" clear menuToggle text-capitalize (click)="signOut()">
         Sign Out  
        </button>
	</ion-footer>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>