new-council-file-page {
    .ion-ios-close {
        font-size: 300% !important;
    }
    .actionsheet-items {
        color: #3cb18a !important;
        font-family: Bernina-Regular !important;
        font-size: 145% !important;
    }
    .actionsheet-cancel {
        color: #35373A !important;
        font-family: Bernina-Regular !important;
        font-size: 145% !important;
    }
    .list-page .scroll-content {
        padding-top: 15px !important;
    }
    .unittype {
        background: #FAFAFA !important;
        border-bottom: none !important;
        text-transform: uppercase;
    }
    .unittype ion-label {
        font-family: Bernina-semibold, sans-serif;
        font-size: 13px !important;
        color: #35373a !important;
    }
    .unittype1 {
        background: #FAFAFA !important;
        border-bottom: none !important;
        text-transform: uppercase;
    }
    .unittype1 ion-label {
        font-family: Bernina-semibold, sans-serif;
        font-size: 13px !important;
        color: #35373a !important;
        padding-top: 22px !important;
    }
}