<ion-header>
    <ion-navbar hideBackButton>
        <ion-row>
            <ion-col class="header-col">
                <button ion-button item-right clear class="button button-clik" (click)="cancel()">   
                <ion-icon class="councils-icon__close menu-icon" name="cancel" item-left color="secondary"></ion-icon>
                                </button>
            </ion-col>
            <ion-col width-80 class="header-col2">
                <ion-title text-center>New Council File</ion-title>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content class="list-page">
    <form [formGroup]="newCouncilFileForm" (ngSubmit)="newCouncilFileForm.value">
        <ion-item-group>
            <ion-item-divider class="empty">
                <ion-label color="light-dary">Which council will be viewing this file?</ion-label>
            </ion-item-divider>
            <ion-list radio-group id="council" name="council" formControlName="council">
                <!--<ion-item [ngClass]="councils.length === 1 ? 'ion-idv-item' : (i === 0 ? 'ion-item-first' : (i === councils.length - 1? 'ion-item-last' : 'ion-item-middle'))"
                    *ngFor="let c of councils; let i = index">
                    <ion-label color="dark">{{(c | async)?.council}}</ion-label>
                    <ion-radio [value]="c | async" color="secondary"></ion-radio>
                </ion-item>-->

                <ion-item *ngIf="(areaCouncils.length)" [ngClass]="firstShown === 'Area' ? 'unittype' : 'unittype1'">Area</ion-item>
                <ion-item [ngClass]="areaCouncils.length === 1 ? 'ion-idv-item' : (i === 0 ? 'ion-item-first' : (i === areaCouncils.length - 1? 'ion-item-last' : 'ion-item-middle'))"
                    *ngFor="let c of areaCouncils; let i = index">
                    <ion-label color="dark">{{c.council}}</ion-label>
                    <ion-radio [value]="c" color="secondary"></ion-radio>
                </ion-item>

                <ion-item *ngIf="(stakeCouncils.length)" [ngClass]="firstShown === 'Stake' ? 'unittype' : 'unittype1'">Stake</ion-item>
                <ion-item [ngClass]="stakeCouncils.length === 1 ? 'ion-idv-item' : (i === 0 ? 'ion-item-first' : (i === stakeCouncils.length - 1? 'ion-item-last' : 'ion-item-middle'))"
                    *ngFor="let c of stakeCouncils; let i = index">
                    <ion-label color="dark">{{c.council}}</ion-label>
                    <ion-radio [value]="c" color="secondary"></ion-radio>
                </ion-item>

                <ion-item *ngIf="(wardCouncils.length)" [ngClass]="firstShown === 'Ward' ? 'unittype' : 'unittype1'">Ward</ion-item>
                <ion-item [ngClass]="wardCouncils.length === 1 ? 'ion-idv-item' : (i === 0 ? 'ion-item-first' : (i === wardCouncils.length - 1? 'ion-item-last' : 'ion-item-middle'))"
                    *ngFor="let c of wardCouncils; let i = index">
                    <ion-label color="dark">{{c.council}}</ion-label>
                    <ion-radio [value]="c" color="secondary"></ion-radio>
                </ion-item>

                <ion-item *ngIf="(addedCouncils.length)" [ngClass]="firstShown === 'Added' ? 'unittype' : 'unittype1'">Added</ion-item>
                <ion-item [ngClass]="addedCouncils.length === 1 ? 'ion-idv-item' : (i === 0 ? 'ion-item-first' : (i === addedCouncils.length - 1? 'ion-item-last' : 'ion-item-middle'))"
                    *ngFor="let c of addedCouncils; let i = index">
                    <ion-label color="dark">{{c.council}}</ion-label>
                    <ion-radio [value]="c" color="secondary"></ion-radio>
                </ion-item>

            </ion-list>
        </ion-item-group>
    </form>
</ion-content>

<ion-footer>
    <button ion-button color="secondary" class="button button-clik" clear block [disabled]="!newCouncilFileForm.valid" (click)="chooseFileActionsPage(newCouncilFileForm.value)">Choose File</button>
    <!--<input type="file" name="files[]" #files (change)="uploadInputFile($event)" />import-->
</ion-footer>