new-council-file-page {
    .ion-ios-close {
        font-size: 300% !important;
    }
    .actionsheet-items {
        color: #3cb18a !important;
        font-family: Bernina-Regular !important;
        font-size: 145% !important;
    }
    .actionsheet-cancel {
        color: #35373A !important;
        font-family: Bernina-Regular !important;
        font-size: 145% !important;
    }

    .list-page .scroll-content {
        padding-top: 15px !important;
    }
}