new-council-file-page{
.ion-ios-close {
        font-size: 36pt !important;
    }
.actionsheet-items{
    color: #3cb18a !important;
    font-family:Bernina-Regular !important;
    font-size: 1.42em !important;
}
.actionsheet-cancel{
    color:#35373A !important;
    font-family:Bernina-Regular !important;
    font-size: 1.42em !important;    
}
}