<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-row>
            <ion-col class="header-col" width-10>
                <ion-icon class="ion-md-arrow-back cancel-button" name="cancel" item-left color="secondary" (click)="cancel()"></ion-icon>
            </ion-col>
            <ion-col width-80>
                <ion-title text-center>Standard</ion-title>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content>

    <form [formGroup]="agendaeditForm" (ngSubmit)="agendaeditForm.value">
        <ion-item>
            <ion-label floating>Council</ion-label>
            <ion-input type="text" readonly (touchstart)="showCouncilsModal($event, newagendaliteForm.value)" formControlName="assignedcouncil"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Date & Time</ion-label>
            <ion-datetime displayFormat="DDDD, MMM D,YYYY, h:mm a" pickerFormat="DDD MMM D, h, mm, A" name="assigneddate" formControlName="assigneddate"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label floating>Opening Hymn</ion-label>
            <ion-input type="text" name="openinghymn" formControlName="openinghymn" maxlength="500"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Opening Prayer</ion-label>
            <ion-input type="text" (keyup)="showList($event)" formControlName="openingprayer"></ion-input>
        </ion-item>
        <div *ngIf="showlist" class="assignto-list">
            <ng-container *ngFor="let user of users | search:term:'username'">
                <ion-item class="list-item" *ngIf="user.$key!==uid" (click)="bindAssignto(user)">
                    <ion-avatar item-left>
                        <img [src]="user.avatar" class="avatarImage" *ngIf="user.avatar">
                        <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!user.avatar" />
                    </ion-avatar>
                    <h4 class="council-styles">{{user.firstname}} {{user.lastname}}</h4>
                    <svg height="8" width="8">
                        <circle cx="4" cy="4" r="4" [attr.fill]='user.status' />
                    </svg>
                </ion-item>
            </ng-container>
        </div>

        <ion-item>
            <ion-label floating>Spiritual Thought</ion-label>
            <ion-input type="text" (keyup)="showList1($event)" formControlName="spiritualthought"></ion-input>
        </ion-item>
        <div *ngIf="showlist1" class="assignto-list">
            <ng-container *ngFor="let user of users | search:term:'username'">
                <ion-item class="list-item" *ngIf="user.$key!==uid" (click)="bindAssignto1(user)">
                    <ion-avatar item-left>
                        <img [src]="user.avatar" class="avatarImage" *ngIf="user.avatar">
                        <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!user.avatar" />
                    </ion-avatar>
                    <h4 class="council-styles">{{user.firstname}} {{user.lastname}}</h4>
                    <svg height="8" width="8">
                        <circle cx="4" cy="4" r="4" [attr.fill]='user.status' />
                    </svg>
                </ion-item>
            </ng-container>
        </div>

        <ion-item>
            <ion-label *ngIf="!assignments">Assignments</ion-label>
            <ion-label floating color="secondary" *ngIf="assignments">Assignments</ion-label>
            <ion-select name="assignments" [(ngModel)]='assignments' formControlName="assignments">
                <ng-container *ngFor="let assignment of assignmentslist">
                    <ion-option [value]="assignment">{{assignment.description}}</ion-option>
                </ng-container>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label *ngIf="!completedassignments">Completed Assignments</ion-label>
            <ion-label floating color="secondary" *ngIf="completedassignments">Completed Assignments</ion-label>
            <ion-select name="completedassignments" [(ngModel)]='completedassignments' formControlName="completedassignments">
                <ng-container *ngFor="let completedassignment of completedassignmentslist">
                    <ion-option [value]="completedassignment">{{completedassignment.description}}</ion-option>
                </ng-container>
            </ion-select>
        </ion-item>

      
            <ion-label class="label-styles">Spiritual Welfare</ion-label>
            <ion-item *ngFor="let item of spiritualwelfareObj" class="item-styles">
                <ion-input type="text" [value]="item" formControlName='spiritualwelfare' maxlength="500"></ion-input>
                <button color="secondary" name="plusBtn" ion-button icon-only clear item-right (click)="plusBtn(item)">
                 <ion-icon name="councilscircle" ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
                </button>
            </ion-item>
       

        <ion-list>
            <ion-label class="label-styles">Temporal Welfare</ion-label>
            <ion-item *ngFor="let item of temporalwelfareObj" class="item-styles">
                <ion-input type="text" [value]="item" formControlName='temporalwelfare' maxlength="500"></ion-input>
                <button color="secondary" name="plusBtn" ion-button icon-only clear item-right (click)="plusBtn(item)">
                 <ion-icon name="councilscircle" ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
                </button>
            </ion-item>
        </ion-list>

        <ion-list>
            <ion-label class="label-styles">Fellowship Items</ion-label>
            <ion-item *ngFor="let item of fellowshipitemsObj" class="item-styles">
                <ion-input type="text" [value]="item" formControlName='fellowshipitems' maxlength="500"></ion-input>
                <button color="secondary" name="plusBtn" ion-button icon-only clear item-right (click)="plusBtn(item)">
                 <ion-icon name="councilscircle" ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
                </button>
            </ion-item>
        </ion-list>

        <ion-list>
            <ion-label class="label-styles">Missionary Items</ion-label>
            <ion-item *ngFor="let item of missionaryitemsObj" class="item-styles">
                <ion-input type="text" [value]="item" formControlName='missionaryitems' maxlength="500"></ion-input>
                <button color="secondary" name="plusBtn" ion-button icon-only clear item-right (click)="plusBtn(item)">
                 <ion-icon name="councilscircle" ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
                </button>
            </ion-item>
        </ion-list>

        <ion-list>
            <ion-label class="label-styles">Events</ion-label>
            <ion-item *ngFor="let item of eventObj" class="item-styles">
                <ion-input type="text" [value]="item" formControlName='event' maxlength="500"></ion-input>
                <button color="secondary" name="plusBtn" ion-button icon-only clear item-right (click)="plusBtn(item)">
                 <ion-icon name="councilscircle" ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
                </button>
            </ion-item>
        </ion-list>

        <ion-item>
            <ion-label floating>Closing Prayer</ion-label>
            <ion-input type="text" (keyup)="showList2($event)" formControlName="closingprayer"></ion-input>
        </ion-item>
        <div *ngIf="showlist2" class="assignto-list">
            <ng-container *ngFor="let user of users | search:term:'username'">
                <ion-item class="list-item" *ngIf="user.$key!==uid" (click)="bindAssignto2(user)">
                    <ion-avatar item-left>
                        <img [src]="user.avatar" class="avatarImage" *ngIf="user.avatar">
                        <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!user.avatar" />
                    </ion-avatar>
                    <h4 class="council-styles">{{user.firstname}} {{user.lastname}}</h4>
                    <svg height="8" width="8">
                        <circle cx="4" cy="4" r="4" [attr.fill]='user.status' />
                    </svg>
                </ion-item>
            </ng-container>
        </div>

    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button color="danger" (click)="delete(agendaeditForm.value)">Delete</button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button color="secondary" (click)="edit(agendaeditForm.value)" [disabled]="!agendaeditForm.valid">Save</button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>