<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-row>
            <ion-col class="header-col">
                <button ion-button item-right clear class="button button-clik" (click)="cancel()">   
                <ion-icon class="councils-icon__back menu-icon" name="cancel" item-left color="secondary"></ion-icon>
                </button>
            </ion-col>
            <ion-col width-80 class="header-col2">
                <ion-title text-center>Council Meeting</ion-title>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content>

    <form [formGroup]="agendaeditForm" (ngSubmit)="agendaeditForm.value">
        <ion-item class="input-item">
            <ion-label floating>Council</ion-label>
            <ion-input type="text" readonly (click)="showCouncilsModal($event, agendaeditForm.value)" formControlName="assignedcouncil"></ion-input>
        </ion-item>

        <ion-item [class.invalid]="dateErr" class="input-item">
            <ion-label floating>Date & Time</ion-label>
            <ion-datetime displayFormat="DDDD, MMM D, YYYY, h:mm a" pickerFormat="DDDD, MMM, D, YYYY, h, mm, A" ng-model="datetime" name="assigneddate"
                formControlName="assigneddate" validate-onblur [max]="2500" minuteValues="00,05,10,15,20,25,30,35,40,45,50,55"
                (ionChange)="onChange($event)"></ion-datetime>
        </ion-item>

        <ion-label class="error-msg" *ngIf="dateErr">Invalid date</ion-label>


        <ion-item class="input-item">
            <ion-label floating>Opening Hymn</ion-label>
            <ion-input type="text" spellautocomplete name="openinghymn" formControlName="openinghymn" maxlength="500"></ion-input>
        </ion-item>

        <ion-item [class.invalid]="invalidOpeningPrayerUsr" class="input-item">
            <ion-label floating>Opening Prayer</ion-label>
            <ion-input type="text" (focus)="showList($event)" (input)="showList($event)" formControlName="openingprayer"></ion-input>
        </ion-item>

        <ion-label class="error-msg" *ngIf="invalidOpeningPrayerUsr">Invalid user</ion-label>

        <div *ngIf="showlist" class="assignto-list">
            <ng-container *ngFor="let user of users | search:term:'username'">
                <ion-item class="list-item" *ngIf="user.$key!==uid" (click)="bindAssignto(user)">
                    <ion-avatar item-left>
                        <img [src]="(user)?.avatar" class="avatarImage" *ngIf="(user)?.avatar && (user)?.avatar !== 'avatar'" />
                        <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!(user)?.avatar || (user)?.avatar === 'avatar'" />
                    </ion-avatar>
                    <h4 class="council-styles font4">{{user.firstname}} {{user.lastname}}</h4>
                    <svg height="8" width="8">
                        <circle cx="4" cy="4" r="4" [attr.fill]='user.status' />
                    </svg>
                </ion-item>
            </ng-container>
        </div>

        <ion-item [class.invalid]="invalidSpiritualThoughtUsr" class="input-item">
            <ion-label floating>Spiritual Thought</ion-label>
            <ion-input type="text" (focus)="showList1($event)" (input)="showList1($event)" formControlName="spiritualthought"></ion-input>
        </ion-item>

        <ion-label class="error-msg" *ngIf="invalidSpiritualThoughtUsr">Invalid user</ion-label>

        <div *ngIf="showlist1" class="assignto-list">
            <ng-container *ngFor="let user of users | search:term:'username'">
                <ion-item class="list-item" *ngIf="user.$key!==uid" (click)="bindAssignto1(user)">
                    <ion-avatar item-left>
                        <img [src]="(user)?.avatar" class="avatarImage" *ngIf="(user)?.avatar && (user)?.avatar !== 'avatar'" />
                        <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!(user)?.avatar || (user)?.avatar === 'avatar'" />
                    </ion-avatar>
                    <h4 class="council-styles font4">{{user.firstname}} {{user.lastname}}</h4>
                    <svg height="8" width="8">
                        <circle cx="4" cy="4" r="4" [attr.fill]='user.status' />
                    </svg>
                </ion-item>
            </ng-container>
        </div>

        <ion-item (click)="toggleGroup()" class="height-prop input-item icon-line">
            <ion-label *ngIf="!shownGroup"  class="assignment-styles">
                Assignments
                </ion-label>
                <ion-label *ngIf="shownGroup"  class="assignment-styles1">
                    Assignments
                    </ion-label>
                    <button color="secondary"  class="no-padding button button-clik"  name="councilsPage" ion-button icon-only clear item-right>
                        <ion-icon name="councilscircle"  [ngClass]="shownGroup? 'councils-icon__arrow_collapse icon-size' : 'councils-icon__arrow_expand icon-size'"
                             item-right></ion-icon>
                            </button>
        </ion-item>
        <ng-container *ngIf="assignmentslist.length">
            <ion-item class="ion-item-middle" *ngFor="let assignment of assignmentslist" text-wrap [ngClass]="{inactive: !shownGroup}">
                <ion-label class="desc-styles">{{assignment.description}}</ion-label>
            </ion-item>
        </ng-container>
        <ng-container *ngIf="!assignmentslist.length">
            <ion-item class="ion-item-middle" text-wrap [ngClass]="{inactive: !shownGroup}">
                <ion-label class="no-assignments">No Assignments</ion-label>
            </ion-item>
        </ng-container>

        <ion-item (click)="toggleGroup1()" class="height-prop input-item icon-line">
            <ion-label *ngIf="!shownGroup1" class="assignment-styles">
                Completed Assignments
            </ion-label>
            <ion-label *ngIf="shownGroup1" class="assignment-styles1">
                Completed Assignments
            </ion-label>
            <button color="secondary"  class="no-padding button button-clik"  name="councilsPage" ion-button icon-only clear item-right>
                <ion-icon name="councilscircle"  [ngClass]="shownGroup1? 'councils-icon__arrow_collapse icon-size' : 'councils-icon__arrow_expand icon-size'"
                     item-right></ion-icon>
                    </button>
        </ion-item>
        <ng-container *ngIf="completedassignmentslist.length">
            <ion-item class="ion-item-middle" *ngFor="let completedassignment of completedassignmentslist" text-wrap [ngClass]="{inactive: !shownGroup1}">
                <div class="desc-styles">{{completedassignment.description}}</div>
            </ion-item>
        </ng-container>
        <ng-container *ngIf="!completedassignmentslist.length">
            <ion-item class="ion-item-middle" text-wrap [ngClass]="{inactive: !shownGroup1}">
                <div class="no-assignments">No Completed Assignments</div>
            </ion-item>
        </ng-container>

        <ng-container *ngIf="!spiritualwelfareObj.length">
            <ion-item class="input-item flex-direction">
                <ion-label floating>Spiritual Welfare</ion-label>
                <ion-textarea rows="1" wrap="off" spellautocomplete (focus)="spiritualfocus()" elastic id="spiritualwelfare" name="spiritualwelfare"
                    formControlName="spiritualwelfare" maxlength="500" (keyup)="spiritualkey($event)"></ion-textarea>
            </ion-item>
        </ng-container>
        <ng-container *ngIf="spiritualwelfareObj.length">
            <ion-label class="label-styles">Spiritual Welfare</ion-label>
            <ion-item *ngFor="let item of spiritualwelfareObj; let i = index; trackBy: trackByIndex" class="item-styles input-item icon-line">
                <ion-input type="text" [(ngModel)]="spiritualwelfareObj[i]" [ngModelOptions]="{standalone: true}" maxlength="500"></ion-input>
                <button color="secondary"  class="button button-clik" id="councilsPage" name="councilsPage" ion-button icon-only clear item-right
                    (click)="plusBtn(item)">
                    <ion-icon name="councilscircle" class="councils-icon__add menu-icon" item-right></ion-icon>
                    </button>
            </ion-item>
        </ng-container>

        <ng-container *ngIf="!temporalwelfareObj.length">
            <ion-item class="input-item flex-direction">
                <ion-label floating>Temporal Welfare</ion-label>
                <ion-textarea rows="1" wrap="off" spellautocomplete (focus)="temporalfocus()" elastic id="temporalwelfare" name="temporalwelfare"
                    formControlName="temporalwelfare" maxlength="500" (keyup)="temporalkey($event)">
                    </ion-textarea>
            </ion-item>
        </ng-container>
        <ng-container *ngIf="temporalwelfareObj.length">
            <ion-label class="label-styles">Temporal Welfare</ion-label>
            <ion-item *ngFor="let item of temporalwelfareObj; let i = index; trackBy: trackByIndex" class="item-styles input-item icon-line">
                <ion-input type="text" [(ngModel)]="temporalwelfareObj[i]" [ngModelOptions]="{standalone: true}" maxlength="500"></ion-input>
                <button color="secondary"  class="button button-clik" id="councilsPage" name="councilsPage" ion-button icon-only clear item-right
                    (click)="plusBtn(item)">
                    <ion-icon name="councilscircle" class="councils-icon__add menu-icon" item-right></ion-icon>
                    </button>
            </ion-item>
        </ng-container>

        <ng-container *ngIf="!missionaryitemsObj.length">
            <ion-item class="input-item flex-direction">
                <ion-label floating>Missionary Items</ion-label>
                <ion-textarea rows="1" wrap="off" spellautocomplete (focus)="missionaryfocus()" elastic id="missionaryitems" name="missionaryitems"
                    formControlName="missionaryitems" maxlength="500" (keyup)="missionarykey($event)">
                    </ion-textarea>
            </ion-item>
        </ng-container>
        <ng-container *ngIf="missionaryitemsObj.length">
            <ion-label class="label-styles">Missionary Items</ion-label>
            <ion-item *ngFor="let item of missionaryitemsObj; let i = index; trackBy: trackByIndex" class="item-styles input-item icon-line">
                <ion-input type="text" [(ngModel)]="missionaryitemsObj[i]" [ngModelOptions]="{standalone: true}" maxlength="500"></ion-input>
                <button color="secondary" class="button button-clik" id="councilsPage" name="councilsPage" ion-button icon-only clear item-right
                    (click)="plusBtn(item)">
                    <ion-icon name="councilscircle" class="councils-icon__add menu-icon" item-right></ion-icon>
                    </button>
            </ion-item>
        </ng-container>

        <ng-container *ngIf="!retentionObj.length">
            <ion-item class="input-item flex-direction">
                <ion-label floating>Retention </ion-label>
                <ion-textarea rows="1" wrap="off" spellautocomplete (focus)="retentionfocus()" elastic id="retention" name="retention" formControlName="retention"
                    maxlength="500" (keyup)="retentionkey($event)">
                    </ion-textarea>
            </ion-item>
        </ng-container>
        <ng-container *ngIf="retentionObj.length">
            <ion-label class="label-styles input-item">Retention </ion-label>
            <ion-item *ngFor="let item of retentionObj,let i=index;trackBy:trackByIndex" class="item-styles input-item icon-line">
                <ion-input [(ngModel)]="retentionObj[i]" [ngModelOptions]="{standalone:true}" maxlength="500"></ion-input>
                <button color="secondary" id="councilsPage"  class="button button-clik" name="councilsPage" ion-button icon-only clear item-right
                    (click)="plusBtn(item)">
                    <ion-icon name="councilscircle" class="councils-icon__add menu-icon" item-right></ion-icon>
                    </button>
            </ion-item>
        </ng-container>

        <ng-container *ngIf="!activationObj.length">
            <ion-item class="input-item flex-direction">
                <ion-label floating>Activation </ion-label>
                <ion-textarea rows="1" wrap="off" spellautocomplete (focus)="activationfocus()" elastic id="activation" name="activation"
                    formControlName="activation" maxlength="500" (keyup)="activationkey($event)">
                    </ion-textarea>
            </ion-item>
        </ng-container>
        <ng-container *ngIf="activationObj.length">
            <ion-label class="label-styles input-item">Activation </ion-label>
            <ion-item *ngFor="let item of activationObj,let i=index;trackBy:trackByIndex" class="item-styles input-item icon-line">
                <ion-input [(ngModel)]="activationObj[i]" [ngModelOptions]="{standalone:true}" maxlength="500"></ion-input>
                <button color="secondary" id="councilsPage"  class="button button-clik" name="councilsPage" ion-button icon-only clear item-right
                    (click)="plusBtn(item)">
                    <ion-icon name="councilscircle" class="councils-icon__add menu-icon" item-right></ion-icon>
                    </button>
            </ion-item>
        </ng-container>

        <ng-container *ngIf="!historyObj.length">
            <ion-item class="input-item flex-direction">
                <ion-label floating>Temple & Family History</ion-label>
                <ion-textarea rows="1" wrap="off" spellautocomplete (focus)="historyfocus()" elastic id="history" name="history" formControlName="history"
                    maxlength="500" (keyup)="historykey($event)">
                    </ion-textarea>
            </ion-item>
        </ng-container>
        <ng-container *ngIf="historyObj.length">
            <ion-label class="label-styles input-item">Temple & Family History</ion-label>
            <ion-item *ngFor="let item of historyObj,let i=index;trackBy:trackByIndex" class="item-styles input-item icon-line">
                <ion-input [(ngModel)]="historyObj[i]" [ngModelOptions]="{standalone:true}" maxlength="500"></ion-input>
                <button color="secondary" id="councilsPage"  class="button button-clik" name="councilsPage" ion-button icon-only clear item-right
                    (click)="plusBtn(item)">
                    <ion-icon name="councilscircle" class="councils-icon__add menu-icon" item-right></ion-icon>
                    </button>
            </ion-item>
        </ng-container>

        <ng-container *ngIf="!gospellearningObj.length">
            <ion-item class="input-item flex-direction">
                <ion-label floating>Gospel Learning</ion-label>
                <ion-textarea rows="1" wrap="off" spellautocomplete (focus)="gospellearningfocus()" elastic id="gospellearning" name="gospellearning"
                    formControlName="gospellearning" maxlength="500" (keyup)="gospellearningkey($event)">
                    </ion-textarea>
            </ion-item>
        </ng-container>
        <ng-container *ngIf="gospellearningObj.length">
            <ion-label class="label-styles input-item">Gospel Learning</ion-label>
            <ion-item *ngFor="let item of gospellearningObj,let i=index;trackBy:trackByIndex" class="item-styles input-item icon-line">
                <ion-input [(ngModel)]="gospellearningObj[i]" [ngModelOptions]="{standalone:true}" maxlength="500"></ion-input>
                <button color="secondary" id="councilsPage"  class="button button-clik" name="councilsPage" ion-button icon-only clear item-right
                    (click)="plusBtn(item)">
                    <ion-icon name="councilscircle" class="councils-icon__add menu-icon" item-right></ion-icon>
                    </button>
            </ion-item>
        </ng-container>

        <ng-container *ngIf="!eventObj.length">
            <ion-item class="input-item flex-direction">
                <ion-label floating>Events</ion-label>
                <ion-textarea rows="1" wrap="off" spellautocomplete (focus)="eventfocus()" elastic id="event" name="event" formControlName="event"
                    maxlength="500" (keyup)="eventkey($event)">
                    </ion-textarea>
            </ion-item>
        </ng-container>
        <ng-container *ngIf="eventObj.length">
            <ion-label class="label-styles input-item">Events</ion-label>
            <ion-item *ngFor="let item of eventObj; let i = index; trackBy: trackByIndex" class="item-styles input-item icon-line">
                <ion-input [(ngModel)]="eventObj[i]" [ngModelOptions]="{standalone: true}" maxlength="500"></ion-input>
                <button color="secondary" id="councilsPage"  class="button button-clik" name="councilsPage" ion-button icon-only clear item-right
                    (click)="plusBtn(item)">
                    <ion-icon name="councilscircle" class="councils-icon__add menu-icon" item-right></ion-icon>
                    </button>
            </ion-item>
        </ng-container>

        <div *ngIf="showlist2" class="assignto-list">
            <ng-container *ngFor="let user of users | search:term:'username'">
                <ion-item class="list-item" *ngIf="user.$key!==uid" (click)="bindAssignto2(user)">
                    <ion-avatar item-left>
                        <img [src]="(user)?.avatar" class="avatarImage" *ngIf="(user)?.avatar && (user)?.avatar !== 'avatar'" />
                        <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!(user)?.avatar || (user)?.avatar === 'avatar'" />
                    </ion-avatar>
                    <h4 class="council-styles font4">{{user.firstname}} {{user.lastname}}</h4>
                    <svg height="8" width="8">
                        <circle cx="4" cy="4" r="4" [attr.fill]='user.status' />
                    </svg>
                </ion-item>
            </ng-container>
        </div>
        <ion-item [class.invalid]="invalidClosingPrayerUsr" class="input-item">
            <ion-label floating>Closing Prayer</ion-label>
            <ion-input type="text" (focus)="showList2($event)" (input)="showList2($event)" formControlName="closingprayer"></ion-input>
        </ion-item>

        <ion-label class="error-msg" *ngIf="invalidClosingPrayerUsr">Invalid user</ion-label>

    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button color="danger" (click)="showConfirm()">Delete</button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button color="secondary" (click)="edit(agendaeditForm.value)" [disabled]="!agendaeditForm.valid">Save</button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>