<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-row>
            <ion-col class="header-col" width-10>
                <ion-icon class="cancel-font" name="close" item-left color="secondary" ios="ios-close" md="md-close" (click)="cancel()"></ion-icon>
            </ion-col>
            <ion-col width-80>
                <h3>
                    Standard
                </h3>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content>

    <form [formGroup]="agendaeditForm" (ngSubmit)="agendaeditForm.value">
        <ion-item>
            <ion-label *ngIf="!assignedcouncil">Council</ion-label>
            <ion-label floating color="secondary" *ngIf="assignedcouncil">Council</ion-label>
            <ion-select name="assignedcouncil" (ionChange)="assignedMemberChange(agendaeditForm.value)" [(ngModel)]='assignedcouncil'
                formControlName="assignedcouncil">
                <ion-option *ngFor="let c of councils" [value]="c">{{c.council}}</ion-option>
                </ion-select>
        </ion-item>

        <ion-item>
            <ion-label floating>Date & Time</ion-label>
            <ion-datetime displayFormat="DDDD, MMM D, YYYY, hh:mma" pickerFormat="DDDD, MMM D, YYYY, hh:mma" [max]="2120" name="assigneddate"
                formControlName="assigneddate" monthNames="Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec" dayNames="Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label floating>Opening Hymn</ion-label>
            <ion-input type="text" name="openinghymn" formControlName="openinghymn" maxlength="500"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label *ngIf="!openingprayer">Opening Prayer</ion-label>
            <ion-label floating color="secondary" *ngIf="openingprayer">Opening Prayer</ion-label>
            <ion-select name="openingprayer" [(ngModel)]='openingprayer' formControlName="openingprayer">
                <ng-container *ngFor="let user of users">
                    <ion-option [value]="user">{{user.firstname}} {{user.lastname}}</ion-option>
                </ng-container>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label *ngIf="!spiritualthought">Spiritual Thought</ion-label>
            <ion-label floating color="secondary" *ngIf="spiritualthought">Spiritual Thought</ion-label>
            <ion-select name="spiritualthought" [(ngModel)]='spiritualthought' formControlName="spiritualthought">
                <ng-container *ngFor="let user of users">
                    <ion-option [value]="user">{{user.firstname}} {{user.lastname}}</ion-option>
                </ng-container>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label *ngIf="!assignments">Assignments</ion-label>
            <ion-label floating color="secondary" *ngIf="assignments">Assignments</ion-label>
            <ion-select name="assignments" [(ngModel)]='assignments' formControlName="assignments">
                <ng-container *ngFor="let assignment of assignmentslist">
                    <ion-option [value]="assignment">{{assignment.description}}</ion-option>
                </ng-container>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label *ngIf="!completedassignments">Completed Assignments</ion-label>
            <ion-label floating color="secondary" *ngIf="completedassignments">Completed Assignments</ion-label>
            <ion-select name="completedassignments" [(ngModel)]='completedassignments' formControlName="completedassignments">
                <ng-container *ngFor="let completedassignment of completedassignmentslist">
                    <ion-option [value]="completedassignment">{{completedassignment.description}}</ion-option>
                </ng-container>
            </ion-select>
        </ion-item>

        <ion-list>
            <ion-label class="label-styles">Spiritual Welfare</ion-label>
            <ng-container *ngFor="let item of spiritualwelfareObj">
                <ion-item class="item-styles">
                    <ion-input type="text" [value]="item"></ion-input>
                    <button color="secondary" name="plusBtn" ion-button icon-only clear item-right (click)="plusBtn(item)">
                 <ion-icon name="councilscircle" ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
                </button>
                </ion-item>
            </ng-container>
        </ion-list>

        <ion-list>
            <ion-label class="label-styles">Temporal Welfare</ion-label>
            <ng-container *ngFor="let item of temporalwelfareObj">
                <ion-item class="item-styles">
                    <ion-input type="text" [value]="item"></ion-input>
                    <button color="secondary" name="plusBtn" ion-button icon-only clear item-right (click)="plusBtn(item)">
                 <ion-icon name="councilscircle" ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
                </button>
                </ion-item>
            </ng-container>
        </ion-list>

        <ion-list>
            <ion-label class="label-styles">Fellowship Items</ion-label>
            <ng-container *ngFor="let item of fellowshipitemsObj">
                <ion-item class="item-styles">
                    <ion-input type="text" [value]="item"></ion-input>
                    <button color="secondary" name="plusBtn" ion-button icon-only clear item-right (click)="plusBtn(item)">
                 <ion-icon name="councilscircle" ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
                </button>
                </ion-item>
            </ng-container>
        </ion-list>

        <ion-list>
            <ion-label class="label-styles">Missionary Items</ion-label>
            <ng-container *ngFor="let item of missionaryitemsObj">
                <ion-item class="item-styles">
                    <ion-input type="text" [value]="item"></ion-input>
                    <button color="secondary" name="plusBtn" ion-button icon-only clear item-right (click)="plusBtn(item)">
                 <ion-icon name="councilscircle" ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
                </button>
                </ion-item>
            </ng-container>
        </ion-list>

        <ion-list>
            <ion-label class="label-styles">Events</ion-label>
            <ng-container *ngFor="let item of eventObj">
                <ion-item class="item-styles">
                    <ion-input type="text" [value]="item"></ion-input>
                    <button color="secondary" name="plusBtn" ion-button icon-only clear item-right (click)="plusBtn(item)">
                 <ion-icon name="councilscircle" ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
                </button>
                </ion-item>
            </ng-container>
        </ion-list>

        <!--<ion-item>
            <ion-label floating>Events</ion-label>
            <ion-textarea elastic name="event" formControlName="event" maxlength="500"></ion-textarea>
        </ion-item>-->

        <ion-item>
            <ion-label *ngIf="!closingprayer">Closing Prayer</ion-label>
            <ion-label floating color="secondary" *ngIf="closingprayer">Closing Prayer</ion-label>
            <ion-select name="closingprayer" [(ngModel)]='closingprayer' formControlName="closingprayer">
                <ng-container *ngFor="let user of users">
                    <ion-option [value]="user">{{user.firstname}} {{user.lastname}}</ion-option>
                </ng-container>
            </ion-select>
        </ion-item>

    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button color="danger" (click)="delete(agendaeditForm.value)">Delete</button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button color="secondary" (click)="edit(agendaeditForm.value)" [disabled]="!agendaeditForm.valid">Edit</button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>