<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-row>
            <ion-col class="header-col">
                <ion-icon class="councils-icon__back menu-icon" name="cancel" item-left color="secondary" (click)="cancel()"></ion-icon>
            </ion-col>
            <ion-col width-80 class="header-col2">
                <ion-title text-center>Lite</ion-title>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content>

    <form [formGroup]="newagendaliteForm" (ngSubmit)="newagendaliteForm.value">
        <ion-item>
            <ion-label floating>Council</ion-label>
            <ion-input type="text" readonly (click)="showCouncilsModal($event, newagendaliteForm.value)" formControlName="assignedcouncil"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Date & Time</ion-label>
            <ion-datetime displayFormat="DDDD, MMM D, YYYY, h:mm a" pickerFormat="DDD MMM D YYYY, h, mm, A" name="assigneddate" formControlName="assigneddate"
                minuteValues="00,05,10,15,20,25,30,35,40,45,50,55"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label floating>Opening Hymn</ion-label>
            <ion-input type="text" autocomplete="on" spellcheck="true" name="openinghymn" formControlName="openinghymn" maxlength="500"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Opening Prayer</ion-label>
            <ion-input type="text" (focus)="showList($event)" (input)="showList($event)" formControlName="openingprayer"></ion-input>
        </ion-item>
        <div *ngIf="showlist" class="assignto-list">
            <ng-container *ngFor="let user of users | search:term:'username'">
                <ion-item class="list-item" *ngIf="user.$key!==uid" (click)="bindAssignto(user)">
                    <ion-avatar item-left>
                        <img [src]="(user)?.avatar" class="avatarImage" *ngIf="(user)?.avatar && (user)?.avatar !== 'avatar'" />
                        <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!(user)?.avatar || (user)?.avatar === 'avatar'" />
                    </ion-avatar>
                    <h4 class="council-styles">{{user.firstname}} {{user.lastname}}</h4>
                    <svg height="8" width="8">
                        <circle cx="4" cy="4" r="4" [attr.fill]='user.status' />
                    </svg>
                </ion-item>
            </ng-container>
        </div>

        <ion-item>
            <ion-label floating>Spiritual Thought</ion-label>
            <ion-input type="text" (focus)="showList1($event)" (input)="showList1($event)" formControlName="spiritualthought"></ion-input>
        </ion-item>
        <div *ngIf="showlist1" class="assignto-list">
            <ng-container *ngFor="let user of users | search:term:'username'">
                <ion-item class="list-item" *ngIf="user.$key!==uid" (click)="bindAssignto1(user)">
                    <ion-avatar item-left>
                        <img [src]="(user)?.avatar" class="avatarImage" *ngIf="(user)?.avatar && (user)?.avatar !== 'avatar'" />
                        <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!(user)?.avatar || (user)?.avatar === 'avatar'" />
                    </ion-avatar>
                    <h4 class="council-styles">{{user.firstname}} {{user.lastname}}</h4>
                    <svg height="8" width="8">
                        <circle cx="4" cy="4" r="4" [attr.fill]='user.status' />
                    </svg>
                </ion-item>
            </ng-container>
        </div>

        <!--<ion-list class="border-line">-->
        <ion-item (click)="toggleGroup()" class="height-prop">
            <ion-label *ngIf="!shownGroup"  class="assignment-styles">
                Assignments
                </ion-label>
                <ion-label *ngIf="shownGroup"  class="assignment-styles1">
                    Assignments
                    </ion-label>
                    <button color="secondary"  class="no-padding"  name="councilsPage" icon-only clear item-right>
                        <ion-icon name="councilscircle"  [ngClass]="shownGroup? 'councils-icon__arrow_collapse icon-size' : 'councils-icon__arrow_expand icon-size'"
                             item-right></ion-icon>
                            </button>
        </ion-item>
        <ng-container *ngIf="assignmentslist.length">
            <ion-item class="ion-item-middle" *ngFor="let assignment of assignmentslist" text-wrap [ngClass]="{inactive: !shownGroup}">
                <ion-label class="desc-styles">{{assignment.description}}</ion-label>
            </ion-item>
        </ng-container>
        <!--</ion-list>-->

        <!--<ion-list class="border-line">-->
        <ion-item  (click)="toggleGroup1()" class="height-prop">
            <ion-label *ngIf="!shownGroup1" class="assignment-styles">
                Completed Assignments
            </ion-label>
            <ion-label *ngIf="shownGroup1" class="assignment-styles1">
                Completed Assignments
            </ion-label>
            <button color="secondary"  class="no-padding"  name="councilsPage" ion-button icon-only clear item-right>
                        <ion-icon name="councilscircle"  [ngClass]="shownGroup1? 'councils-icon__arrow_collapse icon-size' : 'councils-icon__arrow_expand icon-size'"           
                     item-right></ion-icon>
                    </button>
        </ion-item>
        <ion-item class="ion-item-middle" *ngFor="let completedassignment of completedassignmentslist" text-wrap [ngClass]="{inactive: !shownGroup1}">
            <div class="desc-styles">{{completedassignment.description}}</div>
        </ion-item>
        <!--</ion-list>-->

        <ion-item>
            <ion-label *ngIf="!discussionitems">Discussion Items</ion-label>
            <ion-label floating color="secondary" *ngIf="discussionitems">Discussion Items</ion-label>
            <ion-textarea type="text" wrap="off" autocomplete="on" spellcheck="true" (focus)="discussionfocus()" elastic id="discussionitems" name="discussionitems" [(ngModel)]="discussionitems"
                formControlName="discussionitems" maxlength="500" (keyup)="keypressed($event)">
                </ion-textarea>
        </ion-item>

        <div *ngIf="showlist2" class="assignto-list">
            <ng-container *ngFor="let user of users | search:term:'username'">
                <ion-item class="list-item" *ngIf="user.$key!==uid" (click)="bindAssignto2(user)">
                    <ion-avatar item-left>
                        <img [src]="(user)?.avatar" class="avatarImage" *ngIf="(user)?.avatar && (user)?.avatar !== 'avatar'" />
                        <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!(user)?.avatar || (user)?.avatar === 'avatar'" />
                    </ion-avatar>
                    <h4 class="council-styles">{{user.firstname}} {{user.lastname}}</h4>
                    <svg height="8" width="8">
                        <circle cx="4" cy="4" r="4" [attr.fill]='user.status' />
                    </svg>
                </ion-item>
            </ng-container>
        </div>
        <ion-item>
            <ion-label floating>Closing Prayer</ion-label>
            <ion-input type="text" (focus)="showList2($event)" (input)="showList2($event)" formControlName="closingprayer"></ion-input>
        </ion-item>


    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button ion-button clear block color="secondary" (click)="createagenda(newagendaliteForm.value)" text-capitalize [disabled]="!newagendaliteForm.valid">Create</button>
    </ion-toolbar>
</ion-footer>