<ion-header>
  <ion-navbar hideBackButton>
    <!--<button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>-->
    <ion-row>
      <ion-col class="header-col">
        <ion-icon *ngIf="isNewAssignment" class="councils-icon__close menu-icon" name="close" item-left color="secondary" (click)="cancel()"></ion-icon>
        <ion-icon *ngIf="!isNewAssignment" class="councils-icon__back menu-icon" name="cancel" item-left color="secondary" (click)="cancel()"></ion-icon>
      </ion-col>
      <ion-col width-80 class="header-col2">
        <ion-title *ngIf="isNewAssignment" text-center>New Assignment</ion-title>
        <ion-title *ngIf="!isNewAssignment" text-center>Assignment</ion-title>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>
<ion-content>
  <form [formGroup]="assignmentForm" (ngSubmit)="assignmentForm.value" #assignment>
    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-input type="text" name="description" formControlName="description" maxlength="500" #assignmentdesc></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Council</ion-label>
      <ion-input type="text" readonly (touchstart)="showCouncilsModal($event, assignmentForm.value)" formControlName="assignedcouncil" #assignmentcouncil></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Assign to</ion-label>
      <ion-input type="text" (focus)="showList($event)" (input)="showList($event)" formControlName="assigneduser" #assignmentuser></ion-input>
    </ion-item>
    <div *ngIf="showlist" class="assignto-list">
      <ng-container *ngFor="let user of users | search:term:'username'">
        <ion-item class="list-item" *ngIf="user.$key!==uid" (click)="bindAssignto(user)">
          <ion-avatar item-left>
            <img [src]="(user)?.avatar" class="avatarImage" *ngIf="(user)?.avatar && (user)?.avatar !== 'avatar'" />
            <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!(user)?.avatar || (user)?.avatar === 'avatar'" />
          </ion-avatar>
          <h4 class="council-styles font4">{{user.firstname}} {{user.lastname}}</h4>
          <svg height="8" width="8">
            <circle cx="4" cy="4" r="4" [attr.fill]='user.status' />
          </svg>
        </ion-item>
      </ng-container>
    </div>
    <ion-item>
      <ion-label floating>Date & Time</ion-label>
      <ion-datetime displayFormat="DDDD, MMM D,YYYY, h:mm a" pickerFormat="DDD MMM D YYYY, h, mm, A" name="assigneddate" formControlName="assigneddate" 
      minuteValues="00,05,10,15,20,25,30,35,40,45,50,55" #assignmentdate></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>Notes</ion-label>
      <ion-textarea name="notes" elastic formControlName="notes"></ion-textarea>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ng-container *ngIf="isNewAssignment">
    <ion-toolbar>
      <button ion-button clear block color="secondary" (click)="createAssignment(assignmentForm.value)" text-capitalize [disabled]="!assignmentForm.valid">Create</button>
    </ion-toolbar>
  </ng-container>
  <ng-container *ngIf="!isNewAssignment && assignmentForm.value.isactive">
    <ion-toolbar *ngIf="!assignmentForm.value.isCompleted && isPersonalAssignment">
      <ion-buttons start>
        <button ion-button color="danger" (click)="showConfirm()">Delete</button>
      </ion-buttons>
      <button ion-button clear block color="secondary" [disabled]="!assignmentForm.valid" (click)="complete(assignmentForm.value)">Complete</button>
      <ion-buttons end>
        <button ion-button color="secondary" [disabled]="!assignmentForm.valid || !assignmentForm.dirty" (click)="edit(assignmentForm.value)">Save</button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar *ngIf="!assignmentForm.value.isCompleted && !isPersonalAssignment">
      <button ion-button clear block color="secondary" [disabled]="!assignmentForm.valid" (click)="complete(assignmentForm.value)">Complete</button>
    </ion-toolbar>
    <ion-toolbar *ngIf="assignmentForm.value.isCompleted">
      <button ion-button class="danger-color" clear block (click)="showConfirm()">Delete</button>
    </ion-toolbar>
  </ng-container>


</ion-footer>