new-assignment-page {
    button:disabled {
        color: #222;
    }
    .item-inner {
        font-family: Bernina-Regular;
    }
    
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .list-md .item-input.input-has-focus:last-child {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .list-md .item-input.input-has-focus:last-child .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .item-md.item-block .item-inner,
    .item-ios.item-block .item-inner,
    .item-ios.item-block .item-inner {
        border-bottom: none !important;
    }

    .bar-buttons-md{
        order: 3;
    }
    .bar-button-md{
        font-size: 17px;
    }

    .danger-color{
        color: #F13822;
    }
    .assignto-list{
        position: absolute;
        z-index: 99;
        max-height: 200px;
        width: 100%;
        overflow-y: scroll;
    }
    .assignto-list{
        ion-label{
            display: flex;
            align-items: center;
        }
        ion-label h4{
            flex: 1;
        }
    }
    .font4{
        font-family: Bernina-Regular, sans-serif;
        font-size: 15px !important;
        color: #35373a !important;
    }
    ion-footer button:first-child{
        padding-left:15px;
    }
    ion-footer button:last-child{
        padding-right: 15px;
    }
     .header-col {
    display: flex !important;
   align-items: center !important;
    /* align-items: center; */
    justify-content: center;
    min-width: 44px !important;
    max-width: 44px !important;
    min-height: 44px !important;
    max-height: 44px !important;
}
.header-col2{
    display: flex !important;
align-items: center !important;
}

ion-avatar img,
ion-thumbnail img {
    display: block;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50% !important;
}

ion-avatar {
    background: #F4F6FA;
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
    min-height: 30px !important;
    border-radius: 50% !important;
}
.invalid ion-datetime{
        border-bottom: 1px solid #F13822;
    }

    

}