notificationsettings-page {
    
    .scroll-content {
       
        background: #fafafa !important;
    }

    .label-styles {
        font-family: Bernina-Regular !important;
        font-size: 17px !important;
        color: #35373a !important;
    }

    
    
}