new-assignment-page {
    button:disabled {
        color: #222;
    }
    .item-inner {
        font-family: Bernina-Regular;
    }
    
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .list-md .item-input.input-has-focus:last-child {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .list-md .item-input.input-has-focus:last-child .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }
    .item-md.item-block .item-inner,
    .item-ios.item-block .item-inner,
    .item-ios.item-block .item-inner {
        border-bottom: none !important;
    }

    .bar-buttons-md{
        order: 3;
    }
    .bar-button-md{
        font-size: 1.7rem;
    }
}