<ion-header>
  <ion-navbar>
    <!--<button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>-->
    <ion-title text-center>
      New Assignment
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="createAssignment()" #newAssignmentForm="ngForm">
    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-input type="text" name="description" [(ngModel)]="description" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Assign to</ion-label>
      <ion-select [(ngModel)]="assignTo" name="assignTo">
        <ion-option *ngFor="let member of members" [value]="member.name" required>{{member.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Council</ion-label>
      <ion-select [(ngModel)]="council" name="council">
        <ion-option *ngFor="let council of councils" [value]="council" required>{{council}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Date</ion-label>
          <ion-datetime displayFormat="DD.MM.YYYY" [(ngModel)]="date" name="date" required></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label floating>Time</ion-label>
          <ion-datetime displayFormat="HH:mm a" [(ngModel)]="time" name="time" required></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label floating>Notes</ion-label>
      <ion-textarea name="notes" [(ngModel)]="notes" elastic required></ion-textarea>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button clear color="danger" (click)="cancel()">Cancel</button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button clear color="secondary" type="submit" [disabled]="!newAssignmentForm.form.valid">Create</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>