new-assignment-page{
  
    .cancel-font{
        font-size: 50px;
    }

    .ion-md-close {
        font-size: 24pt;
        position: absolute;
        top:15px;
    }
    ion-col{
        padding: 0;
    }
     button:disabled{
        color:#222;
    }
    .item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: #DEDEDE !important;
  box-shadow: none !important;
}

.list-md .item-input.input-has-focus:last-child {
  border-bottom-color: #DEDEDE !important;
  box-shadow: none !important;
}

.list-md .item-input.input-has-focus:last-child .item-inner {
  box-shadow: none;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: #DEDEDE !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
  border-bottom-color: #DEDEDE !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
  box-shadow: none;
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
  border-bottom-color: #DEDEDE !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
  border-bottom-color: #DEDEDE !important;
  box-shadow: none !important;
}
.item-md.item-block .item-inner,.item-ios.item-block .item-inner,.item-ios.item-block .item-inner{
  border-bottom:none !important;
}

.header-col{
  display: flex;
    /* align-items: center; */
    justify-content: center;
  
}
ion-col h3{
    font-weight: bold;
     font-family: "Bernina-Bold", sans-serif;
    font-size: 1.35em !important;
    color : #35373A !important;
}
}
