<ion-header>
  <ion-navbar>
    <!--<button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>-->
    <ion-icon class="cancel-font" item-left color="secondary" ios="ios-close" md="md-close" (click)="cancel()"></ion-icon>
    <ion-title text-center>
      New Assignment
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form #newAssignmentForm="ngForm">
    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-input type="text" name="description" [(ngModel)]="assignment.description" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Assign to</ion-label>
      <ion-select [(ngModel)]="temp.assigneduser" name="assigneduser" (ionChange)="assignedMemberChange()">
        <ng-container *ngFor="let user of users">
          <ion-option *ngIf="user.$key!=appservice.uid" [value]="user" required>{{user.firstname}}</ion-option>
        </ng-container>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Council</ion-label>
      <ion-select [(ngModel)]="assignment.assignedcouncil" name="assigedcouncil">
        <ion-option *ngFor="let c of councils" [value]="c" required>{{c.council}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Date</ion-label>
          <ion-datetime displayFormat="DD.MM.YYYY" [(ngModel)]="assignment.assigneddate" name="assigneddate" required></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label floating>Time</ion-label>
          <ion-datetime displayFormat="hh:mmA" [(ngModel)]="assignment.assignedtime" name="assignedtime" required></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label floating>Notes</ion-label>
      <ion-textarea name="notes" [(ngModel)]="assignment.notes" elastic required></ion-textarea>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button clear color="danger" text-capitalize (click)="cancel()">Cancel</button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button clear color="secondary" (click)="createAssignment()" text-capitalize [disabled]="!newAssignmentForm.form.valid">Create</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>