<ion-header>
  <ion-navbar>
    <!--<button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>-->
    <ion-row>
      <ion-col class="header-col" width-10>
        <ion-icon class="cancel-font" item-left color="secondary" ios="ios-close" md="md-close" (click)="cancel()"></ion-icon>
      </ion-col>
      <ion-col width-80>
        <h3>
          New Assignment
        </h3>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>
<ion-content>
  <form [formGroup]="assignmentForm" (ngSubmit)="assignmentForm.value">
    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-input type="text" name="description" formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Assign to</ion-label>
      <ion-select name="assigneduser" (ionChange)="assignedMemberChange(assignmentForm.value)" formControlName="assigneduser">
        <ng-container *ngFor="let user of users">
          <ion-option *ngIf="user.$key!=appservice.uid" [value]="user">{{user.firstname}}</ion-option>
        </ng-container>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Council</ion-label>
      <ion-select name="assignedcouncil" formControlName="assignedcouncil">
        <ion-option *ngFor="let c of councils" [value]="c">{{c.council}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Date</ion-label>
          <ion-datetime displayFormat="DD.MM.YYYY" [min]="minDate" max="2117-12-31" name="assigneddate" formControlName="assigneddate"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label floating>Time</ion-label>
          <ion-datetime displayFormat="hh:mmA" name="assignedtime" formControlName="assignedtime"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label floating>Notes</ion-label>
      <ion-textarea name="notes" elastic formControlName="notes"></ion-textarea>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button ion-button clear block color="secondary" (click)="createAssignment(assignmentForm.value)" text-capitalize [disabled]="!assignmentForm.valid">Create</button>
  </ion-toolbar>
</ion-footer>