<ion-header>
    <ion-navbar hideBackButton="true"> 
        <ion-row>
            <ion-col class="header-col" width-10>
                <ion-icon class="cancel-font" name="cancel" item-left color="secondary" ios="ios-arrow-round-back" md="md-arrow-round-back"
                    (click)="cancel()"></ion-icon>
            </ion-col>
            <ion-col width-80>
                <h3>
                  Agendas
                </h3>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content padding center text-center>
  <!--<ng-container *ngIf="(agendasArray | async)?.length">
    <ion-list inset>
      <ion-item (click)="agendaSelected(item, i)" *ngFor="let item of agendasArray | async; let i = index" [attr.data-index]="i">
        <ion-icon name="list" color="secondary" item-left [ngClass]="{'active': selectedIdx == i}"></ion-icon>
        <ion-icon name="list" color="secondary" item-left [ngClass]="{'active': selectedIdx != i}"></ion-icon>
        <h3>{{item.assigneddate}}</h3>
        <p><span>{{item.councilname}}</span>
        </p>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-container *ngIf="!(agendasArray | async)?.length">
    <p class="text-content">There are no agendas</p>
  </ng-container>-->
</ion-content>
    