agendas-page {

    .scroll-content {
        padding-top: 20px !important;
    }

    .list-page ion-item {
        height: 64px !important;
    }

    ion-list:first-child {
        border-top: 1px solid #e8e9eb;
    }

    ion-list:last-child {
        border-bottom: 1px solid #e8e9eb;
    }

    ion-list:last-child.item-ios.item-block .item-inner {
        border: none !important;
    }

    .agendadate-styles {
        font-family: Bernina-Regular !important;
        font-size: 17px !important;
        color: #3cb18a !important;
        margin-left: -55px !important;
    }
    .agendacouncil-styles {
        font-family: Bernina-Regular !important;
        font-size: 13px !important;
        color: #a9aaac !important;
        margin-left: -55px !important;
    }

    .background-color{
        background: #ffffff;
    }
   
    .menu-style{
        padding-top: 10px;
    }
    .item-ios [item-right] {
    margin: -11px -10px -11px 40px;
}
.item-md [item-right]{
    margin: -11px -10px -11px 40px;    
}
 .ion-item-middle.item-ios.item-block:last-child .item-inner,
    .ion-item-middle.item-md.item-block:last-child .item-inner{
        border-bottom: none !important;
    }
}