<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-row>
      <ion-col class="header-col" width-10>
        <ion-icon class="cancel-font" name="cancel" item-left color="secondary" ios="ios-arrow-round-back" md="md-arrow-round-back"
          (click)="cancel()"></ion-icon>
      </ion-col>
      <ion-col width-80>
        <ion-title text-center>Agendas</ion-title>
      </ion-col>
    </ion-row>
    <ion-buttons end>
      <button ion-button>
      <ion-icon class="notificationsicon" name="notifications-outline" color="secondary"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding center text-center>
  <ng-container *ngIf="agendasArray.length">
    <ion-list inset>
      <ion-item class="background-color" (click)="agendaSelected(item)" *ngFor="let item of agendasArray">
        <!--<ion-icon name="list" color="secondary" item-left></ion-icon>-->
        <ion-img class="img-styles" src="../assets/icon/agendaicon.png"></ion-img>

        <p class="agendadate-styles">{{(item.agendadate)|date:'MMMM d'}}</p>
        <button ion-button item-right clear>
      <ion-icon class="icon-style" name="arrow-forward"></ion-icon>
      </button>
        <p><span class="agendacouncil-styles">{{item.agendacouncil}}</span>
        </p>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-container *ngIf="!agendasArray.length">
    <div class="nocontent-message">
      <p class="background-color">There are no agendas</p>
    </div>
  </ng-container>
</ion-content>