page-activecouncils {
    .text-content {
        position: absolute;
        top: 50%;
        width: 100%;
        margin: auto;
        color: map-get($colors, light-gray);
    }
    .council-styles {
        font-family: Bernina-Regular !important;
        font-size: 17px !important;
        color: #35373a !important;
    }
    .icon-style {
        color: #A9AAAC;
        width: 8px;
        height: 13px;
    }
    .divider {
        background: #FAFAFA !important;
    }
    .divider ion-label {
        font-family: Bernina-semibold, sans-serif;
        font-size: 13px !important;
        color: #35373a !important;
    }
    .unittype {
        background: #FAFAFA !important;
        border-bottom: none !important;
        text-transform: uppercase;
    }
    .unittype ion-label {
        font-family: Bernina-semibold, sans-serif;
        font-size: 13px !important;
        color: #35373a !important;
    }
}