<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-row>
      <ion-col class="header-col">
        <ion-icon class="councils-icon__back menu-icon" name="cancel" item-left color="secondary" (click)="cancel()"></ion-icon>
      </ion-col>
      <ion-col width-80 class="header-col2">
        <ion-title text-center>
          Active Councils
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group>

    <ng-container *ngIf="myCouncils.length">
      <ion-item-divider></ion-item-divider>
      <ion-list inset>
        <ion-item (click)="usersincouncils(item.$key,item.council)" class="council-styles" *ngFor="let item of myCouncils">
          <ion-label class="council-styles">{{item.council}}</ion-label>
          <button ion-button item-right clear>
      <ion-icon class="councils-icon__chevron_right fwd-arrow-grey" ></ion-icon>
      </button>
        </ion-item>
      </ion-list>
    </ng-container>
  </ion-item-group>


  <ng-container *ngIf="!myCouncils.length">
    <div class="nocontent-message">
      <p>There are no active councils</p>
    </div>
  </ng-container>
</ion-content>