<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col class="header-col" width-10>
        <ion-icon class="cancel-font" name="cancel" item-left color="secondary" ios="ios-arrow-round-back" md="md-arrow-round-back" (click)="cancel()"></ion-icon>
      </ion-col>
      <ion-col width-80>

        <h3>
          Active Councils
        </h3>
      </ion-col>
    </ion-row>

    <!--<ion-title text-center>
      Active Councils
    </ion-title>-->
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list inset>
    <ng-container *ngIf="myCouncils.length">
       <ion-item *ngFor="let item of myCouncils">
      {{item.council}}
    </ion-item>
    </ng-container>
   <ng-container *ngIf="!myCouncils.length">
      <p class="text-content">There are no active councils</p>
    </ng-container>
  </ion-list>
</ion-content>