<ion-header>
    <ion-navbar>
        <ion-buttons class="menu-button" left>
            <button ion-button menuToggle>
      <ion-icon class="icon councils-icon__left_menu menu-icon" name="menu" ></ion-icon>
    </button>
        </ion-buttons>
        <ion-title>Files</ion-title>
        <ion-buttons class="menu-button" end>
            <button ion-button (click)="notificationsPage()">
     <ion-icon class="icon councils-icon__notifications menu-icon">
         <ion-badge item-right class="notification-badge"  color='danger' *ngIf="notificationsCount">{{notificationsCount}}</ion-badge>
      </ion-icon> 
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!--<ion-item-divider class="empty"></ion-item-divider>-->
<ion-content  [ngClass]="filesArray.length? 'list-page':'' ">
    <ng-container *ngIf="filesArray.length">
        <ion-list>
            <ion-item  [ngClass]="filesArray.length === 1 ? 'no-border' : (i === 0 ? 'ion-item-first': (i === filesArray.length-1 ? 'ion-item-last' : 'ion-item-middle'))" *ngFor="let item of filesArray; let i = index"
                text-wrap (click)="viewCouncilFile(item)">
                <span class="council-styles">{{item.councilname}}</span>
                <span class="right-align"><ion-icon class="councils-icon__chevron_right fwd-arrow-grey"></ion-icon></span>
                <p><span class="name-styles">{{item.filename}}</span></p>
                <p class="name-styles">by <span ion-text color="secondary">{{item.createdUser}}</span>
                    <span class="date-styles">{{item.createdDate | customtimeformat}}</span></p>
            </ion-item>
        </ion-list>
    </ng-container>
    <ng-container *ngIf="!filesArray.length">
        <div class="no-content">
            <ion-label text-center class="nocontent">There are no files</ion-label>
        </div>
    </ng-container>
</ion-content>
<ion-footer>
    <button ion-button color="secondary" class="button button-clik" clear block (click)="addFile()">Add File</button>
</ion-footer>