<ion-content>
  <div class="create-header">
    <span class="create-title">Create Account</span>
    <div class="create-subheader">
      Enter your Councils invitation email<br>and create a password
    </div>
  </div>

  <form class="formcontent" (ngSubmit)="createAccount()" #createAccountForm="ngForm">
    <ion-item [class.invalid]="!isValidEmail || emailTaken || !isInvitedEmail" class="input-item">
      <ion-label class="inputtype" floating>Email</ion-label>
      <ion-input type="email" name="email" validate-onblur class="form-control" (blur)="emailChange($event)" (keyup)="keypresssed($event)"
        [(ngModel)]="newUser.email" id="password" required></ion-input>
    </ion-item>
    <ion-label class="lbl-note" *ngIf="isValidEmail && !emailTaken && isInvitedEmail">Use councils invitation email</ion-label>
    <ion-label class="error-msg" *ngIf="!isValidEmail">Should be in the format username@domain.com</ion-label>
    <ion-label class="error-msg" *ngIf="emailTaken">Email taken</ion-label>
    <ion-label class="error-msg" *ngIf="!isInvitedEmail">Not invited</ion-label>

    <ion-item [class.invalid]="(password.errors && password.dirty)" class="input-item">
      <ion-label class="inputtype" floating>Password</ion-label>
      <ion-input type="password" name="password" validate-onblur class="form-control" #password="ngModel" minlength='6' [(ngModel)]="newUser.password"
        id="email" required (keyup)="pswrdkeypresssed($event)"></ion-input>
    </ion-item>
    <ion-label class="lbl-note" *ngIf="!(password.errors && password.dirty)">Minimum 6 characters</ion-label>
    <ion-label class="error-msg" *ngIf="(password.errors && password.dirty)">Minimum 6 characters</ion-label>

    <ion-item class="input-item">
      <ion-label class="inputtype" floating> LDS.org username</ion-label>
      <ion-input type="text" name="ldsusername" [(ngModel)]="newUser.ldsusername" id="ldsusername" required></ion-input>
    </ion-item>
    <div class="createBtn">
      <button ion-button block clear class="button button-clik" color="secondary" name="CreateAccount" type="submit" text-capitalize
        [disabled]="!isValidEmailFormat || !isValidPwd || !createAccountForm.form.valid" text-capitalize>Create Account</button>
    </div>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button class="cancelBtn button button-clik" ion-button clear color="secondary" name="Cancel" block text-capitalize (click)="cancel()"
      text-capitalize>Cancel</button>
  </ion-toolbar>
</ion-footer>