new-private-discussion-page {
    .ion-ios-close {
        font-size: 300% !important;
    }
    .text-input-md {
        margin: 13px 8px 13px 0 !important;
    }
    .center {
        position: absolute;
        top: 40%;
        width: 100%;
    }
    ion-content ion-item ion-label {
        white-space: normal !important;
    }
    .flex-change {
        padding-top: 10pt;
        // padding-bottom: 10pt;
    }
    .flex-change .input-wrapper {
        flex-direction: column;
        align-items: flex-start
    }
    .flex-change .label-md,
    .flex-change .label-ios,
    .flex-change .label-wp {
        margin: 0;
        overflow: visible;
    }
    .flex-change .item-inner {
        padding-bottom: 6pt;
    }
    .font5{
        font-family: Bernina-Regular, sans-serif;
        font-size: 17px !important;
        color: #35373a !important;
    }
    .font1{
        font-family: Bernina-Regular, sans-serif;
        font-size: 17px !important;
        color: #a9aaac !important;
    }
    .searchbar-ios .searchbar-input{
        padding: 6px 20px 6px 25px !important;
        background: #F4F6FA !important;
        border: none !important;
        box-shadow: none !important;
    }
     .searchbar-md .searchbar-input{
        padding: 6px 20px 6px 30px !important;
        background: #F4F6FA !important;
        border: none !important;
        box-shadow: none !important;
    }
    .searchbar-search-icon {
        left:8px !important;
    }
    .searchbar-clear-icon{
        right:0 !important;
        padding-right: 0 !important;
    }
    ion-searchbar{
        background: #F4F6F4 !important;
    }
}