new-private-discussion-page {
    .ion-ios-close {
        font-size: 300% !important;
    }
    .text-input-md {
        margin: 13px 8px 13px 0 !important;
    }
    .center {
        position: absolute;
        top: 40%;
        width: 100%;
    }
    ion-content ion-item ion-label {
        white-space: normal !important;
    }
    .flex-change {
        padding-top: 10pt;
        // padding-bottom: 10pt;
    }
    .flex-change .input-wrapper {
        flex-direction: column;
        align-items: flex-start
    }
    .flex-change .label-md,
    .flex-change .label-ios,
    .flex-change .label-wp {
        margin: 0;
        overflow: visible;
    }
    .flex-change .item-inner {
        padding-bottom: 6pt;
    }
    .font5{
        font-family: Bernina-Regular, sans-serif;
        font-size: 17px !important;
        color: #35373a !important;
    }
    .font1{
        font-family: Bernina-Regular, sans-serif;
        font-size: 17px !important;
        color: #a9aaac !important;
    }
}