<ion-header>
    <ion-navbar hideBackButton>
        <ion-row>
            <ion-col class="header-col">
                <ion-icon class="councils-icon__close menu-icon" name="cancel" item-left color="secondary" (click)="cancel()"></ion-icon>
            </ion-col>
            <ion-col width-80>
                <h3 text-center>New Private Discussion</h3>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="searchFn($event)" class="font1" placeholder="Who do you want to chat with?"></ion-searchbar>
    <form [formGroup]="NewPrivateDiscussionForm" (ngSubmit)="NewPrivateDiscussionForm.value">
        <ion-item-group>
            <ion-list radio-group id="otheruser" name="otheruser" formControlName="otherUser">
                <ng-container *ngFor="let user of users | search:term:'username'">
                    <ion-item *ngIf="user.$key!==uid" class="flex-change">
                        <ion-avatar item-left>
                            <img [src]="user.avatar" class="avatarImage" *ngIf="user.avatar">
                            <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!user.avatar" />
                        </ion-avatar>
                        <ion-label class="font5">{{user.firstname}} {{user.lastname}}</ion-label>
                        <ion-label class="font1">{{user.councilsString}}</ion-label>
                        <ion-radio [value]="user" color="secondary"></ion-radio>
                    </ion-item>
                </ng-container>
            </ion-list>
            <!--<ion-spinner *ngIf="isLoading" class="center"></ion-spinner>-->
        </ion-item-group>
    </form>
</ion-content>

<ion-footer>
    <button ion-button color="secondary" clear block [disabled]="!NewPrivateDiscussionForm.valid" (click)="create(NewPrivateDiscussionForm.value)">Create</button>
</ion-footer>