transferadminrights-page {
   .font1{
        font-family: Bernina-Regular, sans-serif;
        font-size: 17px !important;
        color: #35373a !important;
    }
     .council-names {
         font-family: Bernina-Regular !important;         
         color: #a9aaac;
         font-size: 17px !important;
     }

     .background {
         background: #fafafa;
     }
      ion-avatar,
    ion-avatar img {
        height: 36px !important;
        width: 36px !important;
        min-width: 36px !important;
        min-height: 36px !important;
    }
    .input-wrapper{
        position:relative !important;
    }
    .status, svg{
        position: absolute;
        right:10px;
        top:22px;
    }
}