transferadminrights-page {
   .font1{
        font-family: Bernina-Regular, sans-serif;
        font-size: 17px !important;
        color: #35373a !important;
    }
     .council-names {
         font-family: Bernina-Regular !important;         
         color: #a9aaac;
         font-size: 17px !important;
     }

     .background {
         background: #fafafa;
     }
}