new-agenda {
    .icon-style {
        color: #A9AAAC;
        width: 0.66em;
        height: 1.08em;
    }
    .council-styles {
        font-family: Bernina-Regular !important;
        font-size: 120% !important;
        color: #35373a !important;
    }
}