new-agenda {
    .icon-style {
        color: #A9AAAC;
        width: 0.66em;
        height: 1.08em;
    }
    .council-styles {
        font-family: Bernina-Regular !important;
        font-size: 120% !important;
        color: #35373a !important;
    }
    .list-styles{
        background: #fff;    
    }
    .empty {
        height: 28px;
        background-color: #f7f7f7;
        border-top: 1px solid #e8e9eb !important;
        border-bottom: 1px solid #e8e9eb !important;
    }
    .background-styles{
        background-color: #ffffff !important;
        
    }
}