page-welcome {
    .noborder {
        border: 0px !important;
        border-bottom-color: transparent !important;
        background-image: none !important;
        border-bottom: none !important;
    }
    .listbtn1 {
        font-size: 13pt !important;
        color: #35373A !important;
        font-family: Bernina-SemiBold !important;
        margin-left: 7%;
    }
    .listbtn2 {
        font-size: 17pt !important;
        font-family: Bernina-Regular !important;
    }
    b {
        color: #35373a !important;
        font-size: 13pt !important;
        font-family: Bernina-Semibold, sans-serif;
    }
    .signOutbtn {
        color: red;
        font-size: 15pt;
    }
    .count {
        color: #a9aaac;
        margin-left: 13px;
    }
    .item-ios.item-block .item-inner,
    .item-md.item-block .item-inner {
        border: none !important;
    }
    .button-inner {
        justify-content: flex-start;
    }
    .button-md.activated {
        color: #FFFFFF;
    }
    .button-ios.activated {
        color: #FFFFFF;
    }
    .item-md ion-avatar ion-img,
    .item-md ion-avatar img {
        width: 48pt;
        height: 48pt;
    }
    .item-ios ion-avatar ion-img,
    .item-ios ion-avatar img {
        width: 48pt;
        height: 48pt;
    }
}

.actionsheet-items {
    color: #3cb18a !important;
    font-family: Bernina-Regular !important;
    font-size: 1.42em !important;
}

.actionsheet-cancel {
    color: #35373A !important;
    font-family: Bernina-Regular !important;
    font-size: 1.42em !important;
}