<ion-menu name="menu" id="menu" [content]="content" type="overlay" swipeEnabled="false" (ionOpen)="menuOpened()">
    <ion-header>
    </ion-header>
    <ion-content>
        <ion-navbar hideBackButton="true">
            <ion-item style="border: none !important">
                <ion-row>
                    <ion-avatar item-left>
                        <img [src]="(userObj)?.avatar" class="avatarImage" *ngIf="(userObj)?.avatar" />
                        <img src="assets/icon/noavatar.png" class="avatarImage" *ngIf="!(userObj)?.avatar" />
                    </ion-avatar>

                    <ion-col style="margin-left: 16pt">
                        <ion-row class='user1'>
                            {{(userObj)?.firstname}}
                        </ion-row>
                        <ion-row class='user2'>
                            <p>{{(userObj)?.calling}} - {{(userObj)?.unitnumber}}</p>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-navbar>
        <ion-slides #switcher pager='true'>
            <ion-slide>
                <slide1></slide1>
            </ion-slide>
            <ion-slide>
                <slide2></slide2>
            </ion-slide>
        </ion-slides>
        <!--<md-card>
            <md-card-title>Demo</md-card-title>
            <md-card-content>
                <swiper [config]="config">
                    <div class="swiper-wrapper">
                        <img class="swiper-slide" *ngFor="let image of images" [src]="image">
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </swiper>
            </md-card-content>
            <md-card-actions>
                <button md-raised-button color="primary" (click)="loadImages()">load images</button>
            </md-card-actions>
        </md-card>-->
        <!--<slide1 *ngIf=step></slide1>
        <slide2 *ngIf=!step></slide2>-->


    </ion-content>
    <ion-footer text-center>
        <!--<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
            <span class="swiper-pagination-bullet " [class.active]=step (click)="$event.target.classList.contains('active') || getDataForTable($event)"></span>
            <span class="swiper-pagination-bullet" [class.active]=!step (click)="$event.target.classList.contains('active') || getData($event)"></span>
        </div>-->
        <button ion-button class="signOutbtn" name="SignOut" clear menuToggle text-capitalize (click)="signOut()">
            Sign Out
        </button>
    </ion-footer>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>