page-welcome {
    
    .listbtn1 {
        font-size: 13px !important;
        color: #35373A !important;
        font-family: Bernina-SemiBold !important;
        padding-left: 16px;
        text-align: left;
        // margin: auto;
        // padding-right: 16px;
    }
    
    .listbtn2 {
        font-size: 17px !important;
        font-family: Bernina-Regular !important;
    } 
    
    .active {
        opacity: 1;
        background: #3cb18a;
    }
    .swiper-pagination-bullet {
        margin-right: 10px;
    }
    .swiper-pagination-bullet-active {
        background: #3cb18a;
    }
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
        bottom: 1px;
        position: fixed;
        background: #fff !important;     
    }

    .menu-selected {
        background: #3cb18a !important;
        color: #fff !important;
        border-radius: 0 !important;
    }

    .menu-selected span, .menu-selected span ion-icon {
        color: #fff !important;
    }

}

