member-reactivated {
    ion-content{
         background-color: #f7f7f7 !important;
    }  
    .Thank {
        margin-top: 30%;
        margin-bottom: 12pt;
    }
    .goal {
        margin-bottom: 20%;
    }
    .message {
        padding-top: 50% !important;
    }
    .title-styles {
        font-family: Gotham-Medium !important;
        font-size: 27px !important;
        color: #35373a !important;
    }
    .content-styles {
        font-family: Bernina-Regular !important;
        font-size: 17px !important;
        color: #35373a !important;
        margin-top:-15px;
    }
}