page-councilusersmodal {
    .council-styles {
        font-family: Bernina-Regular !important;
        font-size: 120% !important;
        color: #35373a !important;
    }
    ion-label{
        display: flex;
        align-items: center;
    }
    ion-label h4{
        flex: 1;
    }
}