page-councilusersmodal{
    ion-content{
      position: fixed;
      top: 50%;
      bottom: 11%;
      height: auto;
    }
    .council-styles{
      font-family: Bernina-Regular !important;
      font-size: 1.2em !important;
      color: #35373a !important;
    }
}
